{% extends 'website/base.html' %}
{% load static %}
{% load poster %}
{% load humanize %}
{% block title %}{{ object.unique_name }}{% endblock %}

{% block meta %}
    {{ block.super }}
{% endblock %}

{% block head_script %}
    {{ block.super }}
    <script src="{% static 'website/js/poster.js' %}"></script>
    <script>
        var isCapturing = {% if object.capture %}true{% else %}false{% endif %}
        var loginURL = "{% url 'auth:login' %}?next={{request.path}}"
        var ratingURL = "{% url 'api:rating-rate' poster_id=object.id %}"
        var sharedURL = "{% url 'api:statistics-shared' poster_id=object.id  %}"
        var contactedURL = "{% url 'api:statistics-contacted' poster_id=object.id  %}"
        var likedURL = "{% url 'api:like-like' poster_id=object.id  %}"
        var bookmarkURL =  "{% url 'api:favorite-bookmark' poster_id=object.id  %}"
        var favoredURL = "{% url 'api:statistics-favored' poster_id=object.id  %}"
        var funURL = "{% url 'api:fun-fun' poster_id=object.id  %}"
        var auth_user_id = {% firstof request.user.id "null"%}
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'libs/common/video-js5.0.0.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/font-awesome4.5.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-app.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-header.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-bottom.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/full-slider.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-card.css' %}">


    {% if object.css %}
    <link rel="stylesheet" href="{{ object.css.url }}">
    {% endif %}
    {% include 'libs/widgets/clip_style.html' %}
{% endblock %}

{% block head_more %}
    {{ block.super }}
    {% include 'libs/photo_swipe/head.html' %}
{% endblock %}

{% block body_start %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="app">
        <div class='app-body'>
            <div class='app-content'>
                <div class="scrollable">
                    <div class="scrollable-content">
                        <div class="poster-frame center-block">
                            <div class="poster-top-ratio">
                                <div class="poster-header"><!--头部-->
                                    <div class="header-top">
                                        <div class="header-pages">
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/card/erwei.png' %}"></a></div>
                                        </div>
                                        <div class="header-title">
                                            <span class="align-helper"></span><img id = "header-click" src="{% static 'website/images/card/xiala.png'">
                                            <span class="align-helper"></span><img id = "shanglaID" style="display: none;" src="{% static 'website/images/card/shangla.png' %}">
                                        </div>
                                        <div style ="display: none;" class="header-music" id="poster-up"><!--下拉菜单按钮-->
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/card/a_button_like.png' %}"></a></div>
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/card/express-subscribe-disabled.png' %}"></a></div>
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/card/star.png' %}"></a></div>
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/card/contact-phone.png' %}"></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" ui-state="activeTab" default="0"></div>
                            </div>
                            <!-- pages -->
                            <div class="poster-pages-ratio">
                                <div>
                                    <div class="poster-pages">
                                        <img src="{% static 'white/images/card/sectionbg.png' %}">
                                    </div>
                                    <div id="footer-div" class="footer-div">
                                        <div class="footer-left" >
                                            <img  id = "leftarrow" class="leftarrow"  src="images/leftarrow.png">
                                        </div>
                                        <div class="footer-center">
                                            <ul class="footer-ul">
                                                <li><a href="tel:{{object.phone}}"><img src="{% static 'white/images/card/phonebg.png' %}">{{object.phone}}</a></li>
                                                <li><a href="mailto:{{object.email}}"><img src="{% static 'white/images/card/emailbg.png' %}">{{object.email}}</a></li>
                                                <li><a href="{{object.url}}"><img src="{% static 'white/images/card/webbg.png' %}">{{object.url}}</a></li>
                                                <li><a href="{{object.address_info}}"><img src="{% static 'white/images/card/adressbg.png' %}">{{object.address_info}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="footer-right">
                                            <img id="rightarrow" class="rightarrow" src="images/rightarrow.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end %}
    {{ block.super }}
    <script src="{% static 'libs/common/Chart1.0.1.min.js' %}"></script>
    <script src="{% static 'libs/dotnut/js/dotnut.js' %}"></script>
    <script src="{% static 'libs/star_rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'libs/common/video5.0.0.js' %}"></script>
    <script src="{% static 'libs/video/video.js' %}"></script>
    <script src="{% static 'libs/flex_slider/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'website/js/menu.js' %}"></script>
    <script src="{% static 'website/js/poster-header.js' %}"></script>
    <script src="{% static 'website/js/full-slider.js' %}"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'website/js/image_slider_init.js' %}"></script>
    <script src="{% static 'website/js/card.js' %}"></script>
    <script src="{% static 'website/js/jquery-1.8.3.min.js' %}"></script>
    <!--<script src="{% if object.script %}{{ object.script.url }}{% endif %}"></script>-->
    {% include 'libs/photo_swipe/body.html' %}
{% endblock %}
