{% extends 'website_old/base.html' %}
{% load static %}
{% load poster %}
{% load humanize %}
{% block title %}{{ object.unique_name }}{% endblock %}

{% block meta %}
    {{ block.super }}
{% endblock %}

{% block head_script %}
    {{ block.super }}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gi4LphlBZSQTOHIGmjuBRDzMAdMk8GFq"></script>
    <script src="{% static 'website/js/poster.js' %}"></script>
    <script>
        var isCapturing = {% if object.capture %}true{% else %}false{% endif %};
        var loginURL = "{% url 'account:login' %}?next={{request.path}}";
        var ratingURL = "{% url 'api:rating-rate' poster_id=object.id %}";
        var sharedURL = "{% url 'api:statistics-shared' poster_id=object.id  %}";
        var contactedURL = "{% url 'api:statistics-contacted' poster_id=object.id  %}";
        var likedURL = "{% url 'api:like-like' poster_id=object.id  %}";
        var bookmarkURL =  "{% url 'api:favorite-bookmark' poster_id=object.id  %}";
        var favoredURL = "{% url 'api:statistics-favored' poster_id=object.id  %}";
        var subscribedURL = "{% url 'api:subscribe-subscribe' poster_id=object.id  %}";
        var funURL = "{% url 'api:fun-fun' poster_id=object.id  %}";
        var auth_user_id = {% firstof request.user.id "null"%};
        var posterStatsDataURL = "{% url 'api:statistics-poster' poster_id=object.id %}";
        var createScreenShotURL =  "{% url 'website:posterCapture' object.id%}";
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'libs/common/video-js5.0.0.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome4.5.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-app.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-header.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster-bottom.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/full-slider.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">

    {% if object.css %}
    <link rel="stylesheet" href="{{ object.css.url }}">
    {% endif %}
    {% include 'libs/widgets/clip_style.html' %}
{% endblock %}

{% block head_more %}
    {{ block.super }}
    {% include 'libs/photo_swipe/head.html' %}
{% endblock %}

{% block body_start %}
    {{ block.super }}
{% endblock %}
{% block content %}

    <div class="app">
        <div class='app-body'>
            <div class='app-content'>
                <div class="scrollable">
                    <div class="scrollable-content">
                        <div class="poster-frame center-block">
                            <div class="poster-top-ratio">
                                <div class="poster-header">
                                    <audio id="background_music" hidden autoplay="true" loop="true">
                                      <source src="{{ object.music }}" type="audio/mpeg">
                                      Your browser does not support the audio element.
                                    </audio>
                                    <div class="header-top">
                                        <div class="header-pages">
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/pages.png' %}"></a></div>
                                        </div>
                                        <div class="header-poster-pages" id="poster_pages">
                                            <table class="pages-details" style="color:white;">
                                                {% for page in object.pages %}
                                                    <tr><td><a href="/poster/{{ page.poster_id }}">{{ page.name }}</a></td></tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                        <div class="header-title">
                                            <span class="align-helper"></span> {{ object.logo_title }}
                                        </div>
                                        <div class="header-music">
                                            <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/music.png' %}"></a></div>
                                        </div>
                                    </div>
                                    <div class="header-main">
                                        <div class="herder-middle">
                                            <div class="header-qrcode">
                                                <div class="qrcode_circled">
                                                    <div class="circle"></div>
                                                    <div class="qrcode"><img src="{% url 'website:code_poster' object.id %}" /></div>
                                                </div>
                                            </div>
                                            <div class="header-logo">
                                                <div class="logo"><a href="#" class="logo"><img src="{{ object.images.logo.file.url }}" alt='poster logo'/></a></div>
                                            </div>
                                            <div class="header-abutton">
                                                <div class="abutton">
                                                    <div class="circle-double">
                                                        <div class="circle-external"></div><div class="circle-internal"></div>
                                                        <div class="circle-sector circle-sector-left"></div><div class="circle-sector circle-sector-right"></div>
                                                    </div>
                                                    <div class="abutton-group">
                                                        <div class="abutton-trigger">
                                                            <a href="#" class="abutton-trigger" expressed="false"><img src="{% static 'website/images/icons/a.png' %}"></a>
                                                        </div>
                                                        <div class="abutton-contact">
                                                            <div class="abutton-icons abutton-left">
                                                                <a href="#" class="abutton-contact" extended="false" for="phone"><img src="{% static 'website/images/icons/contact-phone.png' %}"></a>
                                                            </div>
                                                            <div class="abutton-icons abutton-top">
                                                                <a href="#" class="abutton-contact" extended="false" for="email"><img src="{% static 'website/images/icons/contact-email.png' %}"></a>
                                                            </div>
                                                            <div class="abutton-icons abutton-right">
                                                                <a href="#" class="abutton-contact" extended="false" for="location"><img src="{% static 'website/images/icons/contact-location.png' %}"></a>
                                                            </div>
                                                            <div class="abutton-icons abutton-bottom">
                                                                <a href="#" class="abutton-contact" extended="false" for="hour"><img src="{% static 'website/images/icons/contact-hour.png' %}"></a>
                                                            </div>
                                                        </div>
                                                        <div class="abutton-express" style="display:none;">
                                                            <div class="abutton-icons abutton-left">
                                                                <a href="#" class="abutton-express abutton-like">
                                                                    {% if object.abutton_like_enabled == 1 %}
                                                                    <img class="enabled" src="{% static 'website/images/icons/express-like.png' %}">
                                                                    {% else %}
                                                                    <img class="disabled" src="{% static 'website/images/icons/express-like-disabled.png' %}">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="abutton-icons abutton-top">
                                                                <a href="#" class="abutton-express abutton-bookmark">
                                                                    {% if object.abutton_bookmark_enabled == 1 %}
                                                                    <img class="enabled" src="{% static 'website/images/icons/express-bookmark.png' %}">
                                                                    {% else %}
                                                                    <img class="disabled" src="{% static 'website/images/icons/express-bookmark-disabled.png' %}">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="abutton-icons abutton-right">
                                                                <a href="#" class="abutton-express abutton-subscribe">
                                                                    {% if object.abutton_subscribe_enabled == 1 %}
                                                                    <img class="enabled" src="{% static 'website/images/icons/express-subscribe.png' %}">
                                                                    {% else %}
                                                                    <img class="disabled" src="{% static 'website/images/icons/express-subscribe-disabled.png' %}">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="abutton-icons abutton-bottom">
                                                                <a href="#" class="abutton-express abutton-fun">
                                                                    {% if object.abutton_fun_enabled == 1 %}
                                                                    <img class="enabled" src="{% static 'website/images/icons/express-fun.png' %}">
                                                                    {% else %}
                                                                    <img class="disabled" src="{% static 'website/images/icons/express-fun-disabled.png' %}">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-information">
                                            <div class="header-description">
                                                <div class="">
                                                    <h1>
                                                        {{ object.description_first_line }}
                                                        {% if object.description_others %}
                                                            <span class="dot-expander">...</span>
                                                        {% endif %}
                                                        <br/>{{ object.description_others }}
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="contact-info phone">
                                                {{ object.mobile }}
                                                <a class="abutton-contact-info" href="tel: {{object.phone}}"><img
                                                        src="{% static 'website/images/icons/contact-phone.png' %}"></a>

                                            </div>
                                            <div class="contact-info email">
                                                {{ object.email }}
                                                <a class="abutton-contact-info" href="mailto:{{ object.email }}?{{ object.email_content | safe }}"><img
                                                        src="{% static 'website/images/icons/contact-email.png' %}"></a>
                                            </div>
                                            <div class="contact-info hour">
                                                {{ object.hours }}
                                                <span class="poster-lifetime-status"> {{ object.hours_status }} </span>
                                                <a href="#" class="more-info"><img
                                                        src="{% static 'website/images/icons/more_icon.png' %}"></a>
                                                <div class="poster-top-inform-more">
                                                    <table class="hours-more-details">
                                                     {% for day,day_hours in object.hours_details.items %}
                                                        <tr>
                                                            <th>{{ day }}</th><td>{{ day_hours|safe }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="contact-info location">
                                                {{ object.address_info }}
                                                <a href="#" class="location-info"><img
                                                        src="{% static 'website/images/icons/location-info.png' %}"></a>
                                                <div class="mapcon" id="map" style="width:100%;height:350px;">
                                                </div>
                                                <script type="text/javascript">
                                                    var map = new BMap.Map("map");
                                                    map.centerAndZoom("{{ object.address }}",15);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" ui-state="activeTab" default="0"></div>
                            </div>
                            <!-- pages -->
                            <div class="poster-pages-ratio">
                                <div>
                                    <div class="poster-pages">
                                        {% include 'libs/widgets/poster_pages.html' %}
                                    </div>
                                </div>
                            </div>

                            <!-- svg -->
                            {% include 'libs/widgets/clip_svg.html' %}

                        </div>
                    </div>
                </div>

                <div id="comments-submenu" hidden class="scrollable comments-submenu" ng-controller="commentsController"
                     ng-init="init('{% url 'api:comment-list' poster_id=object.id %}')">
                    <div class="scrollable-content" ui-scroll-bottom="loadMore()">
                        <div class="poster-frame center-block">
                            <div>
                                <form novalidate class="justified comment has-error" name="form"
                                     onclick="var event = arguments[0] || window.event; event.stopPropagation();">
                                    <div class="comment-person">
                                        {% if request.user.person.avatar.url %}
                                            <img ng-src="{{ request.user.person.avatar.url|default_if_none:'/static/website/images/icons/user.png' }}" class="img-circle">
                                        {% else %}
                                            <img src="{% static 'website/images/icons/user.png' %}" class="img-circle">
                                        {% endif %}
                                    </div>

                                    <div class="comment-text">
                                        <div class="bubble">
                                            <div class="bubble-wrapper">
                                                <div class="justified bubble-header">
                                                    <div class="bubble-title editing">
                                                        <input ng-model="comment.title" ng-maxlength="127" class="title-edit" name="title" required
                                                               placeholder="请输入标题">
                                                    </div>
                                                    <div class="bubble-time" style="display: none;">now</div>
                                                </div>

                                                <div class="bubble-content editing">
                                                    <textarea name="content" ng-model="comment.content" ng-maxlength="511" required
                                                              class="content-edit" placeholder="请输入评论内容"></textarea>

                                                    <div ng-click="create(form)"
                                                         class="icon-btn btn btn-navbar btn-icon-only"
                                                         ng-disabled="form._creating">
                                                        <img src="{% static 'website/images/icons/save.png' %}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- dynamic comments -->
                                {%verbatim%}
                                <form novalidate class="justified comment" ng-repeat="comment in comments" name="form"
                                     ng-click="comment._edit == 'editing' && $event.stopPropagation()" ng-init="comment._form = $scope.$element">
                                    <div class="comment-person">
                                        <img ng-src="{{ comment.creator.person.avatar || '/static/website/images/icons/user.png' }}" class="img-circle">
                                    </div>

                                    <div class="comment-text">
                                        <div class="bubble">
                                            <div class="bubble-wrapper">
                                                <div class="justified bubble-header">
                                                    <div class="bubble-title" ng-class="{editing: comment._edit == 'editing'}"><span ng-if="comment._edit != 'editing'">{{ comment.title }}</span>
                                                        <input ng-if="comment._edit == 'editing'" ng-maxlength="127" ng-class=""
                                                               ng-model="comment.title" class="title-edit" name="title" required
                                                           placeholder="Please input the title">
                                                        </div>
                                                    <div ng-if="comment._edit != 'editing'" class="bubble-time">{{ comment.created_at }}</div>
                                                </div>

                                                <div class="bubble-content" ng-class="{editing: comment._edit == 'editing'}">
                                                    <div style="clear: right" ng-if="comment._edit != 'editing'"
                                                                                  class="content-display">{{ comment.content }}</div>
                                                    <textarea ng-if="comment._edit == 'editing'"  ng-maxlength="511"
                                                              ng-model="comment.content" name="content" required class="content-edit"
                                                              placeholder="please input the content"></textarea>

                                                    <div ng-if="comment._edit == 'editable'"
                                                         ng-click="startEdit(comment)"
                                                         ng-disabled="comment._deleting"
                                                         onclick="var event = arguments[0] || window.event; event.stopPropagation();"
                                                         class="icon-btn btn btn-navbar btn-icon-only">
                                                        <img src="/static/website/images/icons/edit.png">
                                                    </div>
                                                    <div ng-if="comment._edit == 'editable'" ng-click="delete(comment)"
                                                         onclick="var event = arguments[0] || window.event; event.stopPropagation();"
                                                         ng-disabled="comment._deleting"
                                                         class="icon-btn btn btn-navbar btn-icon-only">
                                                        <img src="/static/website/images/icons/delete.png">
                                                    </div>
                                                    <div ng-if="comment._edit == 'editing'" ng-click="cancelEdit(comment)"
                                                         onclick="var event = arguments[0] || window.event; event.stopPropagation();"
                                                         ng-disabled="comment._updating"
                                                         class="icon-btn btn btn-navbar btn-icon-only">
                                                        <img src="/static/website/images/icons/cancel.png">
                                                    </div>
                                                    <div ng-if="comment._edit == 'editing'" ng-click="update(this)"
                                                         onclick="var event = arguments[0] || window.event; event.stopPropagation();"
                                                         ng-disabled="comment._updating"
                                                         class="icon-btn btn btn-navbar btn-icon-only">
                                                        <img src="/static/website/images/icons/save.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% endverbatim %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'website_old/poster_bottom.html' %}
    </div>
    <div ui-yield-to="modals"></div>
{% endblock %}

{% block body_end %}
    {{ block.super }}
    <script src="{% static 'libs/common/Chart1.0.1.min.js' %}"></script>
    <script src="{% static 'libs/dotnut/js/dotnut.js' %}"></script>
    <script src="{% static 'libs/star_rating/js/star-rating.min.js' %}"></script>
    <script src="{% static 'libs/common/video5.0.0.js' %}"></script>
    <script src="{% static 'libs/video/video.js' %}"></script>
    <script src="{% static 'libs/flex_slider/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'website/js/menu.js' %}"></script>
    <script src="{% static 'website/js/poster-header.js' %}"></script>
    <script src="{% static 'website/js/full-slider.js' %}"></script>
    <script src="{% static 'website/js/jquery.magnific-popup.js' %}"></script> 
    <script src="{% static 'website/js/image_slider_init.js' %}"></script> 
    <!--<script src="{% if object.script %}{{ object.script.url }}{% endif %}"></script>-->
    {% include 'libs/photo_swipe/body.html' %}
{% endblock %}
