{% load static %}
<!DOCTYPE html>
{% if request.GET.capture %}
<html>
{% else %}
<html lang="en" ng-app="PosterApp" ng-controller="MainController">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="ZioXZhkBh3" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    {% block base_head_meta %}
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta http-equiv="X-UA-Compatible" content="IE=edge|EmulateIE7,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    {% endblock %}
    <title>{% block base_head_title %}武汉云页移动科技有限公司{% endblock %}</title>
    {% block base_header_css %}
        <link rel="stylesheet"
              href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'libs/fontawesome/css/font-awesome4.5.0.min.css' %}">
        <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
    {% endblock %}

    {% block base_header_js %}
        <script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
        <script src="{% static 'libs/common/jquery.base64.js' %}"></script>
        <script src="{% static 'libs/common/jquery.storageapi.min.js' %}"></script>
        <script src="{% static 'libs/common/jquery.tmpl.min.js' %}"></script>
        <script src="{% static 'website/js/base.js' %}"></script>
    {% endblock %}
    {% block base_header_extra %}
    {% endblock %}
</head>
<body>
<div class="body-container">
    {% block base_body_header %}
    {% endblock %}
    {% block base_body %}
        <div class="container-fluid">
            {% block base_body_inner %}
            {% endblock %}
        </div>
    {% endblock %}
    {% block base_body_footer %}
        {% include 'website/mobile/footer.html' %}
    {% endblock %}
</div>
{% block base_foot_mask %}
    <div class="yunye-template-mask">
        <img src="{% static "poster/images/loading.gif" %}" alt="loading"/>
    </div>
{% endblock %}
{% block base_footer_js %}
    <script src="{% static 'website/js/footer.js' %}"></script>
{% endblock %}
</body>
</html>