<div class="footer">
    <ul class="footer-tab">
        {% url 'website:mobile_poster_index' as index_url%}
        <li {% if index_url == request.path_info %}class="active"{% endif %}>
            <a href="{{ index_url }}">
                <span class="glyphicon glyphicon-home"
                      aria-hidden="true"></span>
                主页
            </a>
        </li>
        {% url 'website:mobile_search' as search_url %}
        <li {% if search_url in request.path_info %}class="active"{% endif %}>
            <a href="{{ search_url }}">
                <span class="glyphicon glyphicon-search"
                      aria-hidden="true"></span>
                搜索
            </a>
        </li>
        {% url 'website:mobile_category' as cate_url %}
        <li id="ftcat" {% if cate_url in request.path_info %}class="active"{% endif %}>
            <a href="{{ cate_url }}" onclick="return ftcatFunction();">
                <span class="glyphicon glyphicon-list-alt"
                      aria-hidden="true"></span>
                类别
            </a>
        </li>
        {% url 'account:profile' as profile_url %}
        <li {% if profile_url in request.path_info %}class="active"{% endif %}>
            <a href="{{ profile_url }}">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
                我的
            </a>
        </li>
    </ul>
</div>