{% extends 'website/mobile/base.html' %}
{% load static %}
{% block base_header_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'website/css/index.css' %}"/>
{% endblock %}

{% block base_header_js %}
	{{ block.super }}
	<script src="{% static 'website/js/index.js' %}"></script>
	<script>
	window.global = {
		sort:"{{ request.GET.sort }}"
	};
	</script>
{% endblock %}

{% block base_body %}
	<header class="home-header">
		<div class="hrow">
			<a href="javascript:void(0)"  class="button button-clear btn-menu left-menu">
				<i class="glyphicon glyphicon-menu-hamburger"></i>
			</a>

			<div class="flexbox right-menu">
				<a href="javascript:void(0);">
					{#                    <i class="glyphicon glyphicon-calendar"></i>#}
				</a>
				<a href="javascript:void(0);">
					{#                    <i class="glyphicon glyphicon-bell"></i>#}
				</a>
				<a href="javascript:void(0);">
					{#                    <i class="glyphicon glyphicon-comment"></i>#}
				</a>
				<a href="javascript:void(0);" id="btn-create"
				   data-login="{% if not request.user.is_authenticated %}{% url 'account:login' %}{% endif %}">
					<i class="glyphicon glyphicon-plus"></i>
				</a>
				<a href="javascript:void(0);" id="btn-question">
					<i class="glyphicon glyphicon-question-sign"></i>
				</a>
			</div>
		</div>
	</header>
	
	<div class="home-header-sort hrow flexbox">
		<a id="sortHot" href="{{ request.path_info }}?sort=hot&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}"
		   class="button button-clear btn-select">热门</a>
		<a id="sortNew" href="{{ request.path_info }}?sort=new&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}"
		   class="button button-clear btn-select">最新</a>
		<a id="sortApas" href="{{ request.path_info }}?sort=apas&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}"
		   class="button button-clear btn-select">特价</a>
		<a id="sortRecmd" href="{{ request.path_info }}?sort=recmd&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}"
		   class="button button-clear btn-select">推荐</a>
		{% if request.user.is_authenticated %}
			<!-- <a href="{{ request.path_info }}?sort=near&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}" class="button button-clear btn-select">附近</a>
			<a href="{{ request.path_info }}?sort=fav&q={{ request.GET.q }}&sub_ids={{ request.GET.sub_ids }}" class="button button-clear btn-select">收藏</a> -->
		{% endif %}
	</div>
	<div class="containar i-containar">
		<ul class="image-list">
			{% for poster in posters %}
				<li>
					<div class="wraper">
						<div class="img">
							<a href="{{ poster.get_absolute_url }}"
							   title="{{ poster.unique_name }}">
								<img src="
										{% if poster.snapshot %}{{ poster.snapshot.url }}{% endif %}"
									 width="100%"/>
							</a>
						</div>
						<div class="det">
							<a href="{{ poster.get_absolute_url }}">
								<span class="title">{{ poster.unique_name }} </span>
							<span class="view-num">
								<i class="glyphicon glyphicon-eye-open"></i>
								<span>
									{{ poster.poster_statistics.views_count }}
								</span>

								{% if poster.creator == request.user %}
									<a href="{{ poster.get_mobile_edit_url }}">
										<i class="glyphicon glyphicon-pencil pull-right"></i>
									</a>
								{% endif %}
							</span>
							</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>

	</div>

	<div class="type-model {% if request.GET.main_category_id %} open {% endif %}" id="type-model">
		<div class="type-model-inner">
			<div class="type-model-containar">
				<ul class="list" id="catelist"
					data-subid="{{ request.GET.sub_category_id }}">
					{% for category in categorys %}
						<li class="item {% if request.GET.main_category_id == category.id|stringformat:"i" %} open {% endif %}"
							data-id="{{ category.id }}"
							data-id1="{{ request.GET.main_category_id }}">
							<a class="item-link" href="javascript:void(0);"><i
									class="glyphicon glyphicon-menu-down"></i>{{ category.name }}
							</a>
							<dl class="sublist"
									{% if request.GET.main_category_id ==  category.id|stringformat:"i" %}
								style="display:block" {% endif %}>
								{% with category.children.all as category_children %}
									{% for category2 in category_children %}
										<dd class="subitem">
											<a class="subitem-link {% if request.GET.sub_category_id == category2.id|stringformat:"i" %} active {% endif %}"
											   href="{% url 'poster:keywords' %}?sub_category_id={{ category2.id }}&main_category_id={{ category.id }}&cate={{ category.name|urlencode }}&subcate={{ category2.name|urlencode }}"
											   class="item-link">{{ category2.name }}</a>
										</dd>
									{% endfor %}
								{% endwith %}
							</dl>
						</li>
					{% empty %}
						<li class="item empty-info">
							获取数据失败，请稍后重试！
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="type-model-click" id="hide-cate"></div>
		</div>
	</div>

	<div id="QA">
		<span class="arrowUp"></span>
		<div id="QAContent">
			<span id="arrow"></span>
			<div class="title"><img
					src="/static/website/images/questionmark.png" alt=""
					style="margin:0 10px 0 -10px;">常见问题
			</div>
		</div>
	</div>

	<div id="Sort">
		<div id="SortHide"></div>
		<span class="arrowUp"></span>
		<div id="SortContent">
			<div class="title">排序方式</div>
			<ul>
				<li><span>更新时间</span></li>
				<li><span>浏览数</span></li>
				<li><span>交易数</span></li>
				<li><span>离我较近的</span></li>
				<li><span>距离范围设置</span><span>公里</span></li>
			</ul>
		</div>
	</div>

	{% block footer_category %}
	{% endblock %}
{% endblock %}