{% extends 'alatting_website/base.html' %}
{%load static %}
{% block base_header_css %}
    <link rel="stylesheet" href="{% static 'survey/css/survey-base.css' %}">
	<style>
        {{ survey_css|safe }}
    </style>
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'survey/js/plugins/jquery.validate.min.js' %}"></script>
    <script src="{% static 'survey/js/survey-base.js' %}"></script>
    <script>
        {{ survey_js|safe }}
    </script>
{% endblock %}

{% block base_body %}
    <div class="qs container-fluid">
        <header class="qs-header">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>      
            <div class="progress-btm"></div>
            <div class="row qs-cat">        
                <div class="col-xs-6 qs-cat-cat"><a href="javascript:void(0);">家教类别</a></div>
                <div class="col-xs-6 qs-cat-subcat"><a href="javascript:void(0);">语言家教</a></div>
            </div>
        </header>
        <div class="qs-body">
            {{ survey_html|safe }}
        </div>
    </div>
{% endblock %}

{% block base_body_footer %}
{% endblock %}
