<div class="yunye-template">
    <div class="content">
        <div class="content-top">
            上部区域
        </div>
        <div class="content-middle">
            中间区域
        </div>
        <div class="content-bottom">
            底部区域
        </div>
    </div>

    <div class="dialog">
        <div id="demo">
            <div>
                <div class="demoheader">选择图片上传<i
                        class="closefile glyphicon glyphicon-remove"></i></div>
            </div>

            <div id="as" class="webuploader-container">
                <div class="webuploader-pick">选择文件</div>
                <div id="rt_rt_1aidhgpbe70k1dhvopts2u4gq4">
                    <input type="file" name="file"
                           class="webuploader-element-invisible"
                           multiple="multiple"
                           accept="image/jpg,image/jpeg,image/png,image/gif"
                           chunked="false">
                    <label></label>
                </div>
            </div>

        </div>
    </div>

</div>

