.yunye-template{
	width: 100%;
	height: 430px;
}

.yunye-template .content-top{
	background: #B5B1AB;
	height: 30%;
}

.yunye-template .content-middle{
	height: 30%;
}

.yunye-template .content-bottom{
	background: #B5B1AB;
	height: 40%;
}
