<div class="yunye-template">
<div class="content">

    <div class="content-top"><div class="content-cnn"></div></div>
    <div class="content-bottom"><div class="content-cnn"></div></div>

     <!-- svg -->
    <svg class="clip-svg" id="svg" preserveAspectRatio="none" viewBox="0 0 1 1">
        <defs>
        <clipPath id="content-top" clipPathUnits="objectBoundingBox">
            <path d="M0 0,L1 0,V0.33,Q.4 .3, 0 1z" fill="pink"></path>
        </clipPath>
        <clipPath id="content-bottom" clipPathUnits="objectBoundingBox">
            <path d="M0 0,V1,L1 1,V0.25,Q.4 .3, 0 0z" fill="black"></path>
        </clipPath>
        </defs>
    </svg>


 </div>
</div>