.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.content > div{
    overflow: hidden;

}
.content-top {
    -webkit-clip-path: url(#content-top);
    clip-path: url(#content-top);
    height: 30%;

}

.content-bottom {
    -webkit-clip-path: url(#content-bottom);
    clip-path: url(#content-bottom);
    height:57.5%;
    position: absolute;
    width: 100%;
    left: 0;
    bottom:0;
}
.content-cnn {
    background: rgba(24, 17, 0, 0.3);
    width: 100%;
    height: 100%;
}