/*
 * Base structure
 */


html,
body {
		width: 100%;
		height: 100%;
		overflow: hidden;
}

body {
		background: #c8c8c8;
		font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:focus,a:hover,a:visited{
		text-decoration: none;
}

.edit-viewport {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
}

.edit-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background: #fff;
		z-index: 100;
		box-shadow: 0 0 8px #999;
}

.edit-header .logo {
		height: 100%;
		padding: 10px 0;
}

.edit-header .logo img {
		height: 100%;
}

.edit-left,
.edit-right {
		width: 240px;
		height: 100%;
		padding-top: 60px;
		position: absolute;
		left: 0;
		top: 0;
		background: #e9e9e9;
		box-shadow: 0 0 5px #999;
		overflow-y: auto;
		z-index: 80;
}

.edit-right {
		left: auto;
		right: 0;
		width: 320px;

}

.edit-center {
		position: relative;
		width:100%;
		height: 100%;
		padding: 80px 320px 20px 240px;
		z-index:79;
}

.header-bar {}

/**/
.cnd-element {
		position: absolute;
		z-index: 100;
}
.cnd-element .nbar {
		position: absolute;
		z-index: 998;
}
.nbar-radius {
		width: 12px;
		height: 12px;

		border: 1px solid #08a1ef;
		border-radius: 50%;
		background-color: #fff;
}
.nbar-rotate {
		top: -30px;
		left: 50%;
		width:20px;
		height:20px;
		margin-left: -10px;

		cursor: url(mouserotate.ico) 10 10, default;
		transition:all .2s;

		border: none;
		background-color: #44cb83;
}
.nbar-line {
		top: -18px;
		left: 50%;

		width: 1px;
		height: 18px;

		background-color: #44cb83;
}
.nbar-n {
		top: 0;

		display: none;

		width: 100%;
		height: 5px;

		cursor: n-resize;

		background: url(bar-1px.png) repeat-x;
}
.nbar-n div {
		position: absolute;
		top: -6px;
		left: 50%;

		margin-left: -6px;
}
.nbar-s {
		bottom: 0;

		width: 100%;
		height: 5px;

		cursor: s-resize;

		background: url(bar-1px.png) repeat-x bottom;

}
.nbar-s div {
		position: absolute;
		top: 0;
		left: 50%;

		margin-left: -6px;
}
.nbar-e {
		top: 0;
		right: 0;

		width: 5px;
		height: 100%;

		cursor: n-resize;

		background: url(bar-1px.png) right repeat-y;

}
.nbar-e div {
		position: absolute;
		top: 50%;
		right: -6px;

		margin-top: -6px;
}
.nbar-w {
		top: 0;
		left: 0;

		width: 5px;
		height: 100%;

		cursor: n-resize;

		background: url(bar-1px.png) repeat-y;

}
.nbar-w div {
		position: absolute;
		top: 50%;
		left: -6px;

		margin-top: -6px;
}
.nbar-nw {
		top: -6px;
		left: -6px;

		cursor: nw-resize;
}
.nbar-se {
		right: -6px;
		bottom: -6px;

		cursor: se-resize;

}
.nbar-sw {
		bottom: -6px;
		left: -6px;

		cursor: sw-resize;

}
.nbar-ne {
		top: -6px;
		right: -6px;

		cursor: ne-resize;

}
.nbar-edit{
		width:18px;height:18px;text-align: center;font-size:12px;line-height:18px;
}
.nbar-rotate.drag-active{
		transform:scale(1.1,1.1);
}
.drag-active{
		opacity:0.6;
}
.cnd-element .nbar{
		display:none;
}
.cnd-element .nbar .icon{
		display:none;
}
.cnd-element.active .nbar{
		display:block;
}
.cnd-element.active .nbar .icon{
		display:block;
}
.cnd-element.active .nbar.nbar-ne,
.cnd-element.active .nbar.nbar-sw,
.cnd-element.active .nbar.nbar-n div,
.cnd-element.active .nbar.nbar-s div,
.cnd-element.active .nbar.nbar-e div,
.cnd-element.active .nbar.nbar-w div{
		/*display:none;*/
}
.cnd-element .element img{
		width:100%;
		height:100%;
}
/**/

/*系统背景*/
.system_context-div{
		margin:auto;
		border-radius: 6px;
		background:#7F7C77;
		height:400px;
		overflow:auto;
}
.system_context-ul{
		padding:0;
		margin:10px 10px;
}
.system_context-li{
		width:25%;
		float:left;
		margin: 10px 10px;
                            'border': 3px solid rgba(255,255,255,0);    
}
.system_context-li img{
                        width:60px;
                        height:100px;
}
/* 颜色选择器 */
.colorBox{
		margin:auto;
}
.colorBox td,.colorPannel td{
		width: 20px;
		height: 20px;
		border: 1px solid;
}
.colorPannel td{
		display: inline-block;
		margin:2px;
}
.colorPannel table{
		position: absolute;
		top: 10px;
		left: 10px;
}
.colorPannel{
		border-radius: 5px;
		background: #e1e1e1;
		width:260px;
		height: 180px;
		margin:20px auto;
		position: relative;
}
.colorSlider {
		position: absolute;
		top: 10px;
		right: 8px;
		width: 20px;
		height: 120px;
		background: white url("../images/colors.png") 0 0;
		cursor: row-resize;
}
.colorSlider .color-picker {
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		height: 2px;
		background: white;
		border: solid 1px black;
		margin-top: -2px;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
}
.colorGrid{
		position: absolute;
		top: 10px;
		right: 34px;
		width: 120px;
		height: 120px;
		background: url("../images/colors.png") -120px 0;
		cursor: crosshair;
}
.colorGrid .color-picker{
		position: absolute;
		top: 60px;
		left: 60px;
		width: 12px;
		height: 12px;
		border: solid 1px black;
		border-radius: 10px;
		margin-top: -6px;
		margin-left: -6px;
		background: none;
}
.colorGrid .color-picker > div {
		position: absolute;
		top: 0;
		left: 0;
		width: 8px;
		height: 8px;
		border-radius: 8px;
		border: solid 2px white;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
}
.colorPannel input{
		position: absolute;
		right: 8px;
		bottom: 8px;
		width: 95px;
		height:30px;
}
.colorPannel .colorPrev{
		position: absolute;
		bottom: 8px;
		height:30px;
		width: 50px;
		right:105px;
		border: 1px solid #000;
}

.textEditor .form-color {
		display: block;
		overflow: hidden;
		width: 100%;
		height: 34px;
		text-indent: -999px;
		border: 4px solid #fff;
		background: none;
		box-shadow: 0 0 1px 1px #ccc;
}
.textEditor .form-control {
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 0;
}
.textEditor .form-group label {
		padding-top: 7px;
		padding-right: 0;
		padding-left: 0;
		color: #666;
		font-weight: normal;
}
/*
* 弹出层 yyAlert yyConfirm yyMessage
*/
.yyalert-cover {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 8000;
		top: 0;
		left: 0;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all 0.15s ease;
		transition: all 0.15s;
		visibility: hidden;
}
.yyalert-cover-inner {
		height: 100%;
		background-color: #000;
		opacity: 0.3;
		filter: Alpha(opacity=30);
		background-position: initial initial;
		background-repeat: initial initial;
*zoom:1;
}
.yyalert {
		z-index: 9000;
		position: fixed;
		top: 50%;
		width: 90%;
		left: 50%;
		max-width: 400px;
		margin-left: -45%;
		background-color: rgba(255,255,255,0.98);
		filter: Alpha(opacity=90);
		border-radius: 8px;
		overflow: hidden;
		text-align: center;
		font-family: 'Microsoft YaHei';
		-webkit-transform: scale(0.90);
		-ms-transform: scale(0.90);
		transform: scale(0.90);
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transition: all 0.15s;
		transition: all 0.15s;
		opacity: 0;
		visibility: hidden;
}
.yyalert-text {
		padding: 20px;
		font-size: 16px;
		color: #222;
		line-height: 20px;
		position: relative;
}
.yyalert-footer {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
}
.yyalert-btn {
		width: 100%;
		color: #00b7ee;
		font-size: 16px;
		display: block;
		text-decoration: none;
		border-top: 1px solid rgba(0,0,0,0.1);
		height: 40px;
		line-height: 40px;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1;
		position: relative;
}
.yyalert-btn:after {
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background: rgba(0,0,0,0.1);
}
.yyalert-footer .yyalert-btn:last-child:after {
		display: none;
}
.open .yyalert-cover {
		opacity: 1;
		visibility: visible;
}
.open .yyalert {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
}
.yymessage {
		position: fixed;
		bottom: 0;
		width: 94%;
		left: 3%;
		text-align: center;
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
}
.yymessage-txt {
		background: rgba(0,0,0,0.9);
		color: #fff;
		line-height: 22px;
		padding: 10px 15px;
		font-size: 12px;
		font-weight: normal;
		display: inline-block;
		border-radius: 3px;
}
.yymessage.open {
		visibility: visible;
		-webkit-animation: yymessageshow 0.3s ease forwards;
		-moz-animation: yymessageshow 0.3s ease forwards;
		-o-animation: yymessageshow 0.3s ease forwards;
		animation: yymessageshow 0.3s ease forwards;
}

@-webkit-keyframes yymessageshow {
		0% {
				-webkit-transform:translateY(0);
				opacity: 0;
		}
		60% {
				-webkit-transform:translateY(-50px);
				opacity: 0.6;
		}
		100% {
				-webkit-transform:translateY(-40px);
				opacity: 1;
		}
}

@keyframes yymessageshow {
		0% {
				transform:translateY(0);
				opacity: 0;
		}
		60% {
				transform:translateY(-50px);
				opacity: 0.6;
		}
		100% {
				transform:translateY(-40px);
				opacity: 1;
		}
}

@-moz-keyframes yymessageshow {
		0% {
				-moz-transform:translateY(0);
				opacity: 0;
		}
		60% {
				-moz-transform:translateY(-50px);
				opacity: 0.6;
		}
		100% {
				-moz-transform:translateY(-40px);
				opacity: 1;
		}
}

.poster-keywords{
		padding:0 15px;
}
.poster-keywords .title{
		font-size:16px;
		font-weight: normal;
		margin:0;
		margin-bottom: 10px;
}
.kewords-wraper{
		padding:10px 0;
}
.kewords-wraper a{
		color:#2e9acb;
		border:2px solid #2e9acb;
		padding:0 10px;
		display: block;
		float: left;
		margin:0 10px 10px 0;
}
.kewords-container{
		background-color: #d2d2d2;
		border-radius:5px;
		padding:15px;
}
.keywords-list a{
		color:#474747;
		margin:0 10px 10px 0;
		display: inline-block;
}
.keywords-list a:hover{
		color:#2e9acb;
}
.keywords-form{
	margin-top:10px;
}
.keywords-form .text{
	width:140px;
	border:0;
	padding: 7px 12px;
	outline: none;
}
.keywords-form .btn{
	outline: none!important;
	background-color: #727272;
	color:#fff;
	border-radius:0;
}