/*
 * Base structure
 */

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #c8c8c8;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.edit-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.edit-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 100;
    box-shadow: 0 0 8px #999;
}

.edit-header .logo {
    height: 100%;
    padding: 10px 0;
}

.edit-header .logo img {
    height: 100%;
}

.edit-left,
.edit-right {
    width: 240px;
    height: 100%;
    padding-top: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background: #e9e9e9;
    box-shadow: 0 0 5px #999;
}

.edit-right {
    left: auto;
    right: 0;
    width: 320px;
}

.edit-center {
    position: relative;
    width:100%;
    height: 100%;
    padding: 80px 320px 20px 240px;

}

.header-bar {}
