.edit-header > div{
	text-align: center;
	height: 100%;
}

.edit-header .logo{
	width: 240px;
	float: left;
}
.edit-header .top-bar{
	margin:0 320px 0 240px;
}

.edit-header .header-btn{
	width: 320px;
	position: absolute;
	top: 0;
	right: 0;
}
.logo img{
	padding-left: 6%;
}

.top-bar{
   margin-left: 240px;
   margin-right: 320px;
   font-size: 0;
}
.top-bar a.item{
	padding: 10px 20px;
	display: inline-block;
	height: 60px;
	font-size: 40px
}
.top-bar .item .icon{
	opacity: 0.6;
}
.top-bar a.item:hover,.top-bar a.item.active{
	background-color:#ECEAE8;
}
.top-bar a.item.active .icon{
	opacity: 1;
}


.ico-edit-text, .ico-edit-pic, .ico-edit-button, .ico-edit-music, .ico-preview {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(../images/icon-edit.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.ico-edit-text{
	background-position: 0 0;
}

.ico-edit-pic{
	background-position: -1em 0;
}

.ico-edit-button{
	background-position: -2em 0;
	width: 1.5em;
}

.ico-edit-music{
	 background-position: -4em 0;
 }

.ico-preview{
	 background-position: -5em 0;
 }

.icon-save,.icon-publish{
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url(../images/ico-right-1.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.icon-publish{
	background-image: url(../images/ico-post.png);
}


.edit-header .header-btn i + span{
	float: left;
	display: inline-block;
	line-height: 30px;
}

.header-btn .item{
	color: #7F7C77;
	text-decoration: none;
	display: inline-block;
	padding: 15px;
}
.header-btn .item .icon{
	font-size: 30px;
	float: left;
}
.header-btn .item:hover{
	background-color: #f4f4f4;
}
.edit-page{
	background-color: #4F4F4C;
	line-height: 45px;
}
.edit-page > a{
	color: #ffffff;
}
.add-page{
	background: #716F6A;
}

/*left sidebar*/
.add-page{
	background: #D1CEC8;
	padding: 15px 52px 20px 52px;
	display: block;
}

.add-page .pages{
	background: #ffffff;
	height: 205px;
	display: block;
	box-shadow: 0 0 12px #696161;
}

.add-plus{
	line-height: 45px;
}

.add-plus a{
	color: #656766;
}

.edit-left .add-page:hover,.edit-left .add-page:active{
	background: #ABAAA7;
}

.active-page{
	background: #716F6A;
}