div.header-top {
    background:url('/static/3551/images/topbg.png') no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

div.header-main {
    background: url('/static/3551/images/header_bg.png') no-repeat;
    background-size: cover;
}

.header-information{
	color: #001b56;
}