div.header-top {
    background:url('/static/3551/images/topbg.png') no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

div.header-main {
    background: url('/static/3551/images/header_bg.png') no-repeat;
    background-size: cover;
}

.poster-top-ratio{
    padding-bottom: 29%;
}

.header-information{
    color: #001b56;
}

.poster-widget-plan3551 .video-play{
    position: absolute;
    top: 30%;
    width: auto;
    height: 30%;
    left: 43%;
}

.poster-widget-banner3551,
.p6-p0-banner{
    border: none;
    padding:0;
    margin:0;
}
.p6-p0-banner{
    margin-left: -1px;
    width: 101% !important;
}

.poster-widget-slider3551 .slides{
    padding:0;
    margin:0;
}

.poster-widget-bottom_more{
    background: url(/static/3551/images/gallery_sample.jpg) center;
    text-align: center;
    vertical-align: middle;
}

.poster-widget-bottom_more a{
    display: inline-block;
    color: #FFFFFF;
    padding: 3px 6px;
    border: 1px solid #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 30px 10px 0 10px;
}

.contact a:hover{
    color: #FFFFFF;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

.vjs-controls-disabled .vjs-poster {
    display: inline-block;
}

.vjs-poster {
    background-size: cover;
}
