<div class="bar-header bar edit-bar-header">
    <a href="{% url 'website:index' %}"  class="btn-back back-to-home">
        <i class="icon-back"></i>
    </a>
    {% comment %}<button class="button button-clear btn-page">
        <i class="ico-pages"></i>
    </button>{% endcomment %}
    <div class="title header-bar-title">
        <p>{{ poster.unique_name }}</p>
    </div>
    <button class="button button-clear btn-music header-music rotate" id="music">
        <i class="ico-music "></i>
        <audio id="background_music" hidden  loop="true">
          <source src="{{ object.music|default_if_none:'' }}" type="audio/mpeg">
          您的浏览器不支持音频资源
        </audio>
    </button>
</div>