{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block base_head_title %}{% endblock %}武汉云页移动科技有限公司</title>
    <link rel="shortcut icon" href="{% static 'web/images/favicon.ico' %}"
          type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    {% block base_head_css %}
    {% endblock %}
    <script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/lazyload.js' %}"></script>
    <script src="{% static 'web/js/jquery.imgview.js' %}"></script>
    <script src="{% static 'web/js/base.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'web/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'web/js/respond.min.js' %}"></script>
    <![endif]-->
    {% block base_head_js %}
    {% endblock %}
</head>
<body >
{% block base_body %}
    {% block base_body_header %}
    {% endblock %}
    {% block base_body_container %}
        <!-- container start -->
        <div class="container viewport">
            {% block base_body_container_inner %}
            {% endblock %}
        </div>
        <!-- container end -->
    {% endblock %}
{% endblock %}

{% block base_foot_js %}
{% endblock %}
</body>
</html>
