<div class="yunye-template">
<div class="content">

 <div class="content-top-left"></div>
 <div class="content-top-middle"></div>
 <div class="content-top-right"></div>

 <!-- svg -->
<svg class="clip-svg" preserveAspectRatio="none" width="0" height="0" viewBox="0 0 1 1">
    <defs>
    <clipPath id="content-top-left" clipPathUnits="objectBoundingBox">
        <polygon points="0 0.15, 0.85 0, 1 0.85, 0.15 1"/>
    </clipPath>
    <clipPath id="content-top-middle" clipPathUnits="objectBoundingBox">
        <polygon points="0.24 0, 0.76 0, 0.76 0.37, 1 0.42,1 1,0 1,0 0.42,0.24 0.37"/>
    </clipPath>

    <clipPath id="content-top-right" clipPathUnits="objectBoundingBox">
        <polygon points="0.15 0, 1 0.15, 0.85 1, 0 0.85"/>
    </clipPath>
    </defs>
</svg>

</div>
</div>
