#DIV_1 {
    height: 627px;
    position: relative;
    width: 529px;
	margin: auto;
    align-self: stretch;
    perspective-origin: 264.5px 313.5px;
    transform-origin: 264.5px 313.5px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    transition: all 1s ease 0s;
}/*#DIV_1*/

#DIV_2 {
    height: 833.172px;
    left: 264.5px;
    position: absolute;
    top: 313.5px;
    width: 529px;
    align-self: stretch;
    perspective-origin: 264.5px 416.578px;
    transform-origin: 264.5px 416.578px;
    background: rgb(43, 144, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    margin: -416.587px 0px 0px -264.5px;
    overflow: hidden;
}/*#DIV_2*/

#IMG_3 {
    display: block;
    height: 834px;
    left: -468.661px;
    opacity: 0.88;
    position: absolute;
    top: 0px;
    width: 1250px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 625px 417px;
    transform-origin: 625px 417px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#IMG_3*/

#DIV_4 {
    height: 627px;
    left: 65.4524px;
    position: absolute;
    top: 0px;
    width: 398.094px;
    align-self: stretch;
    perspective-origin: 199.047px 313.5px;
    transform-origin: 199.047px 313.5px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_4*/

#DIV_5 {
    height: 223px;
    left: 95px;
    position: absolute;
    top: 158px;
    width: 233px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 116.5px 111.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 116.5px 111.5px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_5*/

#DIV_6 {
    height: 223px;
    position: absolute;
    width: 233px;
    align-self: stretch;
    perspective-origin: 116.5px 111.5px;
    transform-origin: 116.5px 111.5px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_6*/

#svg_7 {
    display: block;
    height: 223px;
    opacity: 0.69;
    position: absolute;
    width: 233px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 116.5px 111.5px;
    transform-origin: 116.5px 111.5px;
    animation: none 1s ease 0s 1 normal none running;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    overflow: hidden;
}/*#svg_7*/

#path_8 {
    fill: rgb(204, 0, 0);
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#path_8*/

#DIV_9 {
    left: 91px;
    position: absolute;
    top: 196px;
    width: 249px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 124.5px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 124.5px 0px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_9*/

#DIV_10 {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    height: 37px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: center;
    width: 249px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 124.5px 18.5px;
    transform-origin: 124.5px 18.5px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    background: rgba(25, 25, 25, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 25px / 37.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_10*/

#P_11 {
    color: rgb(255, 255, 255);
    height: 37px;
    overflow-wrap: break-word;
    text-align: center;
    width: 249px;
    word-wrap: break-word;
    perspective-origin: 124.5px 18.5px;
    transform-origin: 124.5px 18.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 25px / 37.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_11*/

#DIV_12 {
    left: 161px;
    position: absolute;
    top: 241px;
    width: 32px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 16px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 16px 0px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_12*/

#DIV_13, #DIV_16 {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    height: 50px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: center;
    width: 32px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 16px 25px;
    transform-origin: 16px 25px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    background: rgba(25, 25, 25, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 17px / 25.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_13, #DIV_16*/

#P_14, #P_17 {
    color: rgb(255, 255, 255);
    height: 50px;
    overflow-wrap: break-word;
    text-align: center;
    width: 32px;
    word-wrap: break-word;
    perspective-origin: 16px 25px;
    transform-origin: 16px 25px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px / 25.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_14, #P_17*/

#DIV_15 {
    left: 227px;
    position: absolute;
    top: 242px;
    width: 32px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 16px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 16px 0px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_15*/

#DIV_18 {
    left: 194px;
    position: absolute;
    top: 254px;
    width: 32px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 16px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 16px 0px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_18*/

#DIV_19 {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    height: 25px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: center;
    width: 32px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 16px 12.5px;
    transform-origin: 16px 12.5px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    background: rgba(25, 25, 25, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 17px / 25.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_19*/

#P_20 {
    color: rgb(255, 255, 255);
    height: 25px;
    overflow-wrap: break-word;
    text-align: center;
    width: 32px;
    word-wrap: break-word;
    perspective-origin: 16px 12.5px;
    transform-origin: 16px 12.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 17px / 25.5px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_20*/

#DIV_21 {
    height: 4px;
    left: 131px;
    position: absolute;
    top: 235px;
    width: 156px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 78px 2px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 78px 2px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_21*/

#DIV_22 {
    height: 4px;
    position: absolute;
    width: 156px;
    align-self: stretch;
    perspective-origin: 78px 2px;
    transform-origin: 78px 2px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_22*/

#DIV_23 {
    height: 4px;
    position: absolute;
    width: 156px;
    align-self: stretch;
    perspective-origin: 78px 2px;
    transform-origin: 78px 2px;
    animation: none 1s ease 0s 1 normal none running;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_23*/

#DIV_24 {
    left: 166px;
    position: absolute;
    top: 323px;
    width: 85px;
    z-index: 0;
    align-self: stretch;
    perspective-origin: 42.5px 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 42.5px 0px;
    font: normal normal normal normal 16px / normal 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
}/*#DIV_24*/

#DIV_25 {
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    height: 18px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: center;
    width: 85px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 42.5px 9px;
    transform-origin: 42.5px 9px;
    animation: fadeIn 1s ease-in-out 0s 1 normal none running;
    background: rgba(25, 25, 25, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal normal normal 12px / 18px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_25*/

#P_26 {
    color: rgb(255, 255, 255);
    height: 18px;
    overflow-wrap: break-word;
    text-align: center;
    width: 85px;
    word-wrap: break-word;
    perspective-origin: 42.5px 9px;
    transform-origin: 42.5px 9px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 12px / 18px 'Microsoft YaHei', Arial, Helvetica, sans-serif, 宋体;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_26*/

.photo-swipe-widget{
    position: absolute;
    width: 400px;
    cursor: pointer;
    top: 420px;
}

.photo-swipe-widget img{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
}

.google-map-widget {
	position: absolute;
	width: 300px;
	height: 150px;
	margin: auto;
	left: 50px;
}

