.poster-top-ratio{
    padding-bottom: 29%;
}

.poster-widget-video_1 .video-play{
    position: absolute;
    left: 35%;
    top: 20%;
	width: auto;
    height: 30%;
}

.poster-widget-slider_1 {

}

.poster-widget-image_1 img {
    width: 100%;
    height: 100%;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

.vjs-controls-disabled .vjs-poster {
    display: inline-block;
}

.vjs-poster {
    background-size: cover;
}
