{% extends 'website/mobile/base.html' %}
{% load static %}

{% block base_header_css %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'poster/plugins/uploadimg/diyUpload.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'poster/plugins/slider/swiper.css' %}">
{% endblock %}

{% block base_header_js %}
    {{ block.super }}

    <script src="{% static 'poster/plugins/uploadimg/webuploader.html5only.min.js' %}"></script>
    <script src="{% static 'poster/plugins/uploadimg/webuploader.js' %}"></script>
    <script src="{% static 'poster/plugins/uploadimg/uploads.js' %}"></script>
    <script src="{% static 'poster/plugins/uploadimg/diyUpload.js' %}"></script>
    <script src="{% static 'poster/plugins/slider/swiper.js' %}"></script>
    <script src="{% static 'poster/plugins/slider/imgslider.js' %}"></script>
{% endblock %}

{% block base_body %}


    <button class="btncs">弹窗式上传</button>

    <!--<div id="test">图片上传接口demo</div>-->
    <!--<input type="file" id="test"/>-->

    <div class="dialog">
        <div id="demo">
            <div>
                <div class="demoheader">选择图片上传<i class="closefile glyphicon glyphicon-remove" class="glyphicon glyphicon-remove"></i></div>
            </div>


            <div id="as" class="webuploader-container">
                <div class="webuploader-pick">选择文件</div>
                <div id="rt_rt_1aidhgpbe70k1dhvopts2u4gq4">
                    <input type="file" name="file"
                           class="webuploader-element-invisible"
                           multiple="multiple"
                           accept="image/jpg,image/jpeg,image/png,image/gif"
                           chunked="false">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block base_body_footer %}

    <script>
        $('#as').diyUpload({
            url: '/api/v1/poster/upload/logo',
            success: function (data) {
                $('.block1').imgslider({'data': data});
                $(".dialog").animate({top: '100%'});
                console.info(data);
            },
            error: function (err) {
                console.info(err);
            },
            buttonText: '选择图片上传',
            chunked: false,
            fileNumLimit: 8,
            fileSingleSizeLimit: 5 * 1024 * 1024,
            accept: 'image/jpg,image/jpeg,image/png,image/gif',
            threads: 1

        });


    $(function () {
        $(".btncs").click(function () {
            $(".dialog").animate({top: '0px'});
        });

        $(".closefile").click(function(){
            $(".dialog").hide();
        })
    });


    </script>
{% endblock %}


<!--
    $('#test').uploads({
        pick: '#test',
        url: '/api/v1/poster/upload/logo',
        success: function (data) {

            console.info("success");
        },
        error: function (err) {

            console.info("error");
        },

        fileQueued:function(file){
            console.log('111')

        },
        complete:function(){
            console.log('完成')
        }

    })
   -->