{% extends 'website/base.html' %}
{% load static %}
{% block title %}Donut Chart{% endblock %}
{% block head_script %}
    {{ block.super }}
    <script src="{% static 'libs/common/Chart1.0.1.min.js' %}"></script>
    <script src="{% static 'libs/dotnut/js/dotnut.js' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'libs/dotnut/css/dotnut.css' %}">
{% endblock %}
{% block content %}
    <div class="doughnut" data-value="30" data-inner-cutout="50">
        <canvas class="doughnut-canvas"></canvas>
        <div class="doughnut-title"><p>Great</p></div>
    </div>
    <script>
        $(window).load(function () {
            $('.doughnut').doughnut()
        });
    </script>
{% endblock %}