{% load static %}
{% block title %}{% endblock %}
<meta name="renderer" content="webkit|ie-comp|ie-stand">
{% block head_script %}
    <link rel="stylesheet" href="{% static 'website/css/jquery.fullPage.css' %}">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'website/css/tuduanfeng.css' %}">
{% endblock %}
{% block content %}

<div class="header">
<ul id="menu">
	<li><a href="#"><img src="{% static 'website/images/logo.png' %}"/></a> </li>
	<li data-menuanchor="page1" class="active"><a href="#page1">首页</a></li>
	<li data-menuanchor="page2"><a href="#page2">公司简介</a></li>
	<li data-menuanchor="page3"><a href="#page3">公司业务</a></li>
	<li data-menuanchor="page4"><a href="#page4">搜索平台</a></li>
	<li data-menuanchor="page5"><a href="#page5">智能海报</a></li>
	<li data-menuanchor="page6"><a href="#page6">关于我们</a></li>
</ul>

	<span class="callus">
	<a href=""><img src="{% static 'website/images/i1.png' %}"/></a>
	<a href=""><img src="{% static 'website/images/i2.png' %}"/></a>
	<a href="" class="tel"><img src="{% static 'website/images/i3.png' %}"/></a>
		<div class="telshow">134-0712-6171</div>
	</span>


</div>
<div id="dowebok">
	<div class="section">
		<div class="sye"><img src="{% static 'website/images/banner1.png' %}"/></div>
	</div>

	<div class="section section2">
		<div class="bg"><img src="images/section1.jpg" alt=""></div>
		<div class="instrocon">
			<h3 class="bordered"><span><img src="{% static 'website/images/instro.png' %}"/></span></h3>
			<div class="conblock1">
				<h4>ALATTING</h4>
				<p>
公司是一家总部位于美国加州洛杉矶以智能海报技术为载体以数字化营销为主营业务的移动互联网科技公司，致力于为全球所有中小企业和个人创造便捷的线上线下推广渠道，帮助他们有效地表达所拥有的服务、资源、情感以及才能，打造符合移动化、社交化、智能化大数据趋势的新一代营销工具以及服务搜索平台。
				</p>
			</div>

			<div class="conblock2">
				<div class="d1"><img src="{% static 'website/images/phone1.png' %}"/></div>
				<div class="d2"><img src="{% static 'website/images/phone2.png' %}"/></div>
				<div class="d3"><img src="{% static 'website/images/phone3.png' %}"/></div>
			</div>

			<div class="conblock3">
				<h4>云页移动科技</h4>
				<p>是一家由ALATTING美国公司以及中国投资方中外合资注册于武汉光谷的以智能海报技术为载体以数字化营销为主营业务的中国网络科技股份有限公司。致力于为中国所有中小企业和个人打造符合移动化、社交化、智能化大数据趋势的新一代营销工具以及服务搜索平台。</p>
			</div>


		</div>
	</div>

	<div class="section">
		<div class="instrocon">
			<h2 class="tits">公司业务</h2>
			<div class="clearfix">
				<div class="fleft hcon">
					<div class="t1"><img src="{% static 'website/images/tu1.png' %}"/></div>
					<div class="t2"><img src="{% static 'website/images/tu2.png' %}"/></div>
					<div class="t3"><img src="{% static 'website/images/tu3.png' %}"/></div>
				</div>
				<div class="fright con2">

					<div class="clearfix">
						<h4 class="bt1">智能海报<br/>APP</h4>
						<div class="fleft block1">
							<p>Android版</p>
							<p>移动应用</p>
							<div class="contents">Android是一种基于Linux的自由及开放源代码的操作系统，主要使用于移动设备，如智能手机和平板电脑，由Google公司和开放手机联盟领导及开发。尚未有统一中文名称，中国大陆地区较多人使用“安卓”或“安致”。</div>
							<div class="textcenter"><img src="{% static 'website/images/android.png' %}"/></div>
						</div>

						<div class="fright block1">
							<p>IOS版</p>
							<p>移动应用</p>
							<div class="contents">iOS是由苹果公司开发的移动操作系统[1]  。苹果公司最早于2007年1月9日的Macworld大会上公布这个系统，最初是设计给iPhone使用的，后来陆续套用到iPod touch、iPad以及Apple TV等产品上.</div>
							<div class="textcenter"><img src="{% static 'website/images/apple.png' %}"/></div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="section searchbg">
		<!--<div class="searchbg"><img src="{% static 'website/images/bgs.jpg' %}"/></div>-->
		<div class="instrocon zt">
			<div class="pingt">
			<h3>搜索平台</h3>
			<p>适用于个人或中小企业建立比较完善的宣传型网站；投入少、实用、设计风格简约时尚，适用于信息量不大，对网站设计要求功能要求不是很高</p>
			</div>
			<div class="bg1"><img src="{% static 'website/images/bg3.png' %}"/></div>
			<div class="bg2"><img src="{% static 'website/images/bg2.png' %}"/></div>
			<div class="bg3"><img src="{% static 'website/images/bg1.png' %}"/></div>
		</div>
	</div>


	<div class="section section2">

		<div class="instrocon">



			<div class="slideGroup" style="margin:0 auto">
			<!--<div class="parHd">-->
				<!--<ul><li>教育</li><li>培训</li><li>出国</li></ul>-->
			<!--</div>-->
			<div class="parBd">

					<div class="slideBox">
						<a class="sPrev" href="javascript:void(0)"></a>
						<ul>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="{% static 'website/images/alatu1.png' %}" /></a></div>
								<!--<div class="title"><a href="#" target="_blank">效果图1.1</a></div>-->
							</li>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="{% static 'website/images/alatu2.png' %}" /></a></div>
								<!--<div class="title"><a href="#" target="_blank">效果图1.2</a></div>-->
							</li>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="{% static 'website/images/alatu3.png' %}" /></a></div>
								<!--<div class="title"><a href="#" target="_blank">效果图1.3</a></div>-->
							</li>
							<li>
								<div class="pic"><a href="#" target="_blank"><img src="{% static 'website/images/alatu2.png' %}" /></a></div>
								<!--<div class="title"><a href="#" target="_blank">效果图1.4</a></div>-->
							</li>
						</ul>
						<a class="sNext" href="javascript:void(0)"></a>
					</div><!-- slideBox End -->

			</div><!-- parBd End -->
		</div>





		</div>









	</div>

	<div class="section">
		<div class="instrocon" id="video">

		<!--<video controls="controls">-->
		  <!--<source src="{% static 'website/images/movies/alatting_intro_video_V2_baofeng.mp4' %}" type="video/ogg" controls="controls"">-->
		<!--Your browser does not support the video tag.-->
		<!--</video>-->

<video id="sampleMovie" src="{% static 'website/images/movies/alatting_intro_video_V2.mov' %}" autoplay></video>









		</div>


	</div>

</div>


{% endblock %}
{% block body_end %}
     <script src="{% static 'website/js/jquery-1.8.3.min.js' %}"></script>
     <script src="{% static 'website/js/jquery.fullPage.min.js' %}"></script>
	 <script src="{% static 'website/js/jquery.SuperSlide.2.1.1.js' %}"></script>
    <script src="{% static 'website/js/ckplayer.js' %}"></script>

    <script>
    $(function(){
	$('#dowebok').fullpage({
		sectionsColor: ['#fff', '#4BBFC3', '#83cfdf', '#f90', '#f90', '#fff'],
		anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
		menu: '#menu',
		});
	});




/* 内层图片滚动切换 */
jQuery(".slideGroup .slideBox").slide({ mainCell:"ul",vis:3,prevCell:".sPrev",nextCell:".sNext",effect:"leftLoop"});

/* 外层tab切换 */
jQuery(".slideGroup").slide({titCell:".parHd li",mainCell:".parBd"});


		$(function(){
			$(".tel").hover(function(){
				$(".telshow").show();

			},function(){
				$(".telshow").hide();
			})

		})

    </script>
{% endblock %}
