{% load static %}

<link rel="stylesheet" href="{% static 'poster/plugins/changebg/changebg.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/colorSelect/jquery.colorSelect.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/textEditor/jquery.textEditor.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/uploadimg/diyUpload.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/button/button-edit.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/input/yunye-input.css' %}">
<link rel="stylesheet" href="{% static 'poster/plugins/slider/swiper.css' %}">
<link rel="stylesheet" href="{% static 'poster/css/poster-base.css' %}">
<link rel="stylesheet" href="{% static 'poster/css/poster-edit-base.css' %}">