{% load static %}
<script src="{% static 'poster/plugins/date/dateinfo.js' %}"></script>
<script src="{% static 'poster/plugins/button/jscolor.js' %}"></script>
<script src="{% static 'poster/plugins/changebg/jquery.changebg.js' %}"></script>
<script src="{% static 'poster/plugins/colorSelect/jquery.colorSelect-1.1.1.js' %}"></script>
<script src="{% static 'poster/plugins/dropdown/jquery.dropdown.js' %}"></script>
<script src="{% static 'poster/plugins/textEditor/jquery.textEditor.js' %}"></script>
<script src="{% static 'poster/plugins/storage/yunye-storage.js' %}"></script>
<script src="{% static 'poster/plugins/input/yunye-input.js' %}"></script>
<script src="{% static 'poster/plugins/uploadimg/webuploader.js' %}"></script>
<script src="{% static 'poster/plugins/uploadimg/webuploader.html5only.min.js' %}"></script>
<script src="{% static 'poster/plugins/uploadimg/uploads.js' %}"></script>
<script src="{% static 'poster/plugins/uploadimg/diyUpload.js' %}"></script>
<script src="{% static 'poster/plugins/slider/swiper.js' %}"></script>
<script src="{% static 'poster/plugins/slider/imgslider.js' %}"></script>
<script src="{% static 'poster/plugins/change-template/change-template.js' %}"></script>
<script src="{% static 'poster/js/poster-base.js' %}"></script>
<script src="{% static 'poster/js/edit/template-event.js' %}"></script>

