{% load static %}

{% include "poster/edit/plugins/color.html" %}
{% include "poster/edit/plugins/text-editor.html" %}
{% include "poster/edit/plugins/button-editor.html" %}
{% include "poster/edit/plugins/system-image.html" %}
{% include "poster/edit/plugins/change-template.html" %}
{% include "poster/edit/plugins/dropdown.html" %}

<script src="{% static 'poster/plugins/button/scale.js' %}"></script>
<script src="{% static 'poster/plugins/button/button-edit.js' %}"></script>
<script src="{% static 'poster/js/baidumap.js' %}"></script>