.error{
	color:red;	
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   padding-left: 5px;
}
:-moz-placeholder { /* Firefox 18- */
   padding-left: 5px;
}
::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 5px; 
}
:-ms-input-placeholder {  /* IE 10+ */
   padding-left: 5px;
}
.disable-reminder {
    font-weight: 700;
    padding-top: 20px;
    color: red;
}
.required-reminder {
    vertical-align: super;
    color: #ff0000;
}
.qs {
	text-align: center;
    background: #efefef;
}
.qs input[type=radio] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
}
.qs input[type=checkbox] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	margin-right: 10px;
}
.qs textarea {
	min-height: 250px;
	margin-top: 10px;
    width: 90%;
    margin: 10px auto;
}
.qs .row {
    margin: 0;
    padding: 0;
}
.qs .progress {
	margin: 0;
    border-radius: 0;
    height: 18px;
}
.qs .progress-bar {
    font-size: 12px;
    line-height: 18px;
}
.qs.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.qs-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    max-width: 600px;
}
.qs-body {
    padding-top: 60px;
}
.progress-btm {
    background: #000;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}
.qs-cat{
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.qs-cat a{
    display: block;
    font-size: 16px;
    color: #5b5b5b;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.qs-cat .qs-cat-subcat {
	background: #dddddd;
    background-image: url('../img/sv-jiantou.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.qs-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
}
.qs-list {
    padding-top: 10px;
}
.qs-list-title {
    line-height: 20px;
    text-align: center;
}
.qs-list .radio, .qs-list .checkbox{
    background: #fff;
    border-radius: 5px;
    text-align: left;
    margin: 10px 0;
    padding: 0 0 0 20px;
}
.qs-list .radio-label, .qs-list .checkbox-label{
    height: 40px;
    line-height: 40px;
}
.qs-list .radio-text-label, .qs-list .checkbox-text-label {
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    padding-left: 5px;
}
.qs-list input[type=radio], .qs-list input[type=checkbox] {
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    margin-top: 0;
}
.qs-list .form-control{
    padding: 0;
    display: inline-block;
}
.qs-list .sm-input-label {
    font-weight: normal;
}
.qs-list .checkbox-inline {
    height: 30px;
}
.qs-list-input-group.row {
    padding-top: 10px;
}
.qs-list-section {
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #b4b4b4;
}
.qs-list-section.qs-list-section-pre {
    padding-bottom: 20px;
    border-bottom: 1px solid #b4b4b4;
}
.qs-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #000;
    line-height: 3.5em;
}
.required-reminder-text {
    padding-top: 20px;
    text-align: right;
    padding-right: 10px;
    color: #A9A9A9;
    font-size: 12px;
}
.qs-footer .btn{
    line-height: 2.4em;
    padding: 0 24px;
    margin-right: 12px;
    background: #f3f3f3;
    border: 0 none;
    border-radius: 4px;
    vertical-align: baseline;
    min-width: 90px;
}
.qs-footer-add-q {
    background-color: #bdbdbd;
    line-height: 40px;
}
.qs-add {
    max-width: 600px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
}
.qs-add-inner {
    background: rgba(0,0,0,0.6);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.qs-add-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;   
}
.add-qs-title {
    background-color: #939393; 
    line-height: 40px;
}
.add-qs-subtitle-1 {
    padding: 10px 0;
}
.qs-add-content form {
    background-color: #bdbdbd; 
}
.qs-add-content textarea {
    border-radius: 7px;
    min-height: 150px;
}
.short-text-wrapper {
    padding: 10px 0;
}
.short-text-wrapper input[type=text] {
    width: 300px;
    border-radius: 5px;
    line-height: 25px;
}
.add-qs-1-typelist {
    padding: 12px 0;
}
.radio-label-wrapper {
    display: inline-block;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}
.form-inner {
    border-bottom: 1px solid #939393;
}
.form-footer {
    padding: 10px 0;
}
.form-footer .btn {
    min-width: 100px;
    margin: 0 10px;
}
.qs-add-choice {
    max-width: 600px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
}
.qs-add-choice-inner {
    background: rgba(0,0,0,0.6);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.qs-add-choice-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;   
}
.qs-add-choice-content form {
    background-color: #bdbdbd; 
}
.add-qs-choice-list {
    margin: 0 auto;
}
.add-qs-choice-list td{
    padding: 5px 0;
}
.add-qs-choice-list input[type=text] {
    width: 300px;
    border-radius: 5px;
    line-height: 25px;
}
.dynamic-form-add a {
    display: block;
    background: #dedede;
    width: 300px;
    border-radius: 5px;
    line-height: 31px;
    text-align: left;
    padding-left: 5px;
    color: #555;
}
.dynamic-form .glyphicon {
    padding-left: 10px;
}
#ad-qs-new-q {
    background: #dedede;
    width: 300px;
    border-radius: 5px;
    padding: 5.5px 5px;
    color: #555;
    margin: 5px auto;
    text-align: left;
    line-height: 20px;
}
@media (min-width:600px) {
    .qs-footer {
        width:600px;
        left:50%;
        right: 0;
        margin-left:-300px;
    }
    .required-reminder-text {
        padding-right: 0;
    }
}