.error{
	color:red;	
}
.disable-reminder {
    font-weight: 700;
    padding-top: 20px;
    color: red;
}
.required-reminder {
    vertical-align: super;
    color: #ff0000;
}
.qs {
	text-align: center;
    background: #efefef;
}
.qs input[type=radio] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
}
.qs input[type=checkbox] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	margin-right: 10px;
}
.qs textarea {
	min-height: 250px;
	margin-top: 10px;
    width: 90%;
    margin: 10px auto;
}
.qs .row {
    margin: 0;
    padding: 0;
}
.qs .progress {
	margin: 0;
    border-radius: 0;
    height: 18px;
}
.qs .progress-bar {
    font-size: 12px;
    line-height: 18px;
}
.qs.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.qs-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    max-width: 600px;
}
.qs-body {
    padding-top: 60px;
}
.progress-btm {
    background: #000;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}
.qs-cat{
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.qs-cat a{
    display: block;
    font-size: 16px;
    color: #5b5b5b;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.qs-cat .qs-cat-subcat {
	background: #dddddd;
    background-image: url('../img/sv-jiantou.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.qs-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #b4b4b4;
}
.qs-list {
    padding-top: 10px;
}
.qs-list-title {
    line-height: 20px;
    text-align: center;
}
.qs-list .radio {
    background: #fff;
    border-radius: 5px;
    text-align: left;
    margin: 10px 0;
    padding: 0 0 0 20px;
}
.qs-list .radio-label{
    height: 40px;
    line-height: 40px;
}
.qs-list .radio-text-label {
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    padding-left: 5px;
}
.qs-list input[type=radio] {
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    margin-top: 0;
}
.qs-list .form-control{
    padding:0 6px;
    display: inline-block;
}
.qs-list .sm-input-label {
    width: 40px;
    font-weight: normal;
}
.qs-list .checkbox-inline {
    height: 30px;
}
.qs-list-input-group.row {
    padding-top: 10px;
}
.qs-list-section {
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #b4b4b4;
}
.qs-list-section.qs-list-section-pre {
    padding-bottom: 20px;
    border-bottom: 1px solid #b4b4b4;
}
.qs-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #000;
    line-height: 3.5em;
}
.required-reminder-text {
    padding-top: 20px;
    text-align: right;
    padding-right: 10px;
    color: #A9A9A9;
    font-size: 12px;
}
.qs-footer .btn{
    line-height: 2.4em;
    padding: 0 24px;
    margin-right: 12px;
    background: #f3f3f3;
    border: 0 none;
    border-radius: 4px;
    vertical-align: baseline;
    min-width: 90px;
}

@media (min-width:600px) {
    .qs-footer {
        width:600px;
        left:50%;
        right: 0;
        margin-left:-300px;
    }
    .required-reminder-text {
        padding-right: 0;
    }
}