{% extends 'website/mobile/base.html' %}
{% load static %}
{% block base_header_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'account/css/uc-base.css' %}"/>
    <link rel="stylesheet" href="{% static 'account/css/profile.css' %}"/>
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'libs/common/jquery.tmpl.min.js' %}"></script>
    <script src="{% static 'account/js/uc-base.js' %}"></script>
    <script src="{% static 'account/js/profile.js' %}"></script>
{% endblock %}

{% block base_body %}
    <div class="body-header">
        <div class="head-top">
            <div class="head-top-right">
                <div class="top-rt-item" id="myFavorite">
                    <i class="fa fa-star"></i><br>
                    <span class="rt-item-cont">我的收藏</span>
                </div>
                <div class="top-rt-item" id="myShare">
                    <i class="fa fa-share-square-o"></i><br>
                    <span class="rt-item-cont">已分享</span>
                </div>
                <div class="top-rt-item" id="myTradeRecord">
                    <i class="fa fa-list-alt"></i><br>
                    <span class="rt-item-cont">交易记录</span>
                </div>
            </div>
            <div class="head-top-left">
                <div class="user-friends"><i class="fa fa-user"></i></div>
                <div class="user-setting" id="user-setting"><i class="fa fa-power-off"></i></div>
                <div class="user-level level-diamond"></div>
                <div class="user-shopcart" id="user-shopcart"><i class="fa fa-shopping-cart"></i></div>
                <div class="user-info">
                    <span class="user-info-li user-icon" id="uIcon"><img src="{% static 'account/img/headicon-default.jpg' %}" alt="head"></span>
                    <span class="user-info-li user-name" id="uName">user</span>
                    <input type="hidden" id="userid" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="body-main">
        <div class="main-head" id="main-head">
            <div class="head-bot-li head-provide head-bot-act" data-item="provide">
                <span class="glyphicon glyphicon-tasks"></span>
                <span class="head-bot-name">我提供的服务</span>
            </div>
            <div class="head-bot-li head-need" data-item="need">
                <span class="glyphicon glyphicon-tasks"></span>
                <span class="head-bot-name">我想要的服务</span>
            </div>
            <input type="hidden" id="pageType" value="provide">
            <input type="hidden" id="shareId" value="0">
        </div>
        <div class="main-list main-provide" id="main-provide">
            <div class="ctrl-add" id="ctrl-add">
                <div class="ctrl-icon"><i class="fa fa-plus"></i></div>
            </div>
        </div>
        <div class="main-list main-need" id="main-need">
        </div>
    </div>
    <div class="body-share" id="body-share">
        <div class="share-li share-share">
            <i class="fa fa-share-square-o"></i>
            <span class="share-name">分享</span>
        </div>
        <div class="share-li share-weixin"><i class="fa fa-weixin"></i></div>
        <div class="share-li share-comment"><i class="fa fa-comment"></i></div>
        <div class="share-li share-envelope"><i class="fa fa-envelope"></i></div>
        <div class="share-li share-weibo"><i class="fa fa-weibo"></i></div>
        <div class="share-li share-qq"><i class="fa fa-qq"></i></div>
    </div>
    <div class="body-vip" id="body-vip">
        <h3 class="vip-h3">VIP系统</h3>
        <div class="vip-canvas">
            <div class="vip-sign level-diamond"></div>
            <canvas class="process" id="vip-process" width='300' height='300'></canvas>
        </div>
        <div class="vip-lv">
            <span class="lv-icon icon-diamond"></span>
            <span class="lv-name name-diamond">黄金等级</span>
        </div>
        <div class="vip-footer">
            <ul>
                <li>目前积分</li>
                <li>升级需求</li>
            </ul>
            <ul>
                <li class="vip-score">6128</li>
                <li class="vip-lvScore">10000</li>
            </ul>
        </div>
    </div>
    <div class="body-deal" id="body-deal">
        <div class="deal-header">
            <i class="glyphicon glyphicon-file"></i>
            <span >黄裕翔钢琴教学</span>
        </div>
        <div class="deal-contain">
            <span class="fa fa-angle-left"></span>
            <img src="{% static 'account/img/poster_default.jpg' %} "alt="">
            <span class="fa fa-angle-right"></span>
        </div>
        <div class="deal-footer">
            <ul class="deal-left">
                <li><i class="fa fa-clock-o"></i>时间</li>
                <li ><i class="fa fa-dollar"></i>价格</li>
                <li><i class="fa fa-star"></i>评价</li>
            </ul>
            <ul class="deal-right">
                <li>2016-6-16</li>
                <li>$60</li>
                <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
            </ul>
        </div>
    </div>

    <div class="body-shopping">
        <div class="shopping-header">
            <i class="fa fa-shopping-cart"></i>
            <span>我的购物车</span>
        </div>
        <i class="fa fa-close"></i>
        <div class="shopping-contain">
            <div class="shopping-title">
                 <div class="shopping-server">
                    <i class="glyphicon glyphicon-file"></i>服务
                 </div>
                <div class="shopping-time">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;时间
                </div>
                <div class="shopping-price">
                    <i class="glyphicon glyphicon-usd"></i>&nbsp;价格
                </div>
            </div>
            <div class="shopping-cont">
                <div class="shopping-div">
                    <div class="shopping-serverdiv"><i class="glyphicon glyphicon-file"></i>黄宇翔教学</div>
                    <div class="shopping-timediv">2016-6-16</div>
                    <div class="shopping-pricediv">$80/小时</div>
                </div>
                <div class="shopping-div">
                    <div class="shopping-serverdiv"><i class="glyphicon glyphicon-file"></i>黄宇翔教学</div>
                    <div class="shopping-timediv">2016-6-16</div>
                    <div class="shopping-pricediv">$80/小时</div>
                </div>
                
            </div>


        </div>
        <div class="shopping-footer">
            <div class="shopping-statement">
              <!--   <div class="statement-left"> -->
                    <span>服务数量:</span><span>555</span><span class="shopping-totaln">5555555</span><span class="shopping-total">总价:</span>
<!--                 </div>
                <div class="statement-right">
                    <span>总价:</span><span></span>
                </div> -->
            </div>
            <div class="statement-footer">
                <a><i class="fa fa-shopping-cart"></i>结账</a>
            </div>
        </div>
    </div>
    <script id="serverProvideTmpl" type="text/x-jquery-tmpl">
        <div class="main-li">
            <div class="mli-cont">
                <div class="p-cont">
                    <div class="p-cont-img"><img src="${snapshot}" alt="img"></div>
                    <div class="p-cont-info">
                        <div class="info-cont">
                            <div class="info-cont-money">
                                <span class="money-icon"><i class="fa fa-cny"></i></span>
                                <span class="money-num">60</span>
                                <span class="money-unit">小时</span>
                            </div>
                            <div class="info-cont-name">
                                <span class="cont-name">${postername}</span>
                                <span class="cont-star p-star p-star-2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-cont-tips"></div>
                </div>
                <div class="p-ctrl" data-id="${posterid}">
                    <div class="p-ctrl-li ctrl-lefttop ctrl-detail">
                        <span class="ctrl-icon"><i class="fa fa-list"></i></span><br>
                        <span class="ctrl-name">详情</span>
                    </div>
                    <div class="p-ctrl-li ctrl-righttop ctrl-edit" data-url="${mobileEditUrl}">
                        <span class="ctrl-icon"><i class="fa fa-pencil"></i></span><br>
                        <span class="ctrl-name">编辑</span>
                    </div>
                    <div class="p-ctrl-li ctrl-leftbot ctrl-statistics">
                        <span class="ctrl-icon"><i class="fa fa-bar-chart"></i></span><br>
                        <span class="ctrl-name">统计</span>
                    </div>
                    <div class="p-ctrl-li ctrl-rightbot ctrl-discount">
                        <span class="ctrl-icon"><i class="fa fa-bookmark-o"></i></span><br>
                        <span class="ctrl-name">打折</span>
                    </div>
                    <div class="p-ctrl-bot cbot-left ctrl-view"><i class="fa fa-eye"></i></div>
                    <div class="p-ctrl-bot cbot-right ctrl-delete"><i class="fa fa-trash-o"></i></div>
                </div>
            </div>
        </div>
    </script>
    <script id="serverNeedTmpl" type="text/x-jquery-tmpl">
        <div class="main-li">
            <div class="mli-cont">
                <div class="p-cont">
                    <div class="p-cont-img"><img src="${snapshot}" alt="img"></div>
                    <div class="p-cont-info">
                        <div class="info-cont">
                            <div class="info-cont-money">
                                <span class="money-icon"><i class="fa fa-cny"></i></span>
                                <span class="money-num">160</span>
                                <span class="money-unit">小时</span>
                            </div>
                            <div class="info-cont-name">
                                <span class="cont-name p-name">${postername}</span>
                                <span class="cont-star p-star p-star-2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-cont-tips"></div>
                </div>
                <div class="p-ctrl" data-id="${posterid}" data-ctid="${creatorid}">
                    <div class="p-ctrl-li ctrl-lefttop ctrl-detail">
                        <span class="ctrl-icon"><i class="fa fa-list"></i></span><br>
                        <span class="ctrl-name">详情</span>
                    </div>
                    <div class="p-ctrl-li ctrl-righttop ctrl-favorite" data-fav="0">
                        <span class="ctrl-icon"><i class="fa fa-star"></i></span><br>
                        <span class="ctrl-name">收藏</span>
                    </div>
                    <div class="p-ctrl-li ctrl-leftbot ctrl-statistics">
                        <span class="ctrl-icon"><i class="fa fa-bar-chart"></i></span><br>
                        <span class="ctrl-name">统计</span>
                    </div>
                    <div class="p-ctrl-li ctrl-rightbot ctrl-share">
                        <span class="ctrl-icon"><i class="fa fa-share-square-o"></i></span><br>
                        <span class="ctrl-name">分享</span>
                    </div>
                    <div class="p-ctrl-bot cbot-left ctrl-view"><i class="fa fa-eye"></i></div>
                </div>
            </div>
        </div>
    </script>


{% endblock %}