/**
* @constructor
* @title 主页
* @author chongyang.tu
* @time   2016.05.04
*/
/*公共*/
body,html {
	height: 100%;
	overflow: hidden;
}
.i-containar,
.type-model {
	padding-top: 36px;
	padding-bottom: 60px;
	height: 100%;
}
.i-containar{
	padding-top: 72px;
	overflow-y: auto;
}
.body-container{
	height: 100%;
}
/*头部*/
.home-header{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 800;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.home-header-sort {
	position: fixed;
	background: #fff;
	top: 36px;
	right: 0;
	left: 0;
	z-index: 9;
	border-bottom: 1px solid #ccc;
}
.btn-select {
	width: 50%;
	height: 100%;
	text-decoration: none;
	display: block;
	float: left;
	color: #696969;
	font-size: 16px;
	text-align: center;
}
.hrow{
	height: 36px;
	line-height: 36px;
}
.flexbox{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.home-header .left-menu{
	width: 33px;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #696969;
}
.home-header .right-menu{
	width: 50%;
	float: right;
}
.home-header .right-menu a{
	display: block;
	flex: 1;
	text-align: center;
	font-size: 18px;
	color: #696969;
}
.home-header .title {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
.home-header .btn-select {
	width: 50%;
	text-decoration: none;
	display: block;
	float: left;
	color: #696969;
	font-size: 16px;
	height: 35px;
	line-height:35px;
	text-align: center;
}
.btn-select.active{
	background: #E5E5E5;
}
.home-containar {
}
/**/
.image-list {
	padding: 5px;
	overflow: hidden;
}
.image-list li {
	width: 50%;
	float: left;
	margin: 8px 0;
	position: relative;
	padding-bottom: 80%;
}
.image-list li img {
	max-width: 100%;
	vertical-align: top;
}
.image-list li .img {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.image-list li .det {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 10px;
	background: rgba(255,255,255,0.9);
	font-size: 1em;
}
.image-list li .det .title {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #515151;
	margin-bottom: 5px;
}
.image-list li .det .view-num {
	color: #a6a7ac;
}
.image-list li .det a,
.image-list li .det a:hover,
.image-list li .det a:visited,
.image-list li .det a:focus{
    color: #a6a7ac;
}
.view-num i {
	margin-right: 5px;
}
.empty-info {
	padding: 20px;
	color: #999;
	text-align: center;
}
.image-list li .wraper {
	position: absolute;
	top: 0;
	width: 90%;
	height: 100%;
	left: 5%;
	box-shadow: 0 0 5px #999;
}
/**/
.list {
	position: relative;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0;
	margin-bottom: 20px;
}
.list:last-child {
	margin-bottom: 0px;
}
.item {
	border-color: #ddd;
	background-color: #fff;
	color: #444;
	position: relative;
	z-index: 2;
	display: block;
	margin: -1px;
	padding: 16px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
}
/*创建前 类型选择*/
.type-model {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 888;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	pointer-events: none;
}
.type-model.open {
	visibility: visible;
	opacity: 1;
}
.type-model-inner {
	background: rgba(0,0,0,0.4);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: auto;
}
.type-model-containar {
	position: relative;
	z-index: 20;
	background: rgba(230,230,230,0.96);
	box-shadow: 0 6px 6px rgba(0,0,0,.1) inset;
	-webkit-transform: scale(1);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-transition: all 0.15s;
	transition: all 0.15s;
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}
.type-model.open .type-model-containar {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.sublist {
	margin: 0;
}
.type-model-containar a {
	color: #444;
	text-decoration: none;
}
.type-model-containar .list {
	padding-top: 20px
}
.type-model-containar .list .item {
	padding: 0;
	background: none;
	border-color: rgba(210,210,210,1);
}
.type-model-containar .list .item-link {
	display: block;
	padding: 10px 20px;
	z-index: 10;
	position: relative;
}
.type-model-containar .list .item-link i,
.type-model-containar .list .subitem-link i {
	float: right;
	display: none;
}
.type-model-click {
	width: 100%;
	height: 100%;
	pointer-events: auto;
	position: absolute;
	top: 36px;
}
.type-model-containar .list .item-link:active,
.type-model-containar .list .open .item-link:active {
	background: rgba(255,255,255,0.2);
}
/*二级*/
.type-model-containar .list .sublist {
	z-index: 9;
	position: relative;
	border-top: 1px solid rgba(210,210,210,1);
	display: none;
}
.type-model-containar .list .sublist .subitem-link {
	display: block;
	padding: 10px 20px 10px 40px;
}
.type-model-containar .list .subitem {
	border-bottom: 1px solid rgba(210,210,210,1);
}
.type-model-containar .list .subitem:last-child {
	border-bottom: 0;
}
/*open*/
.type-model-containar .list .open .item-link {
	background: #fff;
}
.type-model-containar .list .open .sublist {
	box-shadow: 0 3px 3px #ccc inset;
}
.type-model-containar .list .open .sublist .subitem-link {
	background: rgba(255,255,255,0.7);
}
.type-model-containar .list .open .sublist .subitem-link:active,
.type-model-containar .list .open .sublist .subitem-link.active{
	background: rgba(255,255,255,0.5);
}
.type-model-containar .list .item.open .item-link i,
.type-model-containar .list .subitem.open .subitem-link i {
	display: block;
}

/* search */
.search-container{
	padding:15px 10px;
	background:#0085c4;
}
.searchbar{
	display: box;
	height: 36px;
	background:#fff;
	border-radius:5px;
	position:relative;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.searchbar .icon-search{
	font-size:20px;
	position:absolute;
	left: 10px;
	top:8px;
	color:#7e7e7e;
}
.searchbar .text{
	border:0;
	padding:8px 0 8px 40px;
	float:left;
	background:none;
	width: 100%;
}

.search-type{}
.search-type .title{
	padding:10px;
	color:#898989;
	border-bottom:1px solid #b7b7b7;
}
.search-type .title i{
	margin-right:10px;
}
.search-type-list{
	margin:0;
	padding:0;
}
.search-type-list li{
	list-style: none;
	border-bottom:1px solid #b7b7b7;
}
.search-type-list li a{
	display: block;
	padding:10px 20px;
	font-size:16px;
	color:#4a4a4a;
}
.search-type-list li a:active{
	background-color:#e0e0e0;
}
.search-type-list li>a.link-item{
	background:#f6f6f6;
}
.search-type-list li .text{
	min-width:80px;
	display:inline-block;
	margin-right:15px;
}
.search-type-list li .checkbox{
	opacity:0;
	float:right;
	visibility: hidden;
}
.search-type-list li a i{
	color:#727272;
}
.search-type-list li .subnav{
	margin:0;
	display: none;
}
.search-type-list li .subnav dd{
	border-top:1px solid #e0e0e0;

}
.search-type-list li .subnav a{
	padding-left:40px;
}
.searchbtn,a.searchbtn{
	position: absolute;
	width: 50px;
	left: 100%;
	padding:0 10px;
	display: inline-block;
	line-height:36px;
	color:#fff;
}
.searchbtn:active,a.searchbtn:active{
	background:rgba(0,0,0,.1);
}
.searchdel{
	width:20px;
	height: 20px;
	line-height: 20px;
	background-color: rgba(0,0,0,.6);
	color:#fff;
	display: block;
	position: absolute;
	top: 8px;
	right: 10px;
	text-align: center;
	border-radius:50%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.searchdel:hover{
	color:#fff;
}
.searchdel:active{	
	background-color: rgba(0,0,0,.8);
}
.searchbar.active{
	margin-right:40px;
}
.searchbar.active .searchdel{
	opacity:1;
	visibility: visible;
}

#QA{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 37px 0 60px 0;
	z-index: 1002;
	overflow: hidden;
	display: none;
	pointer-events: none;
}
#QAContent{
	width: 100%;
	height: 100%;
	background: #ccc;
	pointer-events: auto;
	position: relative;
}
#QAContent .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#QAContent  ul{
	width: 100%;
	padding-left: 0;
	margin:0;
	border-bottom: 1px solid  #938F8F;
}
#QAContent  li{
	padding: 15px 10px 15px 20px;
}
li.Qes {
	list-style:url(../images/QUEIcon.png);
	list-style-position:inside;
	background-color:#B5B5B5;
}
li.Ans {
	list-style:url(../images/ANSIcon.png);
	list-style-position:inside;
	background-color:#D3D3D3;
	display:none;
}
#QAContent li span.QAText{
	display: block;
	position: relative;
	padding-left: 30px;
	top: -20px;
	margin:-7px 0 -20px 0;
}
#QAContent li span.QAFake{
	display: inline-block;
	z-index: 21;
}
#QAContent #arrow{
	display:none;
	position:absolute;
	left:50%;
	margin:15px 0 0 -10px;
	transform:rotate(45deg);
	z-index:100;
	border: 10px solid;
	border-color: transparent #b5b5b5 #b5b5b5 transparent;
}
#QAHide{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	pointer-events: auto;
}
#Sort{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 37px 0 60px 0;
	z-index: 888;
	overflow: hidden;
	display: none;
	pointer-events: none;
}
#SortContent{
	pointer-events: auto;
}
#SortContent ul{
	padding: 0;
	margin:0;
}
#SortHide{
	width: 100%;
	height: 100%;
	pointer-events: auto;
	background:rgba(0,0,0,0.4);
}
#SortContent .title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #b5b5b5;
	font-size: 16px;
}
#SortContent li {
	font-size: 16px;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
	display: block;
	background: #DEDEDE;
	border-bottom: 1px solid  #CACACA;
}
#SortContent li ,#SortContent li a{
	color: #000;
}
#SortContent li:last-child {
	border-bottom: none;
}
.arrowUp{
	position:absolute;
	margin:-5px 0 0 -10px;
	transform:rotate(45deg);
	z-index:100;
	border: 10px solid;
	border-color:  #b5b5b5 transparent transparent #b5b5b5 ;
}
#QA .arrowUp{
	left: 95%;
	border-color:  #ccc transparent transparent #ccc ;
}
#Sort .arrowUp{
	left: 16.5px;
}
#Sort input{
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 80px;
	margin-right: 5px;
}
/*适配*/
@media (min-width: 600px) {
	.home-header,.footer {
		width: 600px;
		left: 50%;
		margin-left: -300px;
	}

}
@media (min-width: 600px)  and (max-width:769px){	
	.home-header,.footer{max-width:768px;width:100%;left:0;margin-left:0;}
}