.content{

}

.poster_header{
    position: relative;
    width: 500px;
    margin: 10px auto 20px auto;
}

.poster_footer{
    position: relative;
    width: 500px;
    margin: 10px auto 20px auto;
}