.card-body{
	height: 100%;
	background: url(../images/bg.png);
    background-size: cover;
	box-sizing: inherit;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
}
.poster-header{
    position: relative;
    width: 100%;
    z-index:100;
}
.poster-header > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div.header-pages{
	position: absolute;
    left: 0;
    top: 0;
    height:100%;
    min-width:46px;
    display:inline-block;
    vertical-align: middle;
    z-index: 5;
}
div.header-title{
    height:100%;
    color:white;
    display:block;
    margin:0 auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
div.header-menu{
	height: 100%;
}
.card-pages-ratio{
    padding-bottom: 130%;
    position: relative;
    width: 100%;
}
.card-pages{
	padding-top: 10%;
	padding-bottom:30%;
}