.icon-btn {
    border: none;
    border-radius: 0;
    padding: 0;
}

.icon-btn img {
    width: 100%;
}

.app{
    background-color: white
}

.equal-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.equal-justified > * {
    display: table-cell;
    width: 1%;
    float: none !important;
    vertical-align: middle;
    text-align: center;
}

.bottom-nav {
    min-height: unset;
}

.navbar-app .btn {
    line-height: unset;
}

.bottom-ratio-frame {
    max-width: 800px;
    max-height: 136px;
    min-width: 240px;
    min-height: 40.8px;
}

.bottom-ratio-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 8%;
}

.bottom-ratio-wrapper > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-container .popover{
    min-width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.bottom-container .popover-title{
    padding: 0;
    font-size: 100%;
    border-bottom: none;
}

.bottom-container .popover-content{
    padding: 0;
    font-size: 100%;
    background-color: #686c70;
}

.bottom-container .popover-content .btn-group{
    background-color: #686c70;
}

.bottom-container .popover.top > .arrow:after{
    border-top-color: #686b70;
}

.navbar-absolute-bottom{
    background-color: transparent;
    border: none;
}

.bottom-menu {
    background: #1a486a; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /*  background: -webkit-linear-gradient(left,#102c41, #153a56, #1a486a, #1f567e, #2972a7, #1f567e, #1a486a, #153a56, #102c41);*/
  /* For Opera 11.1 to 12.0 */
  /*  background: -o-linear-gradient(left,#102c41, #153a56, #1a486a, #1f567e, #2972a7, #1f567e, #1a486a, #153a56, #102c41);*/
  /* For Fx 3.6 to 15 */
  /*  background: -moz-linear-gradient(left,#102c41, #153a56, #1a486a, #1f567e, #2972a7, #1f567e, #1a486a, #153a56, #102c41);*/
  /* Standard syntax */
  /*  background: linear-gradient(to right, #102c41, #153a56, #1a486a, #1f567e, #2972a7, #1f567e, #1a486a, #153a56, #102c41);*/
    height: 100%;
}


.bottom-btn {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.bottom-btn img{
    height: 50%;
    max-height: 36px;
    max-width: 36px;
}

.bottom-btn {
    position: relative;
    overflow: hidden;
}

.share-sub-btn {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.share-sub-btn img{
    width: 50%;
    max-width: 36px;
    max-height: 36px;
}

/* rate submenu */

.rating-disabled {
    cursor: inherit;
    pointer-events: none;
}

.rate-submenu.popover {
    background-color: rgba(0,0,0,.8);
}

.rate-submenu .popover-title {
    line-height: 1;
    background-color: transparent;
    padding-top: 2%;
    padding-bottom: 2%;
}

.rate-info > div{
    vertical-align: middle;
    text-align: center;
}

.rate-totals .rating-md {
    font-size: 80%;
    line-height: 1.5;
    padding-bottom: 10px;
}

.rate-submenu .rate-rating{
    font-size: 200%;
    color: white;
    padding-bottom: 10px;
}

.rate-submenu .rate-total{
    font-size: 80%;
    color: white;
}

.rate-submenu .rate-total img{
    width: 8%;
}

.rate-submenu .rate-action {
    text-align: center;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.rate-action .rating-md {
    font-size: 100%;
}
/* rate-levels */
.rate-submenu .rate-level {
    font-size: 80%;
    color: #97989c;
    line-height: 1.8;
}

.rate-submenu .rate-levels{
    padding-left: 4%;
    padding-right: 4%;
}

.rate-submenu .rate-level-label {
    width: 30%;
}

.rate-level .rate-progress {
    width: 70%;
    text-align: left;
}

.rate-level .rate-progress-bar {
    padding-left: 4%;
    color: #302e31;
}

.rate-submenu .rate-star {
    font-weight: bold;
}

.rate-level .rate-five {
    background-color: #9cbb57;
}

.rate-level .rate-four{
    background-color: #aad133;
}

.rate-level .rate-three {
    background-color: #fcd735;
}

.rate-level .rate-two {
    background-color: #ffb336;
}

.rate-level .rate-one {
    background-color: #f68859;
}

.rating-container .rating-stars {
    color: #ffda44;
}

/* export */

.export-sub-btn {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.export-sub-btn img{
    width: 50%;
    max-width: 36px;
    max-height: 36px;
}

/* stats */
.stats-submenu {
    background-color: transparent;
    font-size: 24px;
}

.stats-submenu .popover-title {
    background-color: #4d5154;
}

.stats-submenu .popover-content{
    color: white;
    background-color: rgba(0,0,0,.8);
    line-height: 1;
}

.stats-submenu .stats-title {
    text-align: center;
    color: white;
    font-size: 80%;
}

.stats-title img {
    width: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.stats-submenu .stats-fun {
    color: #65cefe;
}

.stats-submenu .stats-pop {
    color: #ffe377;
}

.stats-submenu .stats-credit {
    color: #6ffee7;
}

.stats-submenu .stats-graph, .stats-submenu .pop-credit{
    position: relative;
}

.stats-submenu .stats-graph{
   /* padding-bottom: 2%;*/
}

.pop-credit .dots{
    width: 9%;
    position: absolute;
    left: 47%;
    top: 27%;
}

.stats-graph .left-dots{
    width: 9%;
    position: absolute;
    left: 30%;
    bottom: -1%;
    transform: rotate(-60deg);
}

.stats-graph .right-dots{
    width: 9%;
    position: absolute;
    right: 30%;
    bottom: -1%;
    transform: rotate(60deg);
}

.stats-graph .right-btn{
    position: absolute;
    width: 20%;
    right: 0%;
    top: 2%;
}

.stats-submenu .doughnut {
    width: 100%;
    padding-top: 17%;
    padding-bottom: 17%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.stats-submenu .stats-fun {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.stats-submenu .doughnut-title {
    font-size: 100%;
}

.stats-submenu .stats-graph-label {
    font-size: 70%;
    text-align: center;
    margin-bottom: 4%;
    color: white;
}

.stats-fun .stats-graph-label {
    padding-top: 8%;
}

.stats-submenu .stats-graph-value {
    font-size: 100%;
    text-align: center;
    margin-bottom: 8%;
}

.stats-submenu .stats-type-icon {
    width: 30%;
    text-align: center;
    background-color: #6b6e73;
    padding: 3% 0 3% 0;
}

.stats-type-icon img{
    width: 25px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stats-type-sep {
    width: 1%;
}

.stats-hr {
    padding-bottom: .5%;
}

.stats-submenu .stats-type-numbers {
    width: 68%;
    background-color: #868a8d;
    text-align: center;
    vertical-align: middle;
    font-size: 70%;
    line-height: 1;
}

.stats-type-numbers > div {
    height: 100%;
}

.stats-type-increase {
    color: #ffe377;
    text-align: left;
}

.stats-type-increase img{
    width: 35%;
    vertical-align: baseline;
    display: inline;
}

.stats-type-increase span {
    vertical-align: baseline;
}

/* second page */

.stats-submenu .stats-score-sep {
    width: 1%;
}

.stats-submenu .stats-score-name {
    width: 49.5%;
    text-align: center;
    background-color: #6b6e73;
    padding: 3% 0 3% 0;
    color: #b3b4b6;
    font-size: 80%;
}

.stats-submenu .stats-score-numbers {
    width: 49.5%;
    background-color: #868a8d;
    text-align: center;
    vertical-align: middle;
    font-size: 70%;
    line-height: 1;
}

.stats-submenu .stats-overall {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

.stats-overall .left-btn {
    position: absolute;
    width: 20%;
    top: -4%;
    transform: rotate(180deg);
}

.stats-score {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.stats-score .medal{
    width: 40%;
}

.stats-score .cup{
    width: 10%;
}

.stats-score-increase {
    color: #ffe377;
    text-align: left;
}

.stats-score-increase img{
    width: 35%;
    vertical-align: baseline;
    display: inline;
}

.stats-score-increase span {
    vertical-align: baseline;
}

/* comments submenu */
.comments-submenu {
    z-index: 1023;
}

.comments-submenu .poster-frame {
    min-height: 100%;
    background-color: rgba(0,0,0,.8);
}

.comments-submenu .poster-frame > div{
    padding: 2% 5% 2% 5%;
}

.comment {
    font-size: 24pt;
    padding-top: 4%;
}

.comment-person {
    width: 20%;
    vertical-align: top;
    text-align: center;
}

.comment-text {
    width: 80%;
    vertical-align: top;
}

.comment-person img {
    margin-top: 30%;
    width: 80%;
}

.bubble {
    position: relative;
    margin-left: 6%;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent white;
    display: block;
    width: 0;
    z-index: 1;
    left: -4vw;
    left: calc(-4vw + 1px);
    top: 10vw;
    border-width: 2vw 4vw 2vw 0px;
}

.bubble1:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #565C7F;
    display: block;
    width: 0;
    z-index: 0;
    left: -1vw;
    top: 2vw;
    border-width: 1vw 1vw 1vw 0;
}

.bubble-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
     background-color: white;
    -webkit-border-radius: 2vw;
    -moz-border-radius: 2vw;
    border-radius: 2vw;
}

.bubble-header{
}

.bubble-title {
    padding-left: 4%;
    width: 60%;
    background: #cfd6de;
    font-size: 60%;
}

.bubble-time {
    padding-left: 2%;
    width: 40%;
    background: #686b70;
    font-size: 50%;
    vertical-align: middle;
    color: white;
}

.comment .bubble-content{
    padding-left: 4%;
    padding-right: 4%;
    font-size: 60%;
    min-height: 18vw;
}

.comment .bubble-title.editing{
    width: 100%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.comment .bubble-content.editing{
    padding-top: 2%;
}

.comment .title-edit, .comment .content-edit{
    width: 100%;
}

.comment .content-edit{
    resize: none;
}

.comment .icon-btn{
    width: 10%;
    float: right;
    padding-top: 2%;
}

input.ng-invalid,
textarea.ng-invalid {
  border-color: #ff3b30;
}

.ng-dirty input.ng-invalid {
  border-color: #ff3b30;
}

.ng-dirty input.ng-invalid ~ span.ko {
  color: #ffcc00;
}

/* */

.poster_side_bar{
    position: fixed;
    top: 400px;
    z-index: 1024;
}

.poster_footer{
    position: relative;
    width: 500px;
    margin: 10px auto 20px auto;
}

.poster-frame {
    max-width: 800px;
    min-width: 240px;
    /*max-height: 1424px;
    min-height: 427.2px;*/
}

.poster-top-ratio {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
}

.poster-top-ratio > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.poster-top {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}
/**
.poster-header{
    position: absolute;
    height: 75%;
    width: 68%;
    background-color: #ced6de;
    background-clip: content-box;
    padding-bottom: 0.25%;
}

.poster-qrcode{
    position: absolute;
    height: 80%;
    right: 3%;
    top: 10%;
}

.poster-logo {
    position: absolute;
    left: 3%;
    top: 30%;
    width: 60%;
}

.views-count-widget{
	position: absolute;
	border-radius: 3px;
	font-size: 16px;
	color: red;
	top: 0px;
	right: 30%;
	padding: 5px;
    margin: 0px;
	background-color: white;
}

.poster-title {
    position: absolute;
    left: 15%;
    top: 65%;
    font-size: 70%;
}

.poster-contact {
    position: absolute;
    left: 68%;
    width: 32%;
    height: 100%;
}

.poster-contact > * {
    position: absolute;
    width: 100%;
    height: 50%;
}

.poster-contact .second-row{
    top: 50%;
}

.poster-contact .first-row {
    padding-bottom: 1%;
}

.poster-contact img {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    padding-left: 2%;
}

.poster-tabs {
    position: absolute;
    top: 75%;
    width: 68%;
    height: 25%;
    font-size: 60%;
}
*/
.tab-btn > div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tab-btn > div{
    top: 0;
    position: absolute;
    height: 100%;
    background-color: #ced6de;
    /*background-clip: content-box;*/
    width: 100%;
}

.tab-btn:not(:first-child) > div{
    padding-left: 1.5%;
}

.tab-btn {
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 100%;
}

.tab-btn:focus div,
.tab-btn:active div,
.tab-btn.active div
{
  color: #ffffff;
  background-color: #597995;
}


.poster-tabs li{
    background-color: #ced6de;;
}

/* pages */

.poster-pages-ratio {
    position: relative;
    width: 100%;
    padding-bottom: 130%;
}

.poster-pages-ratio > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.poster-pages {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.poster-page {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* media */
@media all and (min-width: 768px) {
    .stats-score-increase img{
        width: 25%;
    }
    .stats-submenu .stats-score-name {
        padding: 2% 0 2% 0;
    }
    .stats-score .medal{
        width: 20%;
    }
    .stats-overall .left-btn {
        top: -6%;
    }
}

@media all and (min-width: 800px) {
    .app{
        font-size: 56px; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 45px;
    }

    .bubble:after {
        left: -31px;
        top: 80px;
        border-width: 16px 32px 16px 0px;
    }

    .bubble-content{
        min-height: 144px;
    }
    .bubble-wrapper {
        border-radius: 16px;
    }
}

@media all and (min-width: 241px) and (max-width: 799px) {
    .app{
        font-size: 7vw; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 40px;
    }
}

@media all and (max-width: 240px) {
    .app{
        font-size: 16.8px; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 40px;
    }

    .bubble:after {
        left: -10px;
        top: 24px;
        border-width: 5px 10px 5px 0px;
    }

    .bubble-content {
        min-height: 43px;
    }
    .bubble-wrapper {
        border-radius: 5px;
    }
}

/* fix webkit clip pointer events bug */
.poster-region > div *{
    pointer-events: none;
}

/* widgets */

.poster-text-widget {
    position: absolute;
    padding: 0;
    margin: 0;
}

.clip-svg {
    position: absolute;
}


/* default */
.poster-default-widget {
    height: 100%;
    background-color: #dddddd;
}


/* slider */
.flexslider {
    margin-bottom: 0 !important;
    border: none !important;
}

.flexslider .flex-viewport{
    height: 100%;
}

.flexslider .slides {
    display: block;
    height: 100%;
}

.flexslider .slides li{
    overflow: hidden;
    height: 100%;
}

.flexslider .slides img{
    max-width: none;
}

.flexslider .slides:after{
    clear: left;
}

/* video */
.poster-video-widget > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster-video-widget video{
    overflow: hidden;
}

.poster-video-widget img {
    max-width: none;
}

.poster-video-widget .video-play{
    pointer-events: auto !important;
}

/* image */
