.app{
    background-color: white
}

.bottom-ratio-frame {
    max-width: 800px;
    max-height: 136px;
    min-width: 240px;
    min-height: 40.8px;
}

.bottom-ratio-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 17%;
}

.bottom-ratio-wrapper > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-absolute-bottom{
    background-color: transparent;
    border: none;
}

.navbar-absolute-bottom .btn-group{
    background-color: #020202;
    height: 100%;
}

.navbar-absolute-bottom .btn-navbar{
    border-right: 1px solid #818181 !important;
}

.bottom-btn img{
    height: 50%;
    max-width: none;
}

.bottom-btn {
    position: relative;
    overflow: hidden;
}

.poster_side_bar{
    position: fixed;
    top: 400px;
    z-index: 1024;
}

.poster_footer{
    position: relative;
    width: 500px;
    margin: 10px auto 20px auto;
}

.poster-ratio-frame {
    max-width: 800px;
    max-height: 1424px;
    min-width: 240px;
    min-height: 427.2px;
}

.poster-ratio-wrapper {
    width: 100%;
    padding-bottom: 178%;
    position: relative;
}

.poster-ratio-wrapper > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.poster-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.poster-top {
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: white;
}

.poster-header{
    position: absolute;
    height: 75%;
    width: 68%;
    background-color: #ced6de;
    background-clip: content-box;
    padding-bottom: 0.25%;
}

.poster-qrcode{
    position: absolute;
    height: 80%;
    right: 3%;
    top: 10%;
}

.poster-logo {
    position: absolute;
    left: 3%;
    top: 30%;
    width: 60%;
}

.views-count-widget{
	position: absolute;
	border-radius: 3px;
	font-size: 16px;
	color: red;
	top: 0px;
	right: 30%;
	padding: 5px;
    margin: 0px;
	background-color: white;
}

.poster-title {
    position: absolute;
    left: 15%;
    top: 65%;
    font-size: 70%;
}

.poster-contact {
    position: absolute;
    left: 68%;
    width: 32%;
    height: 100%;
}

.poster-contact > * {
    position: absolute;
    width: 100%;
    height: 50%;
}

.poster-contact .second-row{
    top: 50%;
}

.poster-contact .first-row {
    padding-bottom: 1%;
}

.contact-btn {
    border: none;
    border-radius: 0;
    padding: 0;
}

.poster-contact img {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    padding-left: 2%;
}

.poster-tabs {
    position: absolute;
    top: 75%;
    width: 68%;
    height: 25%;
    font-size: 60%;
}

.tab-btn > div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tab-btn > div{
    top: 0;
    position: absolute;
    height: 100%;
    background-color: #ced6de;
    background-clip: content-box;
    width: 100%;
}

.tab-btn:not(:first-child) > div{
    padding-left: 1.5%;
}

.tab-btn {
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 100%;
}

.tab-btn:focus div,
.tab-btn:active div,
.tab-btn.active div
{
  color: #ffffff;
  background-color: #597995;
}


.poster-tabs li{
    background-color: #ced6de;;
}

.poster-pages {
    position: absolute;
    top: 20%;
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.poster-page {
    position: absolute;
    height: 100%;
    width: 100%;
}

.left-top {
    position: absolute;
    width: 63.5%;
    height: 49%;
    cursor: pointer;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    clip-path: url(#left-top-path);
}

.right-top {
    position: absolute;
    left: 51%;
    width: 49%;
    height: 49%;
    cursor: pointer;
    background-color: blue;
    -webkit-clip-path: polygon(0 23.2%, 30.3% 0, 100% 0, 100% 100%);
    clip-path: url(#right-top-path);
}

.middle {
    position: absolute;
    top: 12.06%;
    margin-left: -4.84%;
    width: 109.68%;
    height: 84.58%;
    cursor: pointer;
    -webkit-clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    clip-path: url(#middle-path);
}

.left-bottom {
    position: absolute;
    top: 60%;
    width: 52%;
    height: 40%;
    cursor: pointer;
    background-color: yellow;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    clip-path: url(#left-bottom-path);
}

.right-bottom {
    position: absolute;
    left: 51.3%;
    top: 60%;
    width: 48.7%;
    height: 40%;
    cursor: pointer;
    background-color: purple;
    -webkit-clip-path: polygon(0 94%, 100% 0, 100% 100%, 6% 100%);
    clip-path: url(#right-bottom-path);
}

@media all and (min-width: 800px) {
    .poster-container{
        font-size: 56px; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 136px;
    }
}

@media all and (min-width: 241px) and (max-width: 799px) {
    .poster-container{
        font-size: 7vw; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 17%;
    }
}

@media all and (max-width: 240px) {
    .poster-container{
        font-size: 16.8px; /* 200px: 14px */
    }

    .has-navbar-bottom .app-body {
        padding-bottom: 40.8px;
    }
}

/* fix webkit clip pointer events bug */
.poster-region > div *{
    pointer-events: none;
}

/* widgets */

/* silder */
.flexslider {
    margin-bottom: 0 !important;
    border: none !important;
}

.flexslider .flex-viewport{
    height: 100%;
}

.flexslider .slides {
    display: block;
    height: 100%;
}

.flexslider .slides li{
    overflow: hidden;
    height: 100%;
}

.flexslider .slides img{
    max-width: none;
}

.flexslider .slides:after{
    clear: left;
}

/* video */
div.poster-video-widget img{
    pointer-events: auto !important;
}
