{% extends 'website/pc/base.html' %}
{% load static %}

{% block base_head_css %}
	{% include 'poster/pc/edit/header-css.html' %}
{% endblock %}

{% block base_head_js %}
	<script>
		var yunyeEditorGlobal = {
			posterId: "{{ poster.id }}",
			posterPageId: "{{ posterpage.id }}",
			templateId: "{{ posterpage.template.id }}",
			address: "{{ poster.address }}",
			mobile: "{{ poster.mobile }}",
			phone: "{{ poster.phone }}",
			email: "{{ poster.email }}",
			unique_name:"{{ poster.unique_name }}",
			logo_title: "{{ poster.logo_title }}",
			logo_image: "{{ poster.logo_image.file.url }}",
			lifetime: "{{ poster.lifetime|default_if_none:'' }}",
			updated_at: "{{ poster.updated_at|date:'Y-m-d H:i:s' }}",
			short_description:"{{ poster.short_description }}",
			API: {
				templates: "{% url 'poster_api:templates' %}",
				updateTemplate: "{% url 'poster_api:posterpage_detail' posterpage.id %}",
				createPage: "{% url 'poster_api:poster_pages' %}",
				save: "{% url 'poster_api:poster_save' poster.id %}",
				publish: "{% url 'poster_api:poster_publish' poster.id %}",
				show: "{% url 'posters:show' poster.id %}"
			},
			globalButton:{
				detail:"{% url 'survey:answer' poster_id=poster.id %}?role=creator",
				order:"{% url 'survey:start' poster_id=poster.id %}?role=consumer"
			}
		}
	</script>
    {{ block.super }}
	{% include 'poster/pc/edit/header-js.html' %}
{% endblock %}

{% block base_body_header %}
	{% include 'poster/pc/edit/header.html' %}
{% endblock %}

{% block base_body_container %}
	<div class="edit-viewport">
		<div class="edit-left">
			{% include 'poster/pc/edit/left-sidebar.html' %}
		</div>
		<div class="edit-center">
			{% include 'poster/pc/edit/main.html' %}
		</div>
		<div class="edit-right">
			{% include 'poster/pc/edit/right-sidebar.html' %}
		</div>
	</div>
	<div class="body-guide">
	 	<div class="edit-header">
	 		<span class="tool">编辑工具<i class="fa fa-caret-right"></i></span> 
	      		<div class="top-bar"></div>
	      	</div>
		<div class= "edit-viewport edit-viewport2">
	      		<div class="edit-left">
	      			<span>页面管理</span>
	      		</div>
			<div class="edit-center">
				<div class="guid-center">
					<a href="#" class="guid-btn">
						<i><img src="{% static 'poster_pc/images/check.png' %}"></i>
						<span>了解</span>	
					</a>
				
				    <div class="checkbox">
				         <input type="checkbox" name="" value="">不再显示
			                 </div>
			                 <span>海报编辑</span>
			             </div>
			</div>
			<div class="edit-right"><span>子选项界面</span></div>
		</div>
             </div>

	{% include "poster/pc/edit/plugins/video-view.html" %}
{% endblock %}

{% block base_foot_js %}
	{% include 'poster/pc/edit/footer-js.html' %}
{% endblock %}