{% extends 'website/pc/base.html' %}
{% load static %}

{% block base_head_css %}
	{% include 'poster/pc/edit/header-css.html' %}
{% endblock %}

{% block base_head_js %}
    <script type="text/javascript">
        (function () {
            var ua = navigator.userAgent.toLowerCase();
            var bIsIpad = ua.match(/ipad/i) == "ipad";
            var bIsIphoneOs = ua.match(/iphone os/i) == "iphone os";
            var bIsAndroid = ua.match(/android/i) == "android";
            var bIsWM = ua.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsAndroid || bIsWM) {
                window.location.href = document.location.origin +  "/mobile/posters/{{ poster.id }}/edit"
            }
        })();
    </script>
	<script>
		var yunyeEditorGlobal = {
			posterId: "{{ poster.id }}",
			posterPageId: "{{ posterpage.id }}",
			templateId: "{{ posterpage.template.id }}",
			address: "{{ poster.address }}",
			mobile: "{{ poster.mobile }}",
			phone: "{{ poster.phone }}",
			email: "{{ poster.email }}",
			unique_name:"{{ poster.unique_name }}",
			logo_title: "{{ poster.logo_title }}",
			logo_image: "{{ poster.logo_image.file.url }}",
			lifetime: "{{ poster.lifetime|default_if_none:'' }}",
			updated_at: "{{ poster.updated_at|date:'Y-m-d H:i:s' }}",
			short_description:"{{ poster.short_description }}",
			API: {
				templates: "{% url 'poster_api:templates' %}",
				updateTemplate: "{% url 'poster_api:posterpage_detail' posterpage.id %}",
				createPage: "{% url 'poster_api:poster_pages' %}",
				save: "{% url 'poster_api:poster_save' poster.id %}",
				publish: "{% url 'poster_api:poster_publish' poster.id %}",
				show: "{% url 'posters:show' poster.id %}"
			},
			globalButton:{
				detail:"{% url 'survey:answer' poster_id=poster.id %}?role=creator",
				order:"{% url 'survey:start' poster_id=poster.id %}?role=consumer"
			}
		}
	</script>
    {{ block.super }}
	{% include 'poster/pc/edit/header-js.html' %}
{% endblock %}

{% block base_body_header %}
	{% include 'poster/pc/edit/header.html' %}
{% endblock %}

{% block base_body_container %}
	<div class="edit-viewport">
		<div class="edit-left">
			{% include 'poster/pc/edit/left-sidebar.html' %}
		</div>
		<div class="edit-center">
			{% include 'poster/pc/edit/main.html' %}
		</div>
		<div class="edit-right">
			{% include 'poster/pc/edit/right-sidebar.html' %}
		</div>
	</div>
	{% include "poster/pc/edit/plugins/video-view.html" %}
{% endblock %}

{% block base_foot_js %}
	{% include 'poster/pc/edit/footer-js.html' %}
{% endblock %}