{% load static %}

{% include "poster/pc/edit/plugins/header-edit.html" %}
{% include "poster/pc/edit/plugins/text-edit.html" %}
{% include "poster/pc/edit/plugins/systemimg-edit.html" %}
{% include "poster/pc/edit/plugins/button-edit.html" %}
{% include "poster/pc/edit/plugins/music-edit.html" %}
{% include "poster/pc/edit/plugins/background-edit.html" %}
{% include "poster/pc/edit/plugins/template-edit.html" %}
{% include "poster/pc/edit/plugins/template-change.html" %}

<link rel="stylesheet" href="{% static 'poster_pc/plugins/button/systemimg-edit.css' %}"/>
<link rel="stylesheet" href="{% static 'poster_pc/plugins/button/button-edit.css' %}"/>
<link rel="stylesheet" href="{% static 'poster_pc/plugins/input/yunye-input.css' %}"/>

<script src="{% static 'poster_pc/plugins/button/jquery.dragable.js' %}"></script>
<script src="{% static 'poster_pc/plugins/button/scale.js' %}"></script>
<script src="{% static 'poster_pc/plugins/button/systemimg.js' %}"></script>
<script src="{% static 'poster_pc/plugins/button/button-edit.js' %}"></script>
<script src="{% static 'poster_pc/plugins/input/yunye-input.js' %}"></script>

