@charset "utf-8";

.change-template-icon{
    position: absolute;
    top: 210px;
    left: 15px;
    z-index: 997;
}
.change-template-icon img{
    width: 40px;
}

/* footer button */
.ico-text,.ico-text-space,.ico-copy,.ico-recycle,.ico-systemimg,.ico-systemimgs,.ico-input,.ico-music-link,.ico-music-upload{width:1em;height:1em;display:inline-block; background: url(../images/sprites-subtools.png) no-repeat;background-size:auto 2em;    vertical-align: top;}
.ico-text{ background-position:0 0;}
.ico-text-space{ background-position:-1em 0;}
.ico-copy{ background-position:-2em 0;}
.ico-recycle{ background-position:-3em 0; }
.ico-systemimg{ background-position:-4em 0; }
.ico-systemimgs{ background-position:-5em 0; }
.ico-input{ background-position:-6em 0; }
.ico-music-link{ background-position:-7em 0; }
.ico-music-upload{ background-position:-8em 0; }


/* template css */
.yunye-template{
	padding: 20px 30px 70px;
    background-color: #fff;
}

.yunye-template > .content{
	width: 100%;
	height: 400px;
}
