*{
	padding: 0;
	margin: 0;
}
body, html, input, button, textarea {
    color: #6d6d6d;
    height: 100%;
}
.body-bg{
	background-color: transparent;
    overflow: hidden;
    background: url(../images/body-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.panelbody{
	left: 35%;
	margin-left: -130px;
	position: absolute;
	top: 50%;
	margin-top: -320px;
	height: 642px;
}

.main-mobile{
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 322px;
    float: left;
}

.top{
	height: 35px;
	width: 100%;
	background-size: 100% 100%;
	background: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


.middle{
	background: #ccc;
	height: 572px;
}

.bottom{
	width: 100%;
	height: 35px;
	background-size: 100% 100%;
	background: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.code{
	position: fixed;
	top: 25%;
	right: 20%;
}

.code div{
    font-size: 14px;
    margin: 12px 0;
    text-align: center;
    color: #887D7D;
}
