<div class="yunye-template">
    <div class="content">
        <div class="cndiv1"></div>
        <div class="cndiv2"></div>
        <div class="cndiv3"></div>

        <!-- svg -->
        <svg class="clip-svg" preserveAspectRatio="none" width="0"
             height="0" viewBox="0 0 1 1">
            <defs>
                <clipPath id="cndiv1" clipPathUnits="objectBoundingBox">
                    <polygon points="0 0, 1 0, 1 1, 0 0.82"/>
                </clipPath>
                <clipPath id="cndiv2" clipPathUnits="objectBoundingBox">
                    <polygon points="0 0, 1 0.2, 1 1, 0 1"/>
                </clipPath>
                <clipPath id="cndiv3" clipPathUnits="objectBoundingBox">
                    <polygon points="0.09 0.12, 1 0.19, 1 1, 0 1"/>
                </clipPath>
            </defs>
        </svg>
    </div>
</div>
