.content {
    width: 100%;
    height: 400px;
    padding: 10px;
    position: relative;
}

.content > div{
    background: #B5B1AB;
    overflow: hidden;
}

.content-top {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%,50% 100%,0 81%);
    clip-path: url(#content-top);
    position: absolute;
    left: 0;
    width: 100%;
    height: 54%;
}

.content-bottom {
    -webkit-clip-path: polygon(0 0, 50% 20%, 100% 0%,100% 100%,0 100%);
    clip-path: url(#content-bottom);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}