<div class="yunye-template">
    <div class="content">

     <div class="content-top"></div>
     <div class="content-bottom"></div>

     <!-- svg -->
    <svg class="clip-svg" preserveAspectRatio="none" width="0" height="0" viewBox="0 0 1 1">
        <defs>
        <clipPath id="content-top" clipPathUnits="objectBoundingBox">
            <polygon points="0 0, 1 0, 1 0.82, 1 0.82"/>
        </clipPath>
        <clipPath id="content-bottom" clipPathUnits="objectBoundingBox">
            <polygon points="0 0, 0.5 0.2, 1 0, 1 1,0 1"/>
        </clipPath>

        </defs>
    </svg>

    </div>
</div>