<ion-tabs class="tabs-icon-only account-tabs-top tabs-top">
	<ion-tab icon="ion-person" href="#/homepage/account/profile">
		<ion-nav-view name="account-page-profile"></ion-nav-view>
	</ion-tab>
	<ion-tab icon="ion-person-add" href="#/homepage/account/addfriends">
		<ion-nav-view name="account-page-addfriends"></ion-nav-view>
	</ion-tab>
	<ion-tab icon="ion-person-stalker" href="#/homepage/account/friendslist">
		<ion-nav-view name="account-page-friendslist"></ion-nav-view>
	</ion-tab>
</ion-tabs>
