
<ion-view view-title="海报创建基本信息">
    <ion-content ng-controller="basicinfoCtl">
    <form class="btnform">
		<div class="content">
	      <ul class="list basic-info-list">
	        <li class="item">
				<i class="ion-document basic-font"></i>
				<span>海报名称</span>
	        </li>
	        <li class="item basic-info-textarea">
	         <textarea class="post-name" ng-model="postname" maxlength="50"></textarea>
	        </li>
	        <li class="item">
	          	<i class="ion-document-text basic-font"></i><span>海报简述</span>
	          	<span class="basic-right">50字内</span>
	        </li>
	        <li class="item basic-info-textarea info-con-height">
	           <textarea class="post-desc" ng-model="postdesc" maxlength="50"></textarea>
	        </li>
	        <li class="item basic-text">
			<label class="item item-input">
			  <span class="input-label"><i class="basic-logo">L</i>海报LOGO</span>
			  <div class="basic-file clearfix">

			<div id="uploader-demo clearfix">
			<!--用来存放item-->
				<div id="fileList" class="uploader-list basic-left" ng-model="uploadimg"></div>
				<div id="filePicker"><i class="ion-plus-circled"></i>&nbsp;选择图片</div>
			</div>
			  	<!--<input type="hidden" value="后台给的值" id="logoval"/>-->
			  </div>
			</label>
	        </li>

	        <li class="item basic-text">
			<label class="item item-input">
			  <span class="input-label"><i class="ion-ios-email-outline basic-font"></i>电子邮件</span>
			  <div class="basic-file">
			  	<input type="email" class="post-email" ng-model="postemail" required/>
			  </div>
			</label>
	        </li>

	        <li class="item basic-text">
			<label class="item item-input">
			  <span class="input-label"><i class="ion-ios-telephone-outline basic-font"></i>电话</span>
			  <div class="basic-file">
			  	<input type="text" class="post-telephone" ng-model="posttelephone"/>
			  </div>
			</label>
	        </li>

	        <li class="item basic-text">
			<label class="item item-input">
			  <span class="input-label"><i class="ion-android-phone-portrait basic-font"></i>手机</span>
			  <div class="basic-file">
			  	<input type="text" class="post-phone" ng-model="postphone"/>
			  </div>
			</label>
	        </li>

	       <li class="item basic-text border-bottom-none">
			<label class="item item-input">
			  <span class="input-label"><i class="ion-android-home basic-font"></i>地址</span>
			  <div class="basic-file">
			  	<input type="text" class="post-address" ng-model="postaddress"/>
			  </div>
			</label>
	        </li>

	        <li class="item basic-foot">

	          <span class="ion-ios-checkmark-outline" ng-click="submitform()"></span>

	          <span class="infopadding"></span>
	          <span class="ion-ios-close-outline" ng-click="basicstep()"></span>
	        </li>
	      </ul>

	    </div>
	    </form>
	</ion-content>
</ion-view>
