<ion-view view-title="重置密码" class="sendcode">
	<ion-nav-bar class="bar-light">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
    <ion-content>
    <div ng-controller ="testcode" >
	    <div class="list list-div">
		    <label class="item item-input">
			    <input type="password" ng-model = "newpsw" placeholder="请输入新密码">
			</label>
	    </div>
	    <div class="list list-div">
		    <label class="item item-input">
			    <input type="password" ng-model = "secondpsw" placeholder="请再次输入新密码">
			</label>
	    </div>
	    <div class="button-bar bar-balanced">
	        <a class="button" ng-click = "btnfsure()">确定</a>
	    </div>    
    </div>
    </ion-content>
</ion-view>