<ion-view view-title="主页" ng-controller="homeCtl">
    <ion-header-bar class="home-header">
        <a href="javascript:void(0)" ng-click="openModal()" class="button button-clear btn-menu"><i class="ion-social-buffer"></i></a>
        <div class="title">
            <a href="javascript:void(0)" ng-click="selectHot()" class="button button-clear btn-select">热门</a><a href="javascript:void(0)" ng-click="selectNew()" class="button button-clear btn-select">最新</a>
        </div>
        <a href="javascript:void(0)" ng-click="showTypeSel()" class="button button-clear btn-create"><i class="ion-plus"></i><span>创建</span></a>
    </ion-header-bar>
    <ion-content class="has-tabs ion-home-content">
        <div class="home-containar">
            <div class="empty-info" ng-if="isPostersEmpty">
                获取数据失败，请稍后重试！
            </div>
            <ul class="image-list">
                <li ng-repeat="poster in posters">
                    <a href="{{poster.home_page}}" title="{{poster.id}}" data-create="{{poster.created_at}}" data-count="{{poster.views_count}}"><img src="{{poster.thumb}}" /></a>
                </li>
            </ul>
        </div>
    </ion-content>
    <div class="type-model" id="type-model">
        <div class="type-model-inner">
            <div class="type-model-containar">
                <div class="empty-info" ng-if="cateIsEmpty">
                    获取数据失败，请稍后重试！
                </div>
                <ul class="list">
                    <li class="item" ng-repeat="type in types">
                        <a class="item-link" ng-click="showSubType($event,{{type.id}})" href="javascript:void(0);"><i class="ion-chevron-down"></i>{{type.name}}</a>
                        <dl class="sublist">
                            <dd class="subitem" ng-repeat="subtype in subtypes">
                                <a class="subitem-link" ng-click="showKeywords($event,{{subtype.id}})" href="javascript:void(0);" class="item-link"><i class="ion-chevron-down"></i>{{subtype.name}}</a>
                                <ul class="keywords">
                                    <li class="k-item open">
                                        <a href="javascript:void(0);" ng-click="showKeySel($event)" class="keywords-link"><span class="keywords-tag">行业关键词</span>关键词选择</a>
                                        <ul class="keywords-det keywords-list">
                                            <li class="key-item" ng-if="keywordsls">
                                                <a href="javascript:void(0);" class="key-link key-link-empty">没有可供选择的关键词</a>
                                            </li>
                                            <li class="key-item" ng-if="!keywordsls" ng-repeat="keyword in keywords">
                                                <a href="javascript:void(0);" ng-click="confirmKeywords($event,{{keyword.id}},{{type.id}},{{subtype.id}})" class="key-link"><i class="ion-android-checkbox-outline-blank"></i>{{keyword.verb}} + {{keyword.noun}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="k-item">
                                        <a href="javascript:void(0);" ng-click="showKeySel($event)" class="keywords-link"><i class="ion-ios-checkmark-outline btn-sub-key" ng-click="saveKeywords(pkeyword,{{subtype.id}},{{type.id}})"></i>关键词输入</a>
                                        <div class="keywords-det ">
                                            <div class="keyword-in">
                                                <div class="keyword-import keyword-import-act">
                                                    <label>动词</label>
                                                    <input type="text" placeholder="例:招募" ng-model="pkeyword.verb" />
                                                </div>
                                                <div class="keyword-import keyword-import-icon">
                                                    <label></label>
                                                    <i class="ion-plus"></i>
                                                </div>
                                                <div class="keyword-import">
                                                    <label>名词</label>
                                                    <input type="text" placeholder="例:创业精英" ng-model="pkeyword.noun" />
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-view>
