<ion-view view-title="登录"  class="rgister-bg">
	<ion-content  ng-controller="loadCtrl" class='login-con'>
    <div class="centerdiv ">
        <img src="img/yunye.png">
    </div>
	<ul class="list list-login">
		<label class="item item-input">
			<img src="img/name.png">
			<input type="text" ng-model="name" name="name" id ="username" placeholder = "邮&nbsp;箱/手机号" required>
		</label>
		<label class="item item-input list-login">
			<img src="img/password.png">
			<input type="password" ng-model="password" id="password" placeholder ="密码">
		</label>
	</ul>
      <div class="button-bar bar-positive">
          <a class="button" ng-click = "login()">登入</a>
      </div>
      <div class="button-bar bar-balanced">
          <a  class="button" ng-click = "register()">注册</a>
      </div>
       <div class="item-checkbox">
           <input type="checkbox" checked="checked"  ng-click = "btnrember()">记住密码
           <a href="#/forget">忘记密码?</a>           
       </div>
    </ion-content>
</ion-view>