<ion-view view-title="登录">
	<ion-content class="login-content" ng-controller="loadCtrl">
    <div class="rgister-bg" >
      <div class="centerdiv">
        <img src="img/yunye.png">
      </div>
      <form name="myForm" novalidate>
      <ul class="list">
        <label class="item item-input">
          <img src="img/name.png">
          <input type="text" ng-model="name" name="name" id ="username" placeholder = "邮箱号/手机号" required>
          <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
          <span ng-show="myForm.name.$error.required">邮箱号/手机号不能为空</span>
        </label>
        <label class="item item-input">
          <img src="img/password.png">
          <input type="text" ng-model="password" id="password" placeholder ="密码">
        </label>
      </ul>
      </form>
      <div class="button-bar bar-positive">
          <a class="button" ng-click = "login()">登入</a>
      </div>
      <div class="button-bar bar-balanced">
          <a  class="button" ng-click = "register()">注册</a>
      </div>
    <div class="list">
       <div class="item-checkbox">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           记住密码
           <label>
           <a href="" ng-click= "forget()">忘记密码?</a>           
           </label>
       </div>

    </div>
    </div>
    </ion-content>
</ion-view>