<ion-view view-title="模版选择" class="templates-view">
	<ion-nav-bar class="templates-top">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
    <ion-content ng-controller="templateCtl">
		<div class="empty-info" ng-if="isTemplatesEmpty">
			获取数据失败，请稍后重试！
		</div>
        <ul class="templates-list">
            <li class="template-item" ng-repeat="template in templates">
                <a href="javascript:void(0);" ng-click="saveTemplate({{template.id}})"><img src="{{template.image_url}}" /></a>
            </li>
            <!--<li class="template-item">
                <a href="javascript:void(0);" ng-click="saveTemplate()"><img src="../../img/demo/templete-2.jpg" /></a>
            </li>-->
        </ul>
	</ion-content>
</ion-view>
