<ion-view view-title="网站地图">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>返回</ion-nav-back-button>
	</ion-nav-bar>
    <ion-content class="padding">
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/login">登录</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/regist">注册</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/forget">忘记密码</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/homepage/home">主页面</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/basicinfo">海报创建基本信息</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/templateselect">海报创建模版选择</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/posteredit">海报编辑</a>
		</p>
		<p>
			<a class="button icon icon-right ion-chevron-right" href="#/poster">海报预览</a>
		</p>
    </ion-content>
</ion-view>
