{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>武汉云页移动科技有限公司</title>
    <link rel="stylesheet"
          href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
    {% block base_header_css %}
    {% endblock %}
    {% block base_header_js %}
    {% endblock %}
    {% block base_header_extra %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block base_body %}
    {% endblock %}
</div>
{% include 'alatting_website/footer.html' %}
{% block base_footer_js %}
    <script src="{% static 'libs/common/angular1.3.0.min.js' %}"></script>
{% endblock %}
</body>
</html>