{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no" >
    <title>武汉云页移动科技有限公司</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
    {% block base_header_css %}
    {% endblock %}
    {% block base_header_js %}
        <script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
        <script src="{% static 'website/js/base.js' %}"></script>
    {% endblock %}
    {% block base_header_extra %}
    {% endblock %}
</head>
<body>
<div class="body-container">
{% block base_body_header %}
{% endblock %}
{% block base_body %}
    <div class="container-fluid" >
    <div id="wrapper" style="height: 100%;">
        <div id="scroller" style="position: absolute;width: 100%;">
        {% block base_body_inner %}
        {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
{% block base_body_footer %}
    {% include 'alatting_website/footer.html' %}
{% endblock %}
{% block base_footer_js %}
    <script src="{% static 'website/js/footer.js' %}"></script>
{% endblock %}
</div>
</body>
</html>