{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'website/css/index.css' %}"/>
{% endblock %}


{% block base_body %}
    <header class="home-header">
        <a href="javascript:void(0)" ng-click="openModal()" class="button button-clear btn-menu"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
        <div class="home-header-sort">
            <a href="/?sort=hot" class="button button-clear btn-select">热门</a>
            <a href="/?sort=new" class="button button-clear btn-select">最新</a>
        </div>
        <a href="javascript:void(0);" id="btn-create" class="button button-clear btn-create"><i class="glyphicon glyphicon-plus"></i><span>创建</span></a>
    </header>
    <div class="containar i-containar">
        <ul class="image-list">
            {% for poster in posters %}
            <li>
                <div class="wraper">
                    <div class="img">
                        <a href="#" title="{{ poster.logo_title }}"><img src="{{ poster.snapshot }}" /></a>

                    </div>
                    <div class="det">
                        <a href="#">
                            <span class="title">{{ poster.logo_title }} </span>
                            <span class="view-num"><i class="glyphicon glyphicon-eye-open"></i><span>{{ poster.poster_statistics.views_count }}</span></span>
                        </a>
                    </div>
                </div>
            </li>
             {% endfor %}
            <!--<li>
                <div class="wraper">
                    <div class="img">
                        <a href="#" title="{{poster.id}}" data-create="{{poster.created_at}}" data-count="{{poster.views_count}}"><img src="{% static 'website/images/card/bg.png' %}" /></a>
                    </div>
                    <div class="det">
                        <a href="#">
                            <span class="title">3551光谷人才计划 </span>
                            <span class="view-num"><i class="glyphicon glyphicon-eye-open"></i><span>556</span></span>
                        </a>
                    </div>
                </div>
            </li>-->
        </ul>

    </div>
    <div class="type-model" id="type-model">
        <div class="type-model-inner">
            <div class="type-model-containar">
                <ul class="list" id="catelist">
                    {% for category in categorys %}
                    <li class="item">
                        <a class="item-link" href="javascript:void(0);"><i class="glyphicon glyphicon-menu-down"></i>{{ category.name }}</a>
                        <dl class="sublist">
                            {% with category.children.all as category_children %}
                            {% for category2 in category_children %}
                            <dd class="subitem">
                                <a class="subitem-link" href="{% url 'poster:keywords' %}?category_id={{category2.id}}&main_category_id={{category.id}}&cate={{ category.name|urlencode }}&subcate={{ category2.name|urlencode }}" class="item-link">{{ category2.name }}</a>
                            </dd>
                            {% endfor %}
                            {% endwith %}
                        </dl>
                    </li>
                    {% empty %}
                    <li class="item empty-info">
                        获取数据失败，请稍后重试！
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="type-model-click" id="hide-cate"></div>
        </div>
    </div>
{% endblock %}
{% block base_footer_js %}
    {{ block.super }}
<script src="{% static 'website/js/index.js' %}"></script>
{% endblock %}