<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/account.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lazyload.js"></script>
    <script src="js/jquery.imgview.js"></script>
    <script src="js/base.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- header start -->
<div class="header a-header">
    <div class="container header-top">
        <div class="logo">
            <a href="javascript:;" title="武汉云页移动科技"><img src="images/logo.png" /></a>
        </div>
        <div class="search-bar" id="searchBar">
            <div class="search-input clearfix">
                <i class="icon ico-search"></i>
                <input type="text" placeholder="搜索"/>
            </div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" id="seartype" data-toggle="dropdown"><i class="icon ico-menu"></i><span class="caret"></span></button>
                <ul class="dropdown-menu main-dropdown-menu" aria-labelledby="seartype">
                    <li>
                        <a href="#">最新</a>
                    </li>
                    <li>
                        <a href="#">已发布</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-last dropdown-toggle" id="searCat" data-toggle="dropdown"><i class="icon ico-pagers"></i><span class="caret"></span></button>
                <ul class="dropdown-menu main-dropdown-menu" aria-labelledby="searCat">
                    <li>
                        <a href="#">商务</a>
                    </li>
                    <li>
                        <a href="#">服务</a>
                    </li>
                    <li>
                        <a href="#">产品</a>
                    </li>
                    <li>
                        <a href="#">教育</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="head-user">
            <button class="btn mobsearch-btn" id="searchBtn"><i class="icon ico-search"></i></button>
            <a href="account.html"><img class="lazy" data-src="images/avatar.jpg" /><span class="name">保华</span></a>
        </div>
    </div>
    
</div>
<!-- header end -->
<div class="account-header">
    <div class="container">
        <div class="account-menubar">
            <div class="item">
                <a class="btn" href="javascript:void(0);"><i class="icon ico-user"></i></a>
            </div>
            <div class="item">
                <a class="btn" href="javascript:void(0);" id="searUser" data-toggle="dropdown"><i class="icon ico-search1"></i></a>
                <ul class="dropdown-menu main-dropdown-menu search-users" aria-labelledby="searCat">
                    <li>
                        <a><input type="text" class="input-text" placeholder="Search"></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar1.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar1.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar1.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                    <li>
                        <a href="#"><span class="img"><img src="images/avatar1.jpg"></span><span class="name">Jerry</span></a>
                    </li>
                </ul>
            </div>
            <div class="item">
                <a class="btn" id="friends-btn" href="javascript:void(0);"><i class="icon ico-menbers"></i></a>
            </div>
        </div>
        <div class="account-maininfo">
            <div class="img"><img src="images/avatar1.jpg" /></div>
            <div class="name">
                <h4>Jerry Chen</h4>
                <p>Jry</p>
            </div>
        </div>
        <div class="account-bars clearfix">
            <div class="item">
                <a href="javascript:void(0);"><i class="icon ico-pager"></i><span>3</span></a>
            </div>
            <div class="item">
                <a href="javascript:void(0);"><i class="icon ico-zan"></i><span>3</span></a>
            </div>
            <div class="item">
                <a href="javascript:void(0);"><i class="icon ico-share-big"></i><span>12</span></a>
            </div>
        </div>
    </div>
</div>
<!-- container start -->
<div class="container">
    <ul class="poster-list" id="posters">
        <li class="poster-item">
            <div class="poster-wraper">
                <div class="img">
                    <a href="javascript:;"><img class="lazy" data-src="images/poster/poster-1.jpg" /></a>
                </div>
                <div class="det">
                    <div class="head">
                        <span class="time">11-3-2016</span>
                        <a href="#" class="btn-share"><i class="icon ico-share"></i></a>
                        <a href="#" class="btn-fav"><i class="icon ico-fav"></i></a>
                    </div>
                    <div class="middle">
                        <div class="qrcode">
                            <img src="images/qrcode.jpg" />
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="uimg">
                            <img src="images/avatar.jpg" />
                        </div>
                        <div class="uname">
                            <span>Jry</span>
                        </div>
                        <div class="type">Business</div>
                    </div>
                </div>
                <div class="info">
                    <span class="phone">027-88888888</span>
                    <span class="email">779311998@qq.com</span>
                    <span class="address">武汉市洪山区光谷国际广场A座802</span>
                    <span class="worktime">上午9点 - 下午6点</span>
                </div>

            </div>
        </li>
        <li class="poster-item">
            <div class="poster-wraper">
                <div class="img">
                    <a href="javascript:;"><img class="lazy" data-src="images/poster/poster-2.jpg" /></a>
                </div>
                <div class="det">
                    <div class="head">
                        <span class="time">11-3-2016</span>
                        <a href="#" class="btn-share"><i class="icon ico-share"></i></a>
                        <a href="#" class="btn-fav"><i class="icon ico-fav"></i></a>
                    </div>
                    <div class="middle">
                        <div class="qrcode">
                            <img src="images/qrcode.jpg" />
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="uimg">
                            <img src="images/avatar.jpg" />
                        </div>
                        <div class="uname">
                            <span>Jry</span>
                        </div>
                        <div class="type">
                            Business
                        </div>
                    </div>
                </div>
                <div class="info">
                    <span class="phone">027-88888888</span>
                    <span class="email">779311998@qq.com</span>
                    <span class="address">武汉市洪山区光谷国际广场A座802</span>
                    <span class="worktime">上午9点 - 下午6点</span>
                </div>
            </div>
        </li>
        <li class="poster-item disabled">
            <div class="poster-wraper">
                <a class="poster-plus" href="javascript:void(0);">
                    <span><b></b><em></em></span>                   
                </a>
            </div>
        </li>
    </ul>
</div>
<!-- container end -->

<div class="usersshow-dialog">
    <div class="usersshow-body">
        <div class="container">
            <div class="usershow-list">
                <div class="usersshow-item">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="img"><img src="images/avatar1.jpg"></span>
                        <span class="name">Jerry Chen</span>
                    </a>
                    <ul class="dropdown-menu main-dropdown-menu">
                        <li class="userdetaile-name">
                            <h4>Jerry Chen</h4>
                            <h5>Jry</h5>
                            <button class="delete" href="javascript:void(0);" title="删除"><i class="icon ico-recycle"></i></button>
                        </li>
                        <li class="userdetaile-addr">
                            Los Angeles. CA
                        </li>
                        <li class="userdetaile-bars">
                            <div class="account-bars clearfix">
                                <div class="item">
                                    <i class="icon ico-pager"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-zan"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-share-big"></i><span>12</span>
                                </div>
                            </div>
                        </li>
                    </ul>           
                </div>
                <div class="usersshow-item">
                    <a  class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="img"><img src="images/avatar1.jpg"></span>
                        <span class="name">Jerry Chen</span>
                    </a>    
                    <ul class="dropdown-menu main-dropdown-menu">
                        <li class="userdetaile-name">
                            <h4>Jerry Chen</h4>
                            <h5>Jry</h5>
                            <button class="delete" href="javascript:void(0);" title="删除"><i class="icon ico-recycle"></i></button>
                        </li>
                        <li class="userdetaile-addr">
                            Los Angeles. CA
                        </li>
                        <li class="userdetaile-bars">
                            <div class="account-bars clearfix">
                                <div class="item">
                                    <i class="icon ico-pager"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-zan"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-share-big"></i><span>12</span>
                                </div>
                            </div>
                        </li>
                    </ul>                       
                </div>
                <div class="usersshow-item">
                    <a  class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="img"><img src="images/avatar1.jpg"></span>
                        <span class="name">Jerry Chen</span>
                    </a>    
                    <ul class="dropdown-menu main-dropdown-menu">
                        <li class="userdetaile-name">
                            <h4>Jerry Chen</h4>
                            <h5>Jry</h5>
                            <button class="delete" href="javascript:void(0);" title="删除"><i class="icon ico-recycle"></i></button>
                        </li>
                        <li class="userdetaile-addr">
                            Los Angeles. CA
                        </li>
                        <li class="userdetaile-bars">
                            <div class="account-bars clearfix">
                                <div class="item">
                                    <i class="icon ico-pager"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-zan"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-share-big"></i><span>12</span>
                                </div>
                            </div>
                        </li>
                    </ul>                       
                </div>
                <div class="usersshow-item">
                    <a  class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="img"><img src="images/avatar1.jpg"></span>
                        <span class="name">Jerry Chen</span>
                    </a>    
                    <ul class="dropdown-menu main-dropdown-menu">
                        <li class="userdetaile-name">
                            <h4>Jerry Chen</h4>
                            <h5>Jry</h5>
                            <button class="delete" href="javascript:void(0);" title="删除"><i class="icon ico-recycle"></i></button>
                        </li>
                        <li class="userdetaile-addr">
                            Los Angeles. CA
                        </li>
                        <li class="userdetaile-bars">
                            <div class="account-bars clearfix">
                                <div class="item">
                                    <i class="icon ico-pager"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-zan"></i><span>3</span>
                                </div>
                                <div class="item">
                                    <i class="icon ico-share-big"></i><span>12</span>
                                </div>
                            </div>
                        </li>
                    </ul>                       
                </div>
                <div class="usersshow-item">
                    <a  class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="img"><img src="images/avatar1.jpg"></span>
                        <span class="name">Jerry Chen</span>
                    </a>    
                    <ul class="dropdown-menu main-dropdown-menu">
                        <li class="userdetaile-name">
                            <h4>Jerry Chen</h4>
                            <h5>Jry</h5>
                            <button class="delete" href="javascript:void(0);" title="删除"><i class="icon ico-recycle"></i></button>
                        </li>
                        <li class="userdetaile-addr">
                            Los Angeles. CA
                        </li>
                        <li class="userdetaile-bars">
                            <div class="account-bars clearfix">
                                <div class="item">
                                    <a href="javascript:void(0);"><i class="icon ico-pager"></i><span>3</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:void(0);"><i class="icon ico-zan"></i><span>3</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:void(0);"><i class="icon ico-share-big"></i><span>12</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>                       
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
