.content {
	width: 100%;
	height: 100%;
	position: relative;
}

.content > div{
	overflow: hidden;
}

.content-top {
	width: 100%;
	height: 16%;
}

.content-middle {
	width: 100%;
	height: 56%;
}

.content-bottom {
	width: 100%;
	height: 28%;
}
.content-cnn{
	background: rgba(24,17,0,0.3);
	width: 100%;
	height: 100%;
}
.content-conb{
	background: rgba(255,255,255,0.3);
	width: 100%;
	height: 100%;
}