<div class="yunye-template">
    <div class="content">

        <div class="content-top-left">
            <div class="content-cnn"></div>
        </div>
        <div class="content-top-right">
            <div class="content-cnn"></div>
        </div>
        <div class="content-top-right-middle">
            <div class="content-cnn"></div>
        </div>
        <div class="content-bottom-left">
            <div class="content-cnn"></div>
        </div>
        <div class="content-bottom-right">
            <div class="content-cnn"></div>
        </div>

        <!-- svg -->
        <svg class="clip-svg" preserveAspectRatio="none" width="0" height="0" viewBox="0 0 1 1">
            <defs>
            <clipPath id="content-top-left" clipPathUnits="objectBoundingBox">
                <polygon points="0 0, 0.54 0, 1 0.11, 0.88 1,0 0.9"/>
            </clipPath>
            <clipPath id="content-top-right" clipPathUnits="objectBoundingBox">
                <polygon points="0.13 0, 1 0, 1 1, 0 0.81"/>
            </clipPath>

            <clipPath id="content-top-right-middle" clipPathUnits="objectBoundingBox">
                <polygon points="0.15 0.04, 1 0.11, 1 1, 0 0.8"/>
            </clipPath>

            <clipPath id="content-bottom-left" clipPathUnits="objectBoundingBox">
                <polygon points="0 0, 1 0.15, 0.75 1, 0 1"/>
            </clipPath>

            <clipPath id="content-bottom-right" clipPathUnits="objectBoundingBox">
                <polygon points="0.25 0, 1 0.26, 1 1, 0 1"/>
            </clipPath>
            </defs>
        </svg>

    </div>
</div>