    <div class="poster-header {{ widget.class_name }}"><!--头部-->
            <div class="header-top">
                <div class="header-pages">
                    <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/erwei.png' %}"></a></div>
                </div>
                <div class="header-title">
                    <span class="align-helper"></span><img id = "header-click" src="{% static 'website/images/icons/xiala.png'">
                    <span class="align-helper"></span><img id = "shanglaID" style="display: none;" src="{% static 'website/images/icons/shangla.png' %}">
                </div>
                <div style ="display: none;" class="header-menu"><!--下拉菜单按钮-->
                    <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/a_button_like.png' %}"></a></div>
                    <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/express-subscribe-disabled.png' %}"></a></div>
                    <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/star.png' %}"></a></div>
                    <span class="align-helper"></span><div class="header-image"><a href="#"><img src="{% static 'website/images/icons/contact-phone.png' %}"></a></div>
                </div>
            </div>
        <div class="" ui-state="activeTab" default="0"></div>
    </div>