<div class="poster-video-widget {{ widget.class_name }}" ng-attr-id="{{ widget.element_id }}">
    <video ng-attr-id="{{ widget.video_element_id }}" class="video-js" preload="auto" data-setup="{}" ng-attr-poster="{{ widget.video.preview }}">
        <source ng-src="{{ widget.video.url }}" type='video/mp4'>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
    <img post-init="widget.init()" class="video-play" ng-click="videojs.start('{{ region.widget.video_element_id }}')" src="/static/website/images/icons/play.png">

</div>

