{% extends 'alatting_website/base.html' %}
{%load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block base_body %}

<div class="forget-pwd">
    <div class="fgheader">
        <a href="/account/login" class="">
            <img src="{% static 'account/img/arrow-block.png' %}">
        </a>
        <span>输入帐号</span>
    </div>
    <ul class="list">
        <li class="list-lion">
            请输入你注册的邮箱/手机号
        </li>
        <li class="list-li">
            <input class="list-input-on" type="text" id="username" name="username" form="" placeholder="邮箱号/手机号">
        </li>
        <li class="list-li">
            <input class="codeinput" type="text" id="message" name="message" placeholder="验证码">
            <input type="button" id="btncode-psd" class="btn btn-success" value="获取验证码"/>
            <input type="button" id="btncodeoff-psd" class="btn btn-default" value="获取验证码"/>
        </li>
    </ul>
    <button type="button" class="btn btn-success btn-lg btn-block" id="btnsure">确 定</button>
</div>
<form method="post" >
    {% csrf_token %}
    <div class="forget-reset">
        <div class="fgheader">
            <a href="/account/reset_password">
                <img src="{% static 'account/img/arrow-block.png' %}">
            </a>
            <span>重置密码</span>
        </div>
        <ul class="list">
            <li class="list-li" style="display: none">
                username:  <p id="resetUsername"></p>
                <input type="hidden" name="username" id="id_username" />
            </li>
            <li class="list-li">
                <input class="list-input-on" type="password" id="password1" name="password1" placeholder="请输入新密码">
            </li>
            <li class="list-li">
                <input class="codeinput" type="password" id="password2" name="password2" placeholder="请再次输入新密码">
            </li>
        </ul>
        <button type="submit" class="btn btn-primary btn-lg btn-block">确 定</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>
{% endblock %}
{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
{{ block.super }}
<script src="{% static 'account/js/login.js' %}"></script>
{% if error %}
<script>
    yyAlert("{{error}}");
</script>
{% endif %}
{% endblock %}