{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'account/js/login.js' %}"></script>
{% endblock %}

{% block base_body %}
    {% with false as open_cellphone %}
    <form method="post" class="login" id="btnLogin">
        {% csrf_token %}
        <div class="centerdiv">
            <img src="{% static 'account/img/yunye.png' %}">
        </div>
        <ul class="list-login">
            <li class="item-input">
                <img src="{% static 'account/img/name.png' %}">
                <input type="text" name="username" id="id_username"
                       placeholder="{% if open_cellphone %}邮&nbsp;箱/手机号{% else %}邮箱{% endif %}" required>
            </li>
            <li class="item-input">
                <img src="{% static 'account/img/password.png' %}">
                <input type="password" name="password" id="id_password"
                       placeholder="密码" required>
            </li>

        </ul>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                id="btnok">登 入
        </button>
        <a href="{% url 'account:register' %}"
           class="btn btn-success btn-lg btn-block">
            注 册
        </a>
        <div class="item-checkbox">
            <label for="btnchk">
                <input type="checkbox" checked="checked" class="logincheckbox" id="btnchk"> 记住密码
            </label>
            <a href="{% url 'account:reset_password' %}" class="fotgetpwd">忘记密码?</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    {% endwith %}
{% endblock %}
{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
    {% if error %}
        <script>
            yyAlert("{{error}}");
        </script>
    {% endif %}
{% endblock %}