{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'account/css/profile.css' %}"/>
<link rel="stylesheet" href="{% static 'website/css/font-awesome4.5.0.min.css' %}">
{% endblock %}


{% block base_body %}
    <header>
      <div class="header-tabs">
        <ul class="tabs-navigation">
          <li class="tabs-navigation-item">
            <a class="tabs-navigation-icon" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
          <li class="tabs-navigation-item">
            <a class="tabs-navigation-icon" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
          </li>
          <li class="tabs-navigation-item">
            <a class="tabs-navigation-icon" href="#"><i class="fa fa-users" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </header>
    <div class="ac-uinfo">
        <div class="row">
            <div class="col-xs-4  col-sm-4  col-md-4  col-lg-4">
                <div class="ac-uinfo-avatar">
                    {% if object.person %}
                        <img src="/media/{{object.person.avatar}}"/>
                    {% else %}
                        <img src="/media/avatars/avatar.png"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-4  col-sm-4  col-md-4  col-lg-4">
                <div class="ac-uinfo-name">
                    <span>
                        {% if object %}
                            {{ object.username  }}
                        {% else %}
                            user
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="col-xs-4  col-sm-4  col-md-4  col-lg-4">
                <div class="ac-uinfo-item">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    <span class="ac-uinfo-det">
                        {% if object %}
                            {{ object.poster_count }}
                        {% else %}
                                0
                        {% endif %}
                    </span>
                </div>
                <div class="ac-uinfo-item">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="ac-uinfo-det">
                        {% if object %}
                            {{ object.poster_likes_count }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div>
                <div class="ac-uinfo-item">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <span class="ac-uinfo-det">
                        {% if object %}
                            {{ object.poster_subscriptions_count }} 
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8  col-sm-8  col-md-8  col-lg-8">
                <div class="ac-uinfo-money">
                    <span class="fb-icon">
                        <span class="fb-icon-money">$</span>
                    </span>
                    <span>回馈金</span>
                </div>
            </div>
            <div class="col-xs-4  col-sm-4  col-md-4  col-lg-4">
                <div class="ac-uinfo-mnum">$
                    {% if object %}
                        {{ object.money }} 
                    {% else %}
                        0
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
      Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>Lorem Ipsum<br/>
    </div>
{% endblock %}
{% block base_footer_js %}
{% endblock %}