{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'account/js/login.js' %}"></script>
{% endblock %}

{% block base_body %}
    {% with flase as open_cellphone %}
    <form method="post" class="regist" id="registForm">
        {% csrf_token %}
        <div class="rgheader">
            <a href="{% url 'account:login' %}" class="btn-back">
                <i class="icon-back"></i>
            </a>

            <h3>注 册</h3>
        </div>
        <div class="regist-content">
            <ul class="list">
                <li class="list-li">
                    <img src="{% static 'account/img/name.png' %}">
                    {{ form.username }}
                </li>
                <li class="list-li">
                    <img src="{% static 'account/img/password.png' %}">
                    {{ form.message }}
                    <input type="button" id="btncode" class="btn btn-success"
                           value="获取验证码"/>
                    <input type="button" id="btncodeoff"
                           class="btn btn-default" value="获取验证码"/>
                </li>
                <li class="list-li">
                    <img src="{% static 'account/img/password.png' %}">
                    <input class="list-input" type="password" id="id_password1" maxlength="15"
                           name="password1" placeholder="请输入密码">
                </li>
                <li class="list-li">
                    <img src="{% static 'account/img/password.png' %}">
                    <input class="list-input" type="password" id="id_password2" maxlength="15"
                           name="password2" placeholder="请再次输入密码">
                </li>
            </ul>
            <button type="button" id="btnregist"
                    class="btn btn-success btn-lg btn-block">注 册
            </button>
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endwith %}
{% endblock %}

{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
    {% if error %}
        <script>
            yyAlert("{{error}}");
        </script>
    {% endif %}
{% endblock %}