{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block base_body %}
{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}
<form method="post" class="regist" action=".">
    {% csrf_token %}
    <div class="regist-content">
        <ul class="list">
            <li class="list-li">
                <img src="{% static 'account/img/name.png' %}">
                <input class="list-input-on" type="text" id="username" placeholder="邮箱号/手机号">
            </li>
            <li class="list-li">
                <img src="{% static 'account/img/password.png' %}">
                <input class="codeinput" type="text" placeholder="验证码">
                <inpuut id="btncode" class="btn btn-success">获取验证码</inpuut>
                <input  type="button" id="btncodeoff" class="btn btn-default"value="获取验证码"/>
            </li>
            <li class="list-li">
                <img src="{% static 'account/img/password.png' %}">
                <input class="list-input" type="password" ng-model="firstpassword" placeholder="请输入密码">
            </li>
            <li class="list-li">
                <img src="{% static 'account/img/password.png' %}">
                <input class="list-input" type="password" placeholder="请再次输入密码">
            </li>
        </ul>
        <button type="submit" class="btn btn-success btn-lg btn-block">注 册</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}
{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
{{ block.super }}
<script src="{% static 'account/js/login.js' %}"></script>
<script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
{% endblock %}