{% extends 'website/base.html' %}
{% load static %}
{% load poster %}
{% block title %}{{ object.unique_name }}{% endblock %}
{% block head_script %}
<script src="{% static 'website/js/card.js' %}"></script>
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'website/css/poster-card.css' %}">
{% endblock%}

{% block content %}

<div class="top">
	<div class="top-body">
		<div class="top-centent">
			<div class="top-scrollable">
				<div class="top-scrollable-centent">
					<div class="poster-body">
						<div class="poster-test">
							<div class="header-div">
								<img src="images/erwei.png">
								<img  class="header-xiala" id="header-click" src="images/xiala.png">
								<img  class="header-xiala" id="shanglaID"  style= "display: none;" src="images/shangla.png">
							</div>
							<div class="poster-up" id="poster-up">
								<a href=""><img src="images/a_button_like.png"></a>
								<a href=""><img src="images/express-subscribe-disabled.png"></a>
								<a href=""><img src="images/star.png"></a>
								<a href=""><img src="images/contact-phone.png"></a>
							</div>
							<div class="section-center">
								<img src="images/sectionbg.png">
							</div>
							<div class="foot-display" id="poster-display">
								<img src="images/ladong.png">
							</div>
							<div class="footer-div" id="footer-div">
								<div class="footer-left" >
									<img  id = "leftarrow" class="leftarrow"  src="images/leftarrow.png">
								</div>
								<div class="footer-center">
									<ul class="footer-ul">
										<li><a href="tel:4000273551"><img src="images/phonebg.png">400.027.3551</a></li>
										<li><a href="mailto:donghu3551@vip.126.com"><img src="images/emailbg.png">donghu3551@vip.126.com</a></li>
										<li><a href="wwww.3551.org.cn"><img src="images/webbg.png">wwww.3551.org.cn</a></li>
										<li><a href="http://map.baidu.com" target="_blank"><img src="images/adressbg.png">武汉东湖珞喻路546号东湖高新区管委会大楼1502室</a></li>
									</ul>
								</div>
								<div class="footer-right">
									<img id="rightarrow" class="rightarrow" src="images/rightarrow.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}