{% extends 'website/base.html' %}
{% load static %}
{% block title %}Popover{% endblock %}
{% block content %}
    <div style="padding-top: 300px; " >
    <a href="#" data-toggle="popover" data-placement="top"
       data-content='<div class="btn-group justified">
                                    <a href="#" class="btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                </div>'
       data-html="true"> Toggle popover</a>
    </div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}