{% load static %}
        <div class="bottom-nav navbar navbar-app navbar-absolute-bottom">
            <div class="bottom-ratio-frame center-block"><div class="bottom-ratio-wrapper"><div class="bottom-container">
            <div class="bottom-menu btn-group justified" >
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                   data-content='<div class="btn-group justified">
                                    <a href="mailto:?{{ object.share.email | safe}}" onclick=&#39;shared("email")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/email.png' %}"></a>
                                    <a href="https://www.facebook.com/sharer/sharer.php?{{ object.share.fb | safe}}" onclick=&#39;shared("facebook")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only" target="_blank">
                                        <img src="{% static 'website/images/icons/fb.png' %}"></a>
                                    <a href="http://twitter.com/intent/tweet?{{ object.share.twitter | safe}}" onclick=&#39;shared("twitter")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only" target="_blank">
                                        <img src="{% static 'website/images/icons/twitter.png' %}"></a>
                                    <a href="https://plus.google.com/share?{{ object.share.google_plus | safe}}" onclick=&#39;shared("google")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only" target="_blank">
                                        <img src="{% static 'website/images/icons/g+.png' %}"></a>
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&{{ object.share.linkedin | safe}}" onclick=&#39;shared("linkedin")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only" target="_blank">
                                        <img src="{% static 'website/images/icons/linkedin.png' %}"></a>
                                    <a href="https://pinterest.com/pin/create/link/?{{ object.share.pinterest | safe}}" onclick=&#39;shared("pinterest")&#39
                                    class="share-sub-btn icon-btn btn btn-navbar btn-icon-only" target="_blank">
                                        <img src="{% static 'website/images/icons/pintrest.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/share.png' %}">
                </div>
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                     data-template='<div class="popover rate-submenu" role="tooltip"><div class="arrow"></div><div class="popover-title"></div><div class="popover-content"></div></div>'
                     data-title='<div class="equal-justified rate-info">
                                     <div class="rate-totals">
                                         <div class="rate-rating">{{ object.poster_statistics.ratings_average | floatformat:1 }}</div>
                                         <input class="rating rating-average" type="number" readonly value="{{ object.poster_statistics.ratings_average }}" data-glyphicon="false" data-show-caption="false"
                                         min=0 max=5 step=0.1>
                                         <div class="rate-total"><img src="{% static 'website/images/icons/person_count.png' %}"> &nbsp;
                                         <span class="rating-count">{{ object.poster_statistics.ratings_count }}</span> total</div>
                                     </div>
                                     <div class="rate-levels">
                                         <div class="rate-level justified">
                                            <div class="rate-level-label"><span class="rate-star">★</span> 5</div>
                                            <div class="rate-progress">
                                                <div class="rate-progress-bar rate-five" style="width:{{ object.poster_statistics.five_percent }}%;">
                                                {{ object.poster_statistics.five_count }}
                                                </div>
                                            </div>
                                         </div>
                                         <div class="rate-level justified">
                                            <div class="rate-level-label"><span class="rate-star">★</span> 4</div>
                                            <div class="rate-progress">
                                                <div class="rate-progress-bar rate-four" style="width:{{ object.poster_statistics.four_percent }}%;">
                                                {{ object.poster_statistics.four_count }}
                                                </div>
                                            </div>
                                         </div>
                                         <div class="rate-level justified">
                                            <div class="rate-level-label"><span class="rate-star">★</span> 3</div>
                                            <div class="rate-progress">
                                                <div class="rate-progress-bar rate-three" style="width:{{ object.poster_statistics.three_percent }}%;">
                                                {{ object.poster_statistics.three_count }}
                                                </div>
                                            </div>
                                         </div>
                                         <div class="rate-level justified">
                                            <div class="rate-level-label"><span class="rate-star">★</span> 2</div>
                                            <div class="rate-progress">
                                                <div class="rate-progress-bar rate-two" style="width:{{ object.poster_statistics.two_percent }}%;">
                                                {{ object.poster_statistics.two_count }}
                                                </div>
                                            </div>
                                         </div>
                                         <div class="rate-level justified">
                                            <div class="rate-level-label"><span class="rate-star">★</span> 1</div>
                                            <div class="rate-progress">
                                                <div class="rate-progress-bar rate-one" style="width:{{ object.poster_statistics.one_percent }}%;">
                                                {{ object.poster_statistics.one_count }}
                                                </div>
                                            </div>
                                         </div>
                                     </div>
                                 </div>'
                     data-content='<div class="rate-action">
                                    <input class="rating rate-rate" value="{{ object.my_rating.rate }}" type="number" data-glyphicon="false" data-show-caption="false"
                                     min=0 max=5 step=1>
                                </div>'
                     data-viewport='{"selector": ".bottom-container", "padding": 0}'
                     data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/rate.png' %}">
                </div>
                <div href="#" class="comments-btn bottom-btn btn btn-navbar btn-icon-only"
                     data-template='<div class="popover" role="tooltip"><div style="display:none" class="arrow"></div><div class="popover-title"></div><div class="popover-content"></div></div>'
                        data-content='<div></div>'
                     data-viewport='{"selector": ".bottom-container", "padding": 0}'
                     data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/feedback.png' %}">
                </div>
                <!-- print -->
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                        data-content='<div class="btn-group justified">
                                    <a href="{{ object.pdf_url }}" target="_blank" class="export-sub-btn icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/pdf.png' %}"></a>
                                    <a href="{{ object.image_url }}" target="_blank" class="export-sub-btn icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/camera_roll.png' %}"></a>
                                    <a href="{{ object.pdf_url }}" onclick="printPDF(this.href); return false" class="export-sub-btn icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/print_sub.png' %}"></a>
                                    <a href="#" class="export-sub-btn icon-btn btn btn-navbar btn-icon-only">
                                         <img style="display: none"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/export.png' %}">
                </div>
                <!-- stats -->
                <div class="bottom-btn btn btn-navbar btn-icon-only"
                     data-template='<div class="popover stats-submenu" role="tooltip"><div class="arrow"></div><div class="popover-title"></div><div class="popover-content"></div></div>'
                     data-title='<div class="stats-title">
                                     <img src="{% static 'website/images/icons/stats_small.png' %}">
                                     <span class="stats-page-0"> STATS</span>
                                     <span class="stats-page-1"> SCORE</span>
                                </div>'
                     data-content='<div class="stats-page-0">
                                 <div class="stats-graph">
                                     <div class="right-btn btn btn-icon-only" onclick="statsSwitchPage(arguments[0] || window.event, 1)">
                                        <img alt="stats_arrow" src="{% static 'website/images/icons/stats_arrow.png' %}">
                                     </div>
                                     <img class="left-dots" src="{% static 'website/images/icons/3_dots.png' %}">
                                     <img class="right-dots" src="{% static 'website/images/icons/3_dots.png' %}">
                                     <div class="stats-fun">
                                       <div class="stats-graph-label">Fun</div>
                                       <div class="doughnut" data-percent="{{object.history_statistics.fun_change_percent}}" data-inner-cutout="65" data-color="#65cefe" data-total1="3"
                                            data-background-color="#4d5154">
                                            <canvas class="doughnut-canvas"></canvas>
                                            <div class="doughnut-title"><p>{{ object.poster_statistics.fun_score | floatformat:1 }}</p></div>
                                        </div>
                                        <!--div class="stats-graph-value">{{ object.poster_statistics.credit | floatformat:1 }}%</div-->
                                     </div>
                                   </div>

                                 <div class="pop-credit">
                                     <img class="dots" src="{% static 'website/images/icons/3_dots.png' %}">
                                     <div class="equal-justified">
                                        <div class="stats-pop">
                                           <div class="doughnut" data-percent="{{object.history_statistics.popular_change_percent}}" data-inner-cutout="65" data-color="#ffe377"
                                           data-total1="20" data-background-color="#4d5154">
                                                <canvas class="doughnut-canvas"></canvas>
                                                <div class="doughnut-title"><p>{{ object.poster_statistics.popular_score | floatformat:0 }}</p></div>
                                            </div>
                                            <div class="stats-graph-label">Popularity</div>
                                            <!--div class="stats-graph-value">{{ object.poster_statistics.popular_score }}</div-->
                                        </div>
                                        <div class="stats-credit">
                                           <div class="doughnut" data-percent="{{object.history_statistics.credit_change_percent}}" data-inner-cutout="65" data-color="#6ffee7"
                                           data-total1="3" data-background-color="#4d5154">
                                                <canvas class="doughnut-canvas"></canvas>
                                                <div class="doughnut-title"><p>{{ object.poster_statistics.credit_score | floatformat:1 }}</p></div>
                                            </div>
                                            <div class="stats-graph-label">Credit</div>
                                            <!--div class="stats-graph-value">{{ object.poster_statistics.credit | floatformat:1 }}%</div-->
                                        </div>
                                     </div>
                                  </div>

                                 <div class="stats-types">
                                     <div class="equal-justified">
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/favorite.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.favorites_count}}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.favortes_change}}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/eye.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.views_count }}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.views_count_change}}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="stats-hr"> </div>

                                     <div class="equal-justified">
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/like.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.likes_count}}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.likes_count_change}}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/stats_share.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.shares_count }}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.shares_count_change}}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="stats-hr"> </div>

                                     <div class="equal-justified">
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/fun.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.fun_count }}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.fun_count_change}}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="justified">
                                                 <div class="stats-type-icon"><img src="{% static 'website/images/icons/rate_selected.png' %}"></div>
                                                 <div class="stats-type-sep"></div>
                                                 <div class="stats-type-numbers">
                                                    <div class="equal-justified">
                                                        <div>{{ object.poster_statistics.ratings_average | floatformat:1 }}</div>
                                                        <div class="stats-type-increase">
                                                            <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                            <span>{{ object.history_statistics.ratings_average_change | floatformat:1 }}</span>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="stats-type-sep"></div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>

                             <div class="stats-page-1 stats-overall" style="display:none;">
                                 <div class="left-btn btn btn-icon-only" onclick="statsSwitchPage(arguments[0] || window.event, 0)">
                                    <img alt="stats_arrow" class="stats_arrow_left" src="{% static 'website/images/icons/stats_arrow.png' %}">
                                 </div>
                                 <div class="stats-score">
                                    <div class="stats-graph-label">Fun</div>
                                    <div class="doughnut" data-percent="{{object.history_statistics.score_change_percent}}" data-inner-cutout="65" data-color="#65cefe" data-total1="3"
                                        data-background-color="#4d5154">
                                        <canvas class="doughnut-canvas"></canvas>
                                        <div class="doughnut-title"><p></p></div>
                                    </div
                                 </div>

                                 <div class="equal-justified">
                                     <div>
                                         Current Score
                                     </div>
                                     <div>
                                        <div class="equal-justified">
                                            <div>{{ object.poster_statistics.overall_score | floatformat:0 }}</div>
                                            <div class="stats-type-increase">
                                                <img src="{% static 'website/images/icons/up_arrow.png' %}">
                                                <span>{{object.history_statistics.score_total_change | floatformat:0 }}</span>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>'

                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/stats.png' %}">
                </div>
            </div>
            </div></div></div>
            <script>
                function statsSwitchPage(event, index){
                    $('.stats-page-' + index).show()
                    $('.stats-page-' + (1 - index)).hide()
                    event.stopPropagation();
                }
            </script>
            <!-- preload images -->
            <div style="display: none;">
                <img src="{% static 'website/images/icons/favorite.png' %}">
                <img src="{% static 'website/images/icons/fun.png' %}">
                <img src="{% static 'website/images/icons/like.png' %}">
                <img src="{% static 'website/images/icons/pdf.png' %}">
                <img src="{% static 'website/images/icons/email.png' %}">
            </div>
        </div>