{% extends 'website/base.html' %}
{% load static %}
{% load poster %}
{% block title %}{{ object.unique_name }}{% endblock %}

{% block meta %}
    {{ block.super }}
    {% include 'libs/facebook/fb_share_meta.html' %}
{% endblock %}

{% block head_script %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="http://vjs.zencdn.net/5.0.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/social/social_buttons.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flex_slider/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/poster.css' %}">
    <link rel="stylesheet" href="{{ object.css.url }}">
    {% include 'libs/widgets/clip_style.html' %}
{% endblock %}

{% block head_more %}
    {{ block.super }}
    {% include 'libs/photo_swipe/head.html' %}
{% endblock %}

{% block body_start %}
    {{ block.super }}
    {% include 'libs/facebook/fb_share_body_start.html' %}
{% endblock %}
{% block content %}
    <!--div class="app">

        <div class="navbar navbar-app navbar-absolute-top">

            <div class="navbar-brand navbar-brand-center" yield-to="title">
                <span>Bucket List App</span>
            </div>


            <div class="btn-group pull-right" yield-to="navbarAction">
                <div class="btn btn-navbar">
                    <i class="fa fa-plus"></i> New
                </div>
            </div>

        </div>

        <div class="navbar navbar-app navbar-absolute-bottom">

            <div class="btn-group justified">
                <a href="#" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
                <a href="#" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></a>
            </div>

        </div>

        <div class="app-body">
            <ng-view class="app-content"></ng-view>
        </div>

    </div-->

    <!-- Sidebars -->
    <!--div class="sidebar sidebar-left"></div>
    <div class="sidebar sidebar-right"></div-->

    <div class="app">
        <!--div class="navbar navbar-app navbar-absolute-top">

        </div-->

        <!-- App body -->
        <div class='app-body'>
            <div class='app-content'>
                <ng-view></ng-view>
                <div class="scrollable"><div class="scrollable-content"><div class="poster-frame center-block">
                    <!-- top -->
                    <div class="poster-top-ratio"><div>
                        <div class="poster-top">
                            <div class="poster-header">
                                <img class="poster-logo" id="'poster-logo" src="{{ object.images.logo.file.url }}" alt='' />
                                <img class="poster-qrcode" id="poster-qrcode" src={% url 'website:code_poster' object.id %} />
                                <!--p class="views-count-widget">Views: {{object.views_count}}</p-->
                                <p class="poster-title" id="poster-title">
                                    {{ object.logo_title }}
                                </p>
                            </div>
                            <!--div class="poster-tabs" ui-state="activeTab" default="1">
                                <ul class="nav nav-tabs">
                                    <li ui-class="{'active': activeTab == 1}">
                                        <a ui-set="{'activeTab': 1}">INTRO</a>
                                    </li>
                                    <li ui-class="{'active': activeTab == 2}">
                                        <a ui-set="{'activeTab': 2}">TEAM</a>
                                    </li>
                                    <li ui-class="{'active': false}">
                                    </li>
                                </ul>

                            </div-->

                            <div class="poster-tabs btn-group btn-group-justified" ui-state="activeTab" default="1">
                                    <div ui-set="{'activeTab': 1}" ui-class="{'active': activeTab == 1}" class="tab-btn btn">
                                        <div>INTRO</div>
                                    </div>

                                    <div ui-set="{'activeTab': 2}" ui-class="{'active': activeTab == 2}" class="tab-btn btn">
                                        <div>TEAM</div>
                                    </div>

                                    <div ui-class="{'active': false}" class="tab-btn btn">
                                        <div> </div>
                                    </div>
                            </div>
                            <div class="poster-contact">
                                <div class="first-row btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                </div>
                                <div class="second-row btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div></div>

                    <!-- pages -->
                    <div class="poster-pages-ratio"><div>
                        <div class="poster-pages">
                            {% include 'libs/widgets/poster_pages.html' %}
                        </div>
                    </div></div>

                    <!-- svg -->
                    {% include 'libs/widgets/clip_svg.html' %}

                </div></div></div>
            </div>
        </div>
        
        <!-- this section should be extracted out as a seperate poster_system_bottom.html file and be included in this poster.html -->
        <div class="navbar navbar-app navbar-absolute-bottom">
            <div class="bottom-ratio-frame center-block"><div class="bottom-ratio-wrapper"><div class="bottom-container">
            <div class="btn-group justified" >
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                   data-content='<div class="btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/share.png' %}">
                </div>
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                   data-content='<div class="btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/rate.png' %}">
                </div>
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                        data-content='<div class="btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/feedback.png' %}">
                </div>
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                        data-content='<div class="btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/print.png' %}">
                </div>
                <div href="#" class="bottom-btn btn btn-navbar btn-icon-only"
                        data-content='<div class="btn-group justified">
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/phone.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/mail.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/hours.png' %}"></a>
                                    <a href="#" class="icon-btn btn btn-navbar btn-icon-only">
                                        <img src="{% static 'website/images/icons/location.png' %}"></a>
                                </div>'
                   data-viewport='{"selector": ".bottom-container", "padding": 0}'
                   data-toggle="sub-menu" data-placement="top" data-html="true" data-container=".bottom-container">
                    <img alt="icon" src="{% static 'website/images/icons/stats.png' %}">
                </div>
            </div>
            </div></div></div>
            <script src="{% static 'website/js/menu.js' %}"></script>
        </div>

    </div>
    <!-- ~ .app -->

    <!-- Modals and Overlays -->
    <div ui-yield-to="modals"></div>
{% endblock %}
{% comment content %}
    <div class="content">
    <div hidden>
        <!-- Twitter -->
        <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
         <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{request.path}}" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <!-- Email -->
        <a href="mailto:?subject={{ object.unique_name | urlencode:''}}&body={{ object.short_description | urlencode:'' }}: {{ request.scheme }}://{{ request.get_host }}{{request.path}}" title="Share by Email" target="_blank" class="btn btn-email"><i class="fa fa-envelope fa-fw"></i> Email</a>
    </div>

    <aside  class="poster_side_bar">
        <ul class="list-unstyled">
             <!-- Twitter -->
        <li><a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn social-btn btn-twitter"><i class="fa fa-twitter"></i></a></li>
         <!-- Facebook -->
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{request.path}}" title="Share on Facebook" target="_blank" class="btn social-btn btn-facebook"><i class="fa fa-facebook"></i></a></li>
        <!-- Google+ -->
        <li><a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn social-btn btn-googleplus"><i class="fa fa-google-plus"></i></a></li>
        <!-- LinkedIn -->
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn social-btn btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
        <!-- Email -->
        <li><a href="mailto:?subject={{ object.unique_name | urlencode:''}}&body={{ object.short_description | urlencode:'' }}: {{ request.scheme }}://{{ request.get_host }}{{request.path}}" title="Share by Email" target="_blank" class="btn social-btn btn-email"><i class="fa fa-envelope"></i></a></li>

        </ul>
    </aside>

    <div class="poster_container">
    {% embed object.html.name %}
    <img class="poster_qrcode" src={% url 'website:code_poster' object.id %} />
    <p class="views_count_widget">Views: {{object.views_count}}</p>
    </div>

    <div class="poster_footer"></div>
    </div>
{% endcomment %}

{% block body_end %}
    {{ block.super }}
    <script src="http://vjs.zencdn.net/5.0.0/video.js"></script>
    <script src="{% static 'libs/video/video.js' %}"></script>
    <script src="{% static 'libs/flex_slider/jquery.flexslider-min.js' %}"></script>
    <script src="{{ object.script.url }}"></script>
    {% include 'libs/photo_swipe/body.html' %}
{% endblock %}
