{% extends 'website/base.html' %}
{% load static %}
{% load poster %}
{% block title %}{{ object.unique_name }}{% endblock %}

{% block meta %}
    {{ block.super }}
    {% include 'libs/facebook/fb_share_meta.html' %}
{% endblock %}

{% block head_script %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'website/css/poster.css' %}">
    <link rel="stylesheet" href="{{ object.css.url }}">
{% endblock %}

{% block head_more %}
    {{ block.super }}
    {% include 'libs/photo_swipe/head.html' %}
{% endblock %}

{% block body_start %}
    {{ block.super }}
    {% include 'libs/facebook/fb_share_body_start.html' %}
{% endblock %}

<div class="content">
{% block content %}
    <div class="poster_container">
    {% embed object.html.name %}
    <img class="qrcode" src=/code/poster/1 />
    </div>
{% endblock %}
</div>

{% block body_end %}
    {{ block.super }}
    <script src="{{ object.script.url }}"></script>
    {% include 'libs/photo_swipe/body.html' %}
{% endblock %}
