<ion-view view-title="意见反馈">
    <ion-header-bar align-title="center" class="bar-dark item-icon-left item-icon-right">
        <i class="icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></i>
		<h1 class="title">意见反馈</h1>
        <i class="icon ion-ios-checkmark-outline" ng-click="$ionicGoBack()"></i>
	</ion-header-bar>
	<ion-content>
		<div class="list">
            <label class="item item-input">
                <textarea placeholder="您的宝贵意见"></textarea>
            </label>
        </div>
	</ion-content>
</ion-view>