.home-sliders{

}
.home-sliders img{
	max-width:100%;
}

.home-sliders .slider-pager .slider-pager-page{
	color:$basecolor;
}

.home-nav .col{
	text-align:center;
}
.home-nav .i-item{
	width:50px;
	height:50px;
	border-radius:50%;
	display:inline-block;
	background:#f4f4f4;
}
.home-nav .text{
	display:block;
	color:#666;
}