{% extends 'alatting_website/base.html' %}
{%load static %}

{% block base_header_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'poster/css/poster-base.css' %}">
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'poster/js/poster-base.js' %}"></script>
    <script src="{% static 'poster/js/jquery.dropdown.js' %}"></script>
{% endblock %}

{% block base_body_header %}
<div class="bar-header bar edit-bar-header">
	<button class="button button-clear btn-page"><i class="ico-pages"></i></button>
	<div class="title" style="left: 36px; right: 36px;">
		<p>{{ poster.logo_title }}</p>
	</div>
    <div class="top-btn">
        <button class="btn btn-save">存储</button>
        <button class="btn btn-post">发布</button>
    </div>

	<!--<button class="button button-clear btn-music rotate" id="music"><i class="ico-music "></i><audio loop="" src="" id="media" autoplay="" preload=""></audio></button>-->
</div>
{% endblock %}

{% block base_body_inner %}
    <header class="header">
        <div class="header-bar">
            <div class="header-qrcode">
                <div class="qrcode-inner">
                    <div class="circle"></div>
                    <div class="qrcode">
                        <a href="javascript:void(0);" class="btn">
                            <img src="{% url 'website:code_poster' object.id %}" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-logo"><img src="{{ poster.logo_image.file.url }}"></div>
            <div class="header-abutton">
                <div class="abutton-inner" id="abutton">
                    <div class="abutton-internal">
                        <a class="abtn" href="javascript:void(0);" onclick="showHeaderTools()"><i class="icon ico-menu"></i></a>
                    </div>
                    <ul class="abutton-group abutton-contact">
                        <li><a href="#" onclick="showDetails(this)"><i class="icon ico-phone"></i></a></li>
                        <li><a href="#" onclick="showDetails(this)"><i class="icon ico-email"></i></a></li>
                        <li><a href="#" onclick="showDetails(this)"><i class="icon ico-address"></i></a></li>
                        <li><a href="#" onclick="showDetails(this)"><i class="icon ico-clock"></i></a></li>
                    </ul>
                    <ul class="abutton-group abutton-express">
                        <li><a href="#" ><i class="icon ico-like"></i></a></li>
                        <li><a href="#" ><i class="icon ico-bookmark"></i></a></li>
                        <li><a href="#" ><i class="icon ico-subscribe"></i></a></li>
                        <li><a href="#" ><i class="icon ico-fun"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-info">
            <div class="desc">
                {{ poster.short_description }}
            </div>
        </div>
        <div class="abutton-info">
            <div class="arrow"></div>
            <section class="phone">
                <li><i class="icon ico-phone"></i><span>{{ poster.phone }}</span></li>
                <li><i class="icon ico-phone"></i><span>{{ poster.mobile }}</span></li>
            </section>
            <section class="email"><li><i class="icon ico-email"></i><span>{{ poster.email }}</span></li></section>
            <section class="address"><li><i class="icon ico-address"></i><span>{{ poster.address }}</span></li></section>
            <section class="clock">
                <li><i class="text">周一</i><span><input type="text" placeholder="编辑工作时间" /> </span></li>
                <li><i class="text">周二</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
                <li><i class="text">周三</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
                <li><i class="text">周四</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
                <li><i class="text">周五</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
                <li><i class="text">周六</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
                <li><i class="text">周日</i><span><input type="text" placeholder="编辑工作时间" /></span></li>
            </section>
        </div>
    </header>
    {% block poster_base_body %}

    {% endblock %}
{% endblock %}

{% block base_body_footer %}
    <div class="bar-footer bar">
        <a class="tab-item dropdown-toggle" id="share-toggle" href="javascript:void(0);" data-dropdown="share-panel">
            <i class="icon ico-edit-text"></i>
        </a>
        <a class="tab-item dropdown-toggle" id="rate-toggle" href="javascript:void(0);" data-dropdown="rate-panel">
            <i class="icon ico-edit-pic"></i>
        </a>
        <a class="tab-item dropdown-toggle" id="feedback-toggle" href="javascript:void(0);" data-dropdown="feedback-panel">
            <i class="icon ico-edit-button"></i>
        </a>
        <a class="tab-item dropdown-toggle" id="export-toggle" href="javascript:void(0);" data-dropdown="export-panel">
            <i class="icon ico-edit-music"></i>
        </a>
        
        <section class="dropdown-panel" id="share-panel">
            <div class="share-group">
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-text-height"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-text-width"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-plus"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-trash"></i></a>
            </div>
        </section>
        <section class="dropdown-panel" id="rate-panel">
            <div class="share-group">
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-picture"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-leaf"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-plus"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-trash"></i></a>
            </div>
        </section>
        <section class="dropdown-panel" id="feedback-panel">
            <div class="share-group">
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-text-height"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon glyphicon-unchecked"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-plus"></i></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-trash"></i></a>
            </div>
        </section>
        <section class="dropdown-panel" id="export-panel">
            <div class="share-group">
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-music"></i><span>音乐链接</span></a>
                <a href="#" class="tab-item"><i class="icon glyphicon glyphicon-music"></i><span>上传音乐</span></a>
            </div>
        </section>
    </div>
{% endblock %}
