{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'poster/css/basicinfo.css' %}">
{% endblock %}

{% block base_body %}
<div class="main">
    <p class="text-center basic-nav">请输入基本信息</p>

    <form class="form-basicinfo" method="get" action="/poster/create-form" id="form-info">
        <input type="hidden" name="category_keyword_id" value="request.GET.category_keyword_id">
         <input type="hidden" name="main_category_id" value="request.GET.main_category_id">
         <input type="hidden" name="sub_category_id" value="request.GET.sub_category_id">
        <ul class="basic-ul">
            <li>
                <label><i class="icon"><img src="{% static 'poster/images/icon1.gif' %}"></i>海报名称</label>
                <input type="text" name="unique_name" class="post-name"/>
            </li>
            <li class="big-text">
                <label style="line-height: 10em;">
                    <span class="post-ds"><i class="icon"><img src="{% static 'poster/images/icon2.gif' %}"></i>海报简述<br/><em>(50字以内)</em></span>
                </label>
                <textarea name="short_description" class="post-desc area" cols="15" maxlength="50"></textarea>

            </li>
            <li class="big-text">
                <label><i class="icon"><img src="{% static 'poster/images/icon3.gif' %}"></i>海报LOGO</label>
                <!--<input type="file" name="logo_image_id" class="post-img"/>-->
                <a href="javascript:;" class="file"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;选择文件
                    <input type="file" name="logo_image_id" class="post-img"/>
                </a>
            </li>
            <li>
                <label><i class="icon"><img src="{% static 'poster/images/icon4.gif' %}"></i>电子邮件</label>
                <input type="text" name="email" class="post-email"/>
            </li><li>
                <label><i class="icon"><img src="{% static 'poster/images/icon5.gif' %}"></i>电话</label>
                <input type="text" name="phone" class="post-telephone"/>
            </li><li>
                <label><i class="icon"><img src="{% static 'poster/images/icon6.gif' %}"></i>手机</label>
                <input type="text" name="mobile" class="post-phone"/>
            </li><li>
                <label><i class="icon"><img src="{% static 'poster/images/icon7.gif' %}"></i>地址</label>
                <input type="text" name="address" class="post-address"/>
            </li>


        </ul>

    <div class="text-center button-form">
        <input type="button" value="返回" onclick="back()">
        <input type="button" value="确认" onclick="submitinfo()">
    </div>
    </form>

</div>




{% endblock %}

{% block base_body_footer %}
 <script src="{% static 'poster/js/jquery-1.11.1.min.js' %}"></script>
 <script src="{% static 'poster/js/basic-info.js' %}"></script>
{% endblock %}