{% extends 'poster/base.html' %}
{%load static %}

{% block base_header_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'website/js/poster-bass.js' %}"></script>
{% endblock %}

{% block base_body_header %}
<div class="bar-header bar">
	<button class="button button-clear"><i class="ico-pages"></i></button>
	<div class="title" style="left: 36px; right: 36px;">
		<p>{{ poster.logo_title }}</p>
	</div>
	<button class="button button-clear btn-music rotate" id="music"><i class="ico-music "></i><audio loop="" src="" id="media" autoplay="" preload=""></audio></button>
</div>
{% endblock %}

{% block base_body_inner %}
<header class="header">
    <div class="header-bar">
        <div class="header-qrcode">
            <div class="qrcode-inner">
                <div class="circle"></div>
                <div class="qrcode">
                    <a href="javascript:void(0);" class="btn">
                        <img src="{% static 'website/images/card/erwei.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="header-logo"><img src="{% static 'website/images/logo.png' %}"></div>
        <div class="header-abutton">
            <div class="abutton-inner" id="abutton">
                <div class="abutton-internal">
                    <a class="abtn" href="javascript:void(0);" onclick="showHeaderTools()">
                        <i class="icon ico-alogo"></i>
                    </a>
                </div>
                <ul class="abutton-group abutton-contact">
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-phone"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-email"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-address"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-clock"></i></a></li>
                </ul>
                <ul class="abutton-group abutton-express">
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-like"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-bookmark"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-subscribe"></i></a></li>
                    <li><a href="#" onclick="showDetails(this)"><i class="icon ico-fun"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-info">
        <div class="desc">
            阿拉鼎总部位于美国洛杉矶，专注智能海报营销
        </div>
    </div>
    <div class="abutton-info">
    	<div class="arrow"></div>
    	<span>{{ poster.phone }}</span>
    	<span>{{ poster.email }}</span>
    	<span>{{ poster.address }}</span>
    </div>
</header>
{% endblock %}