{% extends 'poster/base.html' %}
{% load static %}

{% block base_header_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'poster/plugins/slider/swiper.css' %}">
    <style>
        {{ posterpage.temp_css|safe }}
    </style>
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'poster/plugins/slider/swiper.js' %}"></script>
    <script src="{% static 'poster/plugins/slider/imgslider.js' %}"></script>
    <script>
        {{ posterpage.temp_script|safe }}
    </script>
{% endblock %}


{% block poster_base_body %}
	{{ posterpage.temp_html|safe }}
{% endblock %}
