{% extends 'alatting_website/base.html' %}
{%load static %}

{% block base_header_css %}
    <link rel="stylesheet" href="{% static 'poster/css/keywords.css' %}"/>
{% endblock %}
{% block base_header_js %}
{% endblock %}

{% block base_body %}
<div class="kw">
    <div class="kw-list container">
        <div class="row">
            <div class="col-xs-6"><a href="javascript:void(0);" id="cat">{{ request.GET.cate }}</a></div>
            <div class="col-xs-6 hli-act"><a href="javascript:void(0);" class="" id="subcat">{{ request.GET.subcate }}</a></div>
            <input type="hidden" id="main_category_id" value="{{ request.GET.main_category_id }}">
            <input type="hidden" id="sub_category_id" value="{{ request.GET.sub_category_id }}">
        </div>
    </div>
    <div class="ed-title">请选择行业关键词</div>
    <div class="kw-main container">
        <div class="kw-edit">
            <div class="ed-content" id="ed-content"></div>
            <p class="ed-cont-tips">*最多只能选择五个关键词</p>
            <div class="ed-choose" id="ed-choose">
                <div class="row">
                    {% for cat in categorykeyword_list %}
                    <div class="ed-choose-li col-xs-6" data-cont="{{cat.verb}}{{cat.noun}}" data-view="0" data-id="{{cat.id}}">
                        <div class="cbox-line">
                            <input type="checkbox">{{cat.verb}}+{{cat.noun}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ed-add row">
                <div class="ed-add-li col-xs-3 col-xs-offset-1">
                    <span>动词</span><br>
                    <input type="text" class="form-control" id="newKwv" placeholder="例:招募">
                </div>
                <div class="ed-add-li col-xs-1"><span>+</span></div>
                <div class="ed-add-li col-xs-4">
                    <span>名词</span><br>
                    <input type="text" class="form-control" id="newKwn" placeholder="例:创业精英">
                </div>
                <div class="ed-add-li col-xs-2">
                    <span>&nbsp;</span><br>
                    <input type="button" class="btn btn-default form-control" id="addItem" value="新增">
                </div>
            </div>

        </div>
    </div>
    <div class="ed-footer navbar-fixed-bottom">
        <span class="btn btn-default" id="goback">返&nbsp;回</span>
        <span class="btn btn-default" id="submit">确&nbsp;认</span>
    </div>
</div>
{% endblock %}


{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
{{ block.super }}
<script src="{% static 'poster/js/keywords.js' %}"></script>
{% endblock %}