{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
    <link rel="stylesheet"
          href="{% static 'website/css/select-template.css' %}"/>
{% endblock %}

{% block base_header_js %}
    {{ block.super }}
    <script src="{% static 'website/js/select-template.js' %}"></script>
{% endblock %}

{% block base_body %}
    <header class="templates-header">
        <h2 class="title">请选择模版</h2>
    </header>
    <ul class="templates-list" id="templates-list">
        {% for template in template_list %}
            <li class="template-item" data-id="{{ template.id }}">
                <a href="javascript:void(0);"><img
                        src="/media/{{ template.image.file.name }}"/></a>
            </li>
        {% empty %}
            <li class="empty-info">还没有添加模板</li>
        {% endfor %}

    </ul>
    <footer class="templates-footer">
        <form method="post" action="{% url 'poster:posterpage' %}"
              id="selForm">
            <input type="hidden" name="poster_id"
                   value="{{ request.GET.poster_id }}"/>
            <input type="hidden" name="template_id" id="template_id" value=""/>
            <a href="javascript:void(0);"
               class="btn btn-default history-back" data-back-url="{% url 'survey:start' poster_id=request.GET.poster_id %}?role=creator">返回</a>
            <a href="javascript:void(0);"
               class="btn btn-default create-template">创建</a>
        </form>
    </footer>
{% endblock %}

{% block base_body_footer %}
{% endblock %}