{% extends 'alatting_website/base.html' %}
{% load static %}
{% block base_header_css %}
<link rel="stylesheet" href="{% static 'website/css/select-template.css' %}"/>
{% endblock %}

{% block base_body %}
<header class="templates-header">

    <a href="javascript:history.back();" class="btn btn-back"><i class="glyphicon glyphicon-menu-left"></i> </a>
    <h2 class="title">请选择模版</h2>
</header>
<ul class="templates-list" id="templates-list">
    {% for template in template_list %}
    <li class="template-item">
        <a href="javascript:void(0);"><img src="/media/{{ template.image.file.name }}" /></a>
    </li>
    {% empty %}
    <li class="empty-info">还没有添加模板</li>

    {% endfor %}

</ul>
<footer class="templates-footer">
    <a href="javascript:void(0);" class="btn btn-default" onclick="history.back();">返回</a><a href="javascript:void(0);" onclick="yyAlert('提示信息');" class="btn btn-default">创建</a><a href="javascript:void(0);" onclick="yyAlert('asdasd');" class="btn btn-default">创建</a>
</footer>


{% endblock %}

{% block base_body_footer %}
{% endblock %}

{% block base_footer_js %}
    {{ block.super }}
<script src="{% static 'website/js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'website/js/select-template.js' %}"></script>
{% endblock %}