<div class="yunye-template">
    <div class="content">

         <div class="content-top"></div>
		 <div class="content-bottom-left"></div>
		 <div class="content-bottom-center"></div>
		 <div class="content-bottom-right"></div>
		 <!-- svg -->
		<svg class="clip-svg" preserveAspectRatio="none" width="0" height="0" viewBox="0 0 1 1">
			<defs>
			<clipPath id="content-top" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			<clipPath id="content-bottom-left" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			<clipPath id="content-bottom-center" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			<clipPath id="content-bottom-right" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			</defs>
		</svg>

    </div>
</div>
