<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{{ object.css.url }}">

</head>
<body>
<div class="poster-wrapper">
    <div class="poster-container">
        <img class="poster-background-image" src="/media/images/2015/09/09/1f71cf91-edb2-4bca-add1-5c30fa0c0e8b.jpg">
        <p>Welcome to my birthday party!</p>
        <p>Name: Tianhu Yang's Birthday Party</p>
        <p>Time: 3:00pm - 11:00pm, 09/09/2015</p>
        <p>Address: 834 W 24TH ST, Los Angeles,CA, USA, 90007</p>
        <p>Note: We have enough cakes!</p>
        <a style="color:pink" href="https://www.google.com/">Sign up here!</a>
    </div>
</div>
<script src="{{ object.script.url }}"></script>
</body>
</html>