<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{{ object.css.url }}">

</head>
<body>
<div class="poster-wrapper">
    <div class="poster-container">
        <img class="poster-background-image" src="{{ object.images_dict.1.image }}">
        <p>Welcome to my birthday party!</p>
        <p>Name: Tianhu Yang's Birthday Party</p>
        <p>Time: 3:00pm - 11:00pm, 09/09/2015</p>
        <p>Address: 834 W 24TH ST, Los Angeles,CA, USA, 90007</p>
        <p>Note: We have enough cakes!</p>
        <a class="poster-link0" href="https://www.google.com/">Sign up here!</a>
    </div>
</div>
<script src="{{ object.script.url }}"></script>
</body>
</html>