.content {
    width: 100%;
    height: 400px;
    padding: 10px;
    position: relative;
}

.content > div{
    background: #B5B1AB;
    overflow: hidden;
}

.content-top-left {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 95%,0 100%);
    clip-path: url(#content-top-left);
    width: 48%;
    height: 50%;
    position: absolute;
    left: 2%;
}

.content-top-right {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%,6% 94%);
    clip-path: url(#content-top-right);
    width: 48.5%;
    height: 50%;
    position: absolute;
    right: 2%;
}
.content-bottom {
    -webkit-clip-path: polygon(0% 9%, 100% 0%, 100% 100%,0 100%);
    clip-path: url(#content-bottom);
    position: absolute;
    top: 48.5%;
    right: 2%;
    width: 96%;
    height: 50%;
}