<div class="yunye-template">
    <div class="content">

		<div class="content-top-left"></div>
		<div class="content-top-right"></div>
		<div class="content-bottom"></div>

		 <!-- svg -->
		<svg class="clip-svg" preserveAspectRatio="none" width="0" height="0" viewBox="0 0 1 1">
			<defs>
			<clipPath id="content-top-left" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 0.5, 0 1"/>
			</clipPath>
			<clipPath id="content-top-right" clipPathUnits="objectBoundingBox">
				<polygon points="0 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			<clipPath id="content-bottom" clipPathUnits="objectBoundingBox">
				<polygon points="0.48 0, 1 0, 1 1, 0 1"/>
			</clipPath>
			</defs>
		</svg>


    </div>
</div>