{% load static %}
<form id="myForm" method="post" action="">{% csrf_token %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% for f in form %}
            <tr>
               <td>输入选项文本:{{ f.c_text }}</td>
                {% if f.c_text.errors %}
                    {% for error in f.c_text.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
               <td>输入选项的值:{{ f.c_value }}</td>
                {% if f.c_value.errors %}
                    {% for error in f.c_value.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
            {% if form.non_form_errors %}
                {% for error in form.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ form.management_form }}
    <input type="submit" value="Submit" />
</form>

<script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
<script src="{% static 'survey/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#myForm tbody tr').formset();
    })
</script>
