{% load static %}
{% load questionnaire %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,user-scalable=no" >
    <title>武汉云页移动科技有限公司</title>
    {% block base_header_css %}
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'website/css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'survey/css/survey-base.css' %}">
    {% endblock %}
    {% block base_header_js %}
        <script src="{% static 'libs/common/jquery1.11.3.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        
    {% endblock %}
    {% block base_header_extra %}
    {% endblock %}
</head>
<body>
<div class="body-container">
{% block base_body_header %}
{% endblock %}
{% block base_body %}
    <div class="qs container-fluid">
        <header class="qs-header">     
            <div class="progress-btm">{{qs_title}}</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                style="width: {{progress}}%;">{{progress}}%</div>
            </div> 
        </header>
        <div class="qs-body">
            <form class="form" id="qs-form" action="{{ request.path }}" method="POST">
                <div class="qs-list">
                    <div class="step">
                        {% for question, qdict in qlist %}
                        {% with errors|dictget:question.sortid as error %}
                            <div class="qs-list-section 
                            {% if forloop.last or qlist.count == 1 %}
                            {% else %}
                                qs-list-section-pre
                            {% endif %}">
                                <div class="qs-list-title"> 
                                    {% if question.required %}
                                        <span class="required-reminder">&#x2a;</span>
                                    {% endif %}
                                    {{question.text}}
                                </div>
                                {% if error %}
                                    <div class="error">{{error}}</div>
                                {% endif %}
                                {% include qdict.template %}
                            </div>
                        {% endwith %}
                        {% endfor %}
                    </div>
                    <div class="required-reminder-text"><span class="required-reminder">&#x2a;</span>必填</div>
                    
                    <div class="qs-footer">
                        {% if islast_creator%}
                            <div class="qs-footer-add-q" id="qs-footer-add-q">+ 添加问题</div>
                        {% endif %}
                        <div>
                            <a class="back btn btn-default" href="{{ prev_url }}">上一步</a>
                            {% if islast_consumer_repeat %}
                                <input type="submit" class="next btn btn-default" id="qs_islast_consumer_repeat" value="下一步">
                            {% elif  islast_consumer%}
                                <input type="submit" class="next btn btn-default"  id="qs_islast_consumer" value="下一步">
                            {% else %}
                                <input type="submit" class="next btn btn-default" value="下一步">
                            {% endif %}
                        </div>
                    </div>  
                </div>
            </form>
            <div class="qs-add hidden" id="qs-add">
                <div class="qs-add-inner">
                    <div class="qs-add-content">
                        <div class="add-qs-title">+ 添加问题</div>
                        <form id="add-qs-1">
                            <div class="form-inner">
                                <input type="text" name="poster_id" value="{{poster_id}}" class="hidden">
                                <div class="add-qs-subtitle-1">
                                    <div class="text-center">您所添加之问题，</br>经系统审核后将会显示于您的海报问卷中</div>
                                </div>
                                <textarea placeholder="请输入您的问题" id="add-qs-1-text"></textarea>
                                <div class="short-text-wrapper">
                                    <input type="text" name="add-qs-1-short-text" placeholder="请输入问题的简短描述（不超过6个字）">
                                </div>
                                <div class="add-qs-subtitle-2">
                                    <div class="text-center">问题类别</div>
                                </div>
                                <div class="add-qs-1-typelist">
                                    <div class="radio-label-wrapper"><label class="radio-inline"><input type="radio" name="add-qs-1-type" value="text">单行文本框</label></div>
                                    <div class="radio-label-wrapper"><label class="radio-inline"><input type="radio" name="add-qs-1-type" value="textarea">多行文本框</label></div>
                                    <div class="radio-label-wrapper"><label class="radio-inline"><input type="radio" name="add-qs-1-type" value="checkbox">多选</label></div>
                                    <div class="radio-label-wrapper"><label class="radio-inline"><input type="radio" name="add-qs-1-type" value="choice">单选</label></div>
 <!--                                    <label class="radio-inline"><input type="radio" name="add-qs-1-type" value="checkbox-input">多选，选项中有输入框</label>
                                    <label class="radio-inline"><input type="radio" name="add-qs-1-type" value="choice-input">单选，选项中有输入框</label>  -->
                                </div>
                            </div>
                            <div class="form-footer">
                                <a class="btn btn-default" id="add-qs-1-back-btn">取消</a>
                                <input type="submit" class="btn btn-default" id="add-qs-1-next-btn" value="下一步">
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="qs-add-choice hidden" id="qs-add-choice">
                <div class="qs-add-choice-inner">
                    <div class="qs-add-choice-content">
                        <div class="add-qs-title">+ 添加问题</div>
                        <form id="qs-add-choice-formset">{% csrf_token %}
                            <div class="form-inner">
                                <input type="text" name="qs-add-choice_q_id" id="qs-add-choice_q_id" class="hidden">
                                <div class="add-qs-subtitle-1">
                                    <div class="add-qs-subtitle-1">新添加的问题：</div>
                                    <div id="ad-qs-new-q"></div>
                                </div>
                                <div class="add-qs-subtitle-1">
                                    <div class="text-center">添加问题选项</div>
                                </div>
                                <table border="0" cellpadding="0" cellspacing="0" class="add-qs-choice-list">
                                    <tbody>
                                        {% for form in formset %}
                                            <tr>
                                                <td>{{ form.c_text }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {{ formset.management_form }}
                            </div>
                            <div class="form-footer">
                                <a class="btn btn-default" id="add-qs-2-back-btn">上一步</a>
                                <input type="submit" class="btn btn-default" id="add-qs-2-next-btn" value="确认">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block base_body_footer %}
{% endblock %}
{% block base_footer_js %}
    <script src="{% static 'survey/js/survey-base.js' %}"></script>
    <script src="{% static 'website/js/base.js' %}"></script>
    <script src="{% static 'survey/js/jquery.formset.js' %}"></script>
{% endblock %}
</div>
</body>
</html>