{% extends 'survey/mobile/questionset.html' %}
{% load static %}
{% load questionnaire %}
{% block base_body %}
    <div class="qs container-fluid">
        <header class="qs-header">   
            <div class="progress-btm">没有此类别的调查问卷</div>
        </header>
        <div class="qs-body">
            <form class="form" id="qs-form" action="{{ request.path }}" method="POST">
                <div class="qs-list">
                    <div class="qs-footer">
                        <div>
                            {% ifequal role "creator"%}
                                <a class="back btn btn-default" href="{% url 'poster:update_form' pk=poster_id %}">上一步</a>
                            {% else %}
                                <a class="back btn btn-default" href="{% url 'poster:show' pk=poster_id %}">上一步</a>
                            {% endifequal %}
                            <input type="submit" class="next btn btn-default" value="下一步">
                        </div>
                    </div>  
                </div>
            </form>
        </div>
    </div>
{% endblock %}