
/*body-header*/
.body-header{
    height: 300px;
    padding: 10px 0;
}
.header-left{
    width: 70px;
    float: left;
}
.hd-ctrl-li{
    width: 70px;
    height: 70px;
    padding:10px 0;
    text-align: center;
    cursor: pointer;
}
.hd-ctrl-li span{
    display: inline-block;
}
.hd-ctrl-li .ctrl-icon{
    width: 30px;
    height: 30px;
    font-size: 28px;
}
.header-right{
    margin-left: 70px;
    height: 100%;
    position: relative;
}
.hd-left-img{
    width: 140px;
    height: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -130px;
    -webkit-box-shadow:  0px 0px 10px #7d7d7d;
    -moz-box-shadow:  0px 0px 10px #7d7d7d;
    box-shadow:  0px 0px 10px #7d7d7d;
}
.hd-left-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.hd-close{
    position: absolute;
    right: 10px;
    z-index: 9;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #5e5e5e;
    -moz-box-shadow: 0 0 10px #5e5e5e;
    box-shadow:  0 0 10px #5e5e5e;
}
.hd-close .fa{
    font-size: 20px;
}

/*quote-consult */
.quote-consult {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: auto;
    width: 60px;
    height: 60px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.quote-consult span{
    display: inline-block;
}
.quote-consult .ctrl-icon{
    width: 25px;
    height: 25px;
    font-size: 22px;
}
.quote-consult .ctrl-name{
    font-size: 11px;
}

/*body-main-title*/
.body-main-title{
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    background: #ffffff;
}
.title-star{
    float: right;
    width: 100px;
    margin: 10px 15px;
    height: 20px;
}
.title-name{
    margin-right: 120px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 39px;
    font-weight: 600;
    padding-left: 15px;
}

/*body-main*/
.body-li{
    background: #ffffff;
}

/*main-plist*/
.main-plist{
    padding: 15px 0;
    min-height: 150px;
    border-bottom: 1px solid #eaeaea;
    display: none;
}

/*body-tips*/
.body-tips{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
}
.tips-main{
    height: 400px;
    padding: 0 15px;
    background: #ffffff;
    position: relative;
    top: 50%;
    margin-top: -200px;
    margin-right:20px;
    margin-left:20px;
    -webkit-box-shadow: 0 3px 10px #000000;
    -moz-box-shadow: 0 3px 10px #000000;
    box-shadow:  0 3px 10px #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.close-tips{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.tips-title{
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
}
.tips-title .fa{
    display: inline;
    font-size: 24px;
}
.tips-info{
    height: 300px;
    overflow: auto;
}

/*body-share*/
.body-share{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.7);
}
.share-share{
    position: absolute;
    top: 80px;
    color: #ffffff;
}
.share-li{
    width: 70px;
    height: 70px;
    position: absolute;
    left:120px;
    top: 80px;
    margin-left: -35px;
    margin-top:-35px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #000000;
    padding: 15px;
    text-align: center;
}
.share-li .fa{
    font-size: 38px;
}

/*body-comments*/
.body-comments{
    min-height: 500px;
    display: none;
}

/*body-makecomt*/
.body-makecomt{
    display: none;
    height: 400px;
    padding: 15px;
}
.mcom-star ul{
    color: #c0c0c0;
    padding: 20px 0;
    text-align: center;
}
.mcom-star ul li{
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    font-size: 26px;
}
#mcom-order{
    background: #d3d3d3;
}
