html {
    height: 100%;
}

body {
    height: 100%;
}

input {
    outline: none;
}

.login {
    background-image: url("../img/platform_mobile_yunye.png");
    background-size: cover;
    min-height: 100%;
}

.login a {
    color: white;
    text-decoration: none;
}

.login .centerdiv img {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 20%;
}

.login .list-login {
    margin: 20% 0 0 0;
    padding:0;
}

.login .list-login img {
    max-width: 7%;
    margin-bottom: 3%;
    margin-left: 4%;
}

.login .list-login li {
    border-style: none none solid none;
    border-bottom-width: thin;
    width: 85%;
    margin: 6% auto 0;

}

.login .list-login input {
    border-style: none;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.2em;
    color: white;
    width: 80%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    line-height: 200%;
}

.login .btn-block {
    width: 85%;
    margin: 5% auto 0;
}

.login .item-checkbox {
    margin-left: 8%;
    margin-top: 5%;
    color: white;
}

.login .logincheckbox {
    -webkit-appearance: checkbox;
    margin-right: 5px;
}

.login .item-checkbox .fotgetpwd {
    float: right;
    margin-right: 9%;
}

.regist {
    background-image: url("../img/platform_mobile_yunye.png");
    background-size: cover;
    min-height: 100%;
}

.regist .glyphicon-menu-left {
    font-size: 2em;
}

.rgheader {
    height: 50px;
    line-height: 50px;
    position: relative;
}

.rgheader .btn-back {
    display: inline-block;
    padding: 13px 10px;
    height: 24px;
    box-sizing: content-box;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

.icon-back {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(../img/arrow.png) no-repeat;
    background-size: auto 100%;
    vertical-align: top;
}

.regist .list {
    padding-top: 24%;
}

.regist .list-li {
    width: 95%;
    list-style-type: none;
    border-style: none none solid none;
    border-bottom-width: thin;
    margin-top: 7%;
    margin-left: -3%;
}

.regist .list-li .btn-success {
    display: block;
    float: right;
    padding: 0 6px;
    background-color: #5cb85c;
    width: 30%;
}

.regist .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 1%;
    padding: 0 6px;
    background-color: rgb(171, 171, 171);
    width: 41%;
}

.regist .list-li .codeinput {
    width: 40%;
}

.regist a {
    text-decoration: none;
    color: white;
}

.regist img {
    max-width: 6%;
    margin-bottom: 3%;
    margin-left: 4%;
}

.regist .rgheader {
    background-image: url("../img/headerbg.png");
    background-size: cover;
}

.regist .rgheader img {
    max-width: 4%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-top: 2%;
}

.regist .rgheader h3 {
    text-align: center;
    font-size: 1.4em;
    color: white;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

.forget-pwd .rgheader h3 {
    text-align: center;
    font-size: 1.4em;
    color: black;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

.forget-reset .rgheader h3 {
    box-shadow: 0px 1px 1px 1px #d1d1d1;
    color: black;
    text-align: center;
    font-size: 1.3em;
    color: black;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

.forget-pwd .icon-back {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(../img/arrow-block.png) no-repeat;
    background-size: auto 100%;
    vertical-align: top;
}

.forget-reset .icon-back {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: url(../img/arrow-block.png) no-repeat;
    background-size: auto 100%;
    vertical-align: top;
}

.regist .btn-block {
    width: 85%;
    margin: 10% auto 0;
}

.regist .list-li input {
    line-height: 200%;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    margin-left: 3%;
    font-size: 1.2em;
    color: white;
    width: 80%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.forget-pwd .list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.forget-pwd .list-li-first {
    box-shadow: inset 0px 1px 1px 0px #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
}

.forget-pwd .list-li {
    margin-top: 3%;
    box-shadow: inset 0px 1px 1px 0px #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
}

.forget-pwd .list-lion {
    line-height: 3em;
    padding-left: 3%;
    box-shadow: inset 0px 1px 1px 0px #ccc;
    border-bottom: 0px solid #ccc;
    font-size: 1.2em;
    color: #999;
}

.forget-pwd .list input {
    margin-top: 2%;
    padding-left: 3%;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    font-size: 1.2em;
    width: 50%;
    line-height: 50px;

}

.forget-pwd .list-li .btn-success {
    display: block;
    float: right;
    margin-top: 4%;
    margin-right: 2%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 28%;
    line-height: 2em;
}

.forget-pwd .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 4%;
    padding: 0px 6px;
    background-color: rgb(171, 171, 171);
    width: 38%;
    line-height: 2em;
}

.forget-pwd .btn-block {
    width: 96%;
    margin-left: 2%;
    margin-top: 5%;
    background-color: #5cb85c;
}

.forget-pwd .fgheader img {
    max-width: 4%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-top: 2%;
}

.forget-reset .fgheader img {
    max-width: 4%;
    margin-bottom: 3%;
    margin-left: 4%;
    margin-top: 2%;
}

.forget-pwd .fgheader span {
    margin-left: 36%;
    font-size: 1.3em;
    color: black;
}

.forget-reset .fgheader span {
    margin-left: 36%;
    font-size: 1.5em;
    color: black;
}

.forget-reset {
    display: none;
}

.forget-reset .list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.forget-reset .list-li-first {
    box-shadow: inset 0px 1px 1px 0px #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-top: 5%;
    background: white;
}

.forget-reset .list-li {
    box-shadow: inset 0px 1px 1px 0px #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    margin-top: 2%;
    background: white;
}

.forget-reset .list input {
    width: 100%;
    padding-left: 3%;
    margin-top: 2%;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    font-size: 1.2em;

}

.forget-reset .list-li .btn-success {
    display: block;
    float: right;
    margin-top: -9%;
    margin-right: 10%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 30%;
}

.forget-reset .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 1%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 41%;
}

.forget-reset .btn-block {
    width: 96%;
    margin-left: 2%;
    margin-top: 5%;
    background-color: #5cb85c;
}