html {
    height: 100%;
}

body {
    height: 100%;
}

.login {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../img/platform_mobile_yunye.png");
    background-size: cover;
    height: 100%;
}

.login a {
    color: white;
    text-decoration: none;
}

.login .centerdiv img {
    max-width: 30%;
    margin-left: 35%;
    margin-top: 25%;
}

.login .list-login {
    margin-top: 25%;
}

.login .list-login img {
    max-width: 7%;
    margin-bottom: 3%;
    margin-left: 4%;
}

.login .list-login label {
    border-style: none none solid none;
    border-bottom-width: thin;
    border-color: #fff;
    width: 95%;
    margin-top: 6%;
    margin-left: -3%;

}

.login .list-login input {
    border-style: none;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.2em;
    color: white;
    width: 80%;
}

.login .btn-block {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

.login .item-checkbox {
    margin-left: 5%;
    margin-top: 3%;
    color: white;
}

.login .item-checkbox .fotgetpwd {
    float: right;
    margin-right: 5%;
}

.regist {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../img/platform_mobile_yunye.png");
    background-size: cover;
    height: 100%;
}

.regist .list {
    padding-top: 40%;
}

.regist .list-li {
    width: 95%;
    list-style-type: none;
    border-style: none none solid none;
    border-bottom-width: thin;
    border-color: #fff;
    margin-top: 7%;
    margin-left: -3%;
}

.regist .list-li .btn-success {
    display: block;
    float: right;
    margin-top: 1%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 30%;
}

.regist .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 1%;
    padding: 0px 6px;
    background-color: rgb(171, 171, 171);
    width: 41%;
}

.regist .list-li .codeinput {
    width: 40%;
}

.regist a {
    text-decoration: none;
    color: white;
}

.regist img {
    max-width: 6%;
    margin-bottom: 3%;
    margin-left: 4%;
}

.regist .btn-block {
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}

.regist .list-li input {
    border-style: none;
    background: rgba(255, 255, 255, 0);
    margin-left: 3%;
    font-size: 1.2em;
    color: white;
    width: 80%;
}

.forget-pwd {
    margin-top: 15%;
}

.forget-pwd .list-li {
    border-style: none;
    width: 100%;
    background: #ccc;
    margin-top: 5%;
    margin-left: -6%;
}
.forget-pwd .list-lion {
    border-style: none;
    width: 100%;
    margin-top: 5%;
    margin-left: -6%;
    font-size: 1.2em;
}
.forget-pwd .list input {
    padding-top: 5%;
    margin-top: 2%;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    margin-left: 1%;
    font-size: 1.2em;

}

.forget-pwd .list-li .btn-success {
    display: block;
    float: right;
    margin-top: 4%;
    margin-right: 10%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 30%;
}

.forget-pwd .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 4%;
    padding: 0px 6px;
    background-color: rgb(171, 171, 171);
    width: 35%;
}

.forget-pwd .btn-block {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #5cb85c;
}
.forget-reset{
    display: none;
}
.forget-reset {
    margin-top: 15%;
}

.forget-reset .list-li {
    border-style: none;
    width: 100%;
    background: #ccc;
    margin-top: 5%;
    margin-left: -6%;
}

.forget-reset .list input {
    width: 100%;
    padding-top: 5%;
    margin-top: 2%;
    border-style: none;
    background: rgba(255, 255, 255, 0);
    margin-left: 1%;
    font-size: 1.2em;

}

.forget-reset .list-li .btn-success {
    display: block;
    float: right;
    margin-top: -9%;
    margin-right: 10%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 30%;
}

.forget-reset .list-li .btn-default {
    display: none;
    float: right;
    margin-top: 1%;
    padding: 0px 6px;
    background-color: #5cb85c;
    width: 41%;
}

.forget-reset .btn-block {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #5cb85c;
}