
/*body-header*/
.body-header{
    background: #ffffff;
}
.head-top{
    height: 180px;
    border-bottom: 1px solid #cccccc;
}
.head-top-right{
    font-size: 13px;
    width: 70px;
    height: 100%;
    float: right;
}
.top-rt-item{
    height: 60px;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.top-rt-item:last-child{
    border:none;
}
.top-rt-item .fa{
    height: 30px;
    font-size: 28px;
    margin-top: 3px;
}
.head-top-left{
    position: relative;
    height: 100%;
    margin-right: 70px;
    padding: 15px 10px;
    border-right: 1px solid #cccccc;
}
.user-friends{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.user-level{
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 40px;
    font-size:24px;
}
.user-setting{
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size:25px;
}
.user-shopcart{
    width: 50px;
    height: 50px;
    font-size: 28px;
    padding: 5px 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #e4e4e4;
    -webkit-box-shadow: 0px 0px 8px #6b6b6b;
    -moz-box-shadow: 0px 0px 8px #6b6b6b;
    box-shadow: 0px 0px 8px #6b6b6b;

    position: absolute;
    bottom: 10px;
    right: 10px;
}
.user-info-li{
    display: block;
}
.user-icon{
    height:80px;
    width: 80px;
    margin: 10px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    overflow: hidden;
}
.user-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.user-name{
    text-align: center;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

/*body-main*/
.body-main{
    position: relative;
    overflow: hidden;
}

.main-head{
    background: #ffffff;
    height: 40px;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 10px #7c7c7c;
}
.head-bot-li{
    float: left;
    width: 50%;
    padding: 5px;
    height: 100%;
    line-height: 30px;
    text-align: center;
}
.head-bot-li span{
    display: inline-block;
    vertical-align: middle;
}
.head-bot-li .glyphicon{
    font-size: 18px;
    top: 1px;
    display: none;
}
.head-bot-name{
    font-size: 16px;
}
.head-bot-act{
    color:#191919;
    background: #e3e3e3;
}
.head-bot-act .glyphicon{
    display: inline;
}
/*main-list*/
.main-list{
    overflow: hidden;
    margin-top: 40px;
    min-height: 700px;
    padding: 10px 5px 70px;
    position: relative;
}
.main-li{
    width: 50%;
    float: left;
    padding:0 5px;
    margin:10px 0;
}
.mli-cont{
    position: relative;
    box-shadow: 0 3px 10px #7c7c7c;
}
.p-cont,.madd-cont{
    width: 100%;
    position: relative;
}
.p-cont-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.p-cont-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}
.info-cont-money{
    display: none;
    width: 60px;
    height: 60px;
    text-align: center;
    right: 0px;
    top: 0px;
    position: absolute;
}
.info-cont-money .money-icon{
    display: block;
    position: absolute;
    font-size: 18px;
    top: 3px;
}
.info-cont-money .money-num{
    display: block;
    font-size: 26px;
    font-width: 600;
    line-height: 60px;
}
.info-cont-money .money-unit{
    display: block;
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    right: 0px;
}
.info-cont-name{
    margin-right: 60px;
    padding:5px 0 5px 5px;
}
.info-cont-name .cont-name{
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cont-star{
    display: block;
    height: 20px;
    line-height: 25px;
    margin: 2.5px 0;
}
.p-ctrl{
    display: none;
    position: absolute;
    z-index: 9;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.p-ctrl-li{
    width: 70px;
    height: 70px;
    background: #f5f5f5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    padding:10px 0;
    text-align: center;
    cursor: pointer;
}
.p-ctrl-li span{
    display: inline-block;
    vertical-align: bottom;
}
.p-ctrl-li .ctrl-icon{
    width: 30px;
    height: 30px;
    font-size: 24px;
    color: #808080;
    top: 5px;
}
.ctrl-lefttop{
    margin-left: -75px;
    margin-top: -75px;
    top: 0;
    left: 0;
}
.ctrl-righttop{
    margin-left: 5px;
    margin-top: -75px;
    top: 0;
    left: 100%;
}
.ctrl-leftbot{
    margin-left: -75px;
    margin-top: 5px;
    top: 100%;
    left: 0;
}
.ctrl-rightbot{
    margin-left: 5px;
    margin-top: 5px;
    top: 100%;
    left: 100%;
}
.p-ctrl-bot{
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 40px;
    font-size: 28px;
    color: #a4a4a4;
    text-align: center;
}
.p-ctrl-bot .fa{
    display: inline;
}
.cbot-left{
    left: 0px;
}
.cbot-right{
    right: 0px;
}

.ctrl-name{
    font-size: 14px;
    color: #737373;
}

.main-provide{
    display: block;
}

.main-need{
    display: none;
}

/*main-li-add*/
.ctrl-add{
    background: #ffffff;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 20px #090909;
}
.ctrl-add .ctrl-icon{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #a1a1a1;
}
/*body-vip*/
.body-vip{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
    overflow: auto;
    display: none;
    background: #ffffff;
}
.body-vip .vip-h3{
    line-height: 40px;
    text-align: center;
    background:white;
    margin-bottom: 0;
    margin-top: 0;
    /*border-top: 1px solid #ccc;*/
}
.body-vip .vip-canvas{
    background:rgb(51,51,51);
    position: relative;
}
.body-vip .vip-sign{
    position: absolute;
    width: 90px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -45px;
}
.body-vip .process{
    margin:0 auto;
    width:300px;
    height:300px;
    display:block;
}
.body-vip .vip-lv{
    height:50px;
    background:rgb(51,51,51);
    text-align: center;
}
.body-vip .vip-lv span{
    display: inline-block;
    vertical-align: bottom;
    line-height: 30px;
}
.lv-icon{
    width: 40px;
    height: 30px;
}
.lv-name{
    font-size: 20px;
    font-weight: 600;
}

.body-vip .vip-footer{
    background: #ffffff;
    height: 80px;
}
.vip-footer ul{
    width:50%;
    float:left;
    font-weight: 600;
}
.vip-footer ul:first-child{
    background:#ccc;
}
.vip-footer  li{
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
/*body-deal*/
.body-deal{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    overflow: auto;
    z-index: 1000;
    background: #fff;
    display: none;
}
.deal-header{
    text-align: center;
    vertical-align: middle;
    background: rgb(174,174,174);
    -webkit-box-shadow: inset 0px 7px 20px 0 rgb(153,153,153);
    -moz-box-shadow: inset 0px 7px 20px 0 rgb(153,153,153);
              box-shadow: inset 0px 7px 20px 0 rgb(153,153,153);
    padding: 10px 0;
    border-bottom: 1px solid rgb(108,108,108);
}
.deal-header .glyphicon-file{
    font-size: 14px;
    color: rgb(107,107,107);
}
.deal-header span{
    font-size: 14px;
    font-weight: 800;
    color: rgb(73,73,73);
}
.deal-contain{
    height: 63%;
    background: rgb(194,194,194);
}
.deal-contain img {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 24%;
    right: 30%;
    top: 12%;
}
.deal-contain .fa-angle-left{
    font-size: 50px;
    position: absolute;
    top: 35%;
    left:10%;
    color: rgb(115,115,115);
}
.deal-contain .fa-angle-right{
    font-size: 50px;
    position: absolute;
    top: 35%;
    right:10%;
    color: rgb(115,115,115);
}
.deal-contain .fa-angle-left,.fa-angle-right:active{
    color:#727274;
}
.deal-footer{
    height: 30%;
}
.deal-footer .deal-left{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    float: left;
    width: 30%;
    background: rgb(214,214,214);
    color: rgb(101,101,101);
}
.deal-footer .deal-right{
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    float: left;
    width: 70%;
    background: rgb(232,232,232);
    color: rgb(101,101,101);
}
.deal-footer li{
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(122,122,122);
    padding:5px 0;
}
.deal-footer .fa{
    padding: 0 5px;
}
/**购物车*/
.body-shopping{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: none;
    background: #fff;
}
.body-shopping .shopping-header{
    text-align: center;
    vertical-align: middle;
    background: rgb(229,229,229);
    padding: 10px 0;
    font-size: 16px;
}
.body-shopping .fa-close{
    float: right;
    margin-top: -28px;
    margin-right: 9px;
    font-size:18px;
}
.shopping-contain{

}
.shopping-title{
    height: 50px;
    overflow: hidden;
    border-top: 1px solid  rgb(83,83,83);
}
.shopping-div{
    border-top: 1px solid  rgb(205,205,205);
    height: 45px
}
.shopping-contain .shopping-server,.shopping-serverdiv{
    float: left;
    width: 40%;
    padding: 10px 20px;
}
.shopping-contain .shopping-time,.shopping-timediv{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px 0;
}
.shopping-contain .shopping-price,.shopping-pricediv{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px 0;
}
.shopping-title .shopping-server,.shopping-time,.shopping-price{
    line-height: 50px;
}
.body-shopping .shopping-footer{
    position:absolute;
    top: 73%;
    width: 100%;
    height: 27%;
}
.shopping-footer .shopping-total,.shopping-totaln{
    float: right;
}
.shopping-statement{
    padding: 10px  10px;
/*    text-align: center;*/
    vertical-align: middle;
    width: 100%;
    border-top: 1px solid rgb(102,102,102);
    background: rgb(229,229,229);
}
.statement-footer{
    height: 80%;
}
.statement-footer a{
    top: 47%;
    position: absolute;
    left: 29%;
    padding: 10px 60px;
    background: rgb(0,133,169);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    box-shadow: 0px 0px 8px #6b6b6b;
}
.statement-footer .fa-shopping-cart{
    padding:0 5px;
    font-size: 14px;
}
.shopping-statement  .statement-left{
    float: left;
}
.shopping-statement  .statement-right{
    float: left;
}
.body-deal{
    display: none;
}
/*body-share*/
.body-share{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    display: none;
}
.share-li{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top:-35px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #000000;
    padding: 15px;
    text-align: center;
}
.share-li .fa{
    font-size: 38px;
}
.share-share{
   z-index: 9;
}
.share-share .fa{
    font-size: 25px;
}
.share-share  .share-name {
    color: #000;
    font-size: 12px;
}





