/**/
/*footer*/
.footer {
    max-width:600px;
}
/*header*/
header {
    position: absolute;
    height: 44px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    max-width:600px;
    margin: 0 auto;
}
/*header tabs*/
.header-tabs {
    position: relative;
    height: 100%;
    border-bottom: 1px solid #d3d3d3;
}
.header-tabs .tabs-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
    width: 100%;
}
.header-tabs .tabs-navigation-item {
    display: table-cell;
}
.header-tabs .tabs-navigation-item a{
    color: #aaa;
}
.header-tabs .tabs-navigation-icon .fa{
    font-size: 25px;
}
.header-tabs .tabs-navigation-title {
    font-size: 10px;
    line-height: 10px;
    display: block;
}
.header-tabs li a:hover, .header-tabs li.active a {
    color: #666;
}

/*body-header*/
.body-header{
    background: #ffffff;
}
.head-top{
    height: 150px;
    /*border-top: 1px solid #cccccc;*/
    border-bottom: 1px solid #cccccc;
}
.head-top-right{
    width: 80px;
    height: 100%;
    float: right;
}
.top-rt-item{
    height: 50%;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.top-rt-item .fa{
    height: 35px;
    font-size: 32px;
}
.myfavorite{
    border-bottom: 1px solid #cccccc;
}
.head-top-left{
    position: relative;
    height: 100%;
    margin-right: 80px;
    padding: 15px 10px;
    border-right: 1px solid #cccccc;
}
.user-friends{
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.user-level{
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size:24px;
}
.user-setting{
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 15px;
    width: 30px;
    height: 30px;
    font-size:30px;
}
.user-info{
    line-height: 120px;
    text-align: center;
}
.user-info-li{
    display: inline-block;
    vertical-align: bottom;
}
.user-icon{
    height:100px;
    width: 100px;
    margin: 10px 0;
}
.user-icon img{
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user-name{
    font-size: 25px;
    max-width: 100px;
    overflow: hidden;
}
.head-bot{
    height: 40px;
}
.head-bot-li{
    float: left;
    width: 50%;
    padding: 5px;
    height: 100%;
    line-height: 30px;
    text-align: center;
}
.head-bot-li span{
    display: inline-block;
    vertical-align: middle;
}
.head-bot-li .glyphicon{
    font-size: 20px;
    top: -1px;
}
.head-bot-name{
    font-size: 16px;
}
.head-bot-act{
    color:#191919;
    background: #e3e3e3;
}

/*body-main*/
.body-main{
    min-height: 600px;
    padding: 10px 5px 70px;
    box-shadow: 0 3px 10px #7c7c7c inset;
    position: relative;
}
.main-list{
    overflow: hidden;
}
.main-li{
    width: 50%;
    float: left;
    padding:0 5px;
    margin:10px 0;
}
.mli-cont{
    position: relative;
    box-shadow: 0 3px 10px #7c7c7c;
}
.p-cont,.madd-cont{
    width: 100%;
    position: relative;
}
.p-cont-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.p-cont-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}
.info-cont-money{
    width: 60px;
    height: 60px;
    text-align: center;
    right: 0px;
    top: 0px;
    position: absolute;
}
.info-cont-money .money-icon{
    display: block;
    position: absolute;
    font-size: 18px;
    top: 3px;
}
.info-cont-money .money-num{
    display: block;
    font-size: 26px;
    font-width: 600;
    line-height: 60px;
}
.info-cont-money .money-unit{
    display: block;
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    right: 0px;
}
.info-cont-name{
    margin-right: 60px;
    padding:5px 0 5px 5px;
}
.info-cont-name .cont-name{
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cont-star{
    display: block;
    height: 20px;
    line-height: 25px;
    margin: 2.5px 0;
}
.p-ctrl{
    display: none;
    position: absolute;
    z-index: 9;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.p-ctrl-li{
    width: 70px;
    height: 70px;
    background: #f5f5f5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    padding:10px 0;
    text-align: center;
    cursor: pointer;
}
.p-ctrl-li span{
    display: inline-block;
    vertical-align: bottom;
}
.p-ctrl-li .ctrl-icon{
    width: 30px;
    height: 30px;
    font-size: 28px;
    color: #808080;
    top: 5px;
}
.ctrl-lefttop{
    margin-left: -75px;
    margin-top: -75px;
    top: 0;
    left: 0;
}
.ctrl-righttop{
    margin-left: 5px;
    margin-top: -75px;
    top: 0;
    left: 100%;
}
.ctrl-leftbot{
    margin-left: -75px;
    margin-top: 5px;
    top: 100%;
    left: 0;
}
.ctrl-rightbot{
    margin-left: 5px;
    margin-top: 5px;
    top: 100%;
    left: 100%;
}
.ctrl-name{
    font-size: 14px;
    color: #737373;
}

.main-provide{
    display: block;
}

.main-need{
    display: none;
}

/*main-li-add*/
.ctrl-add{
    background: #ffffff;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 20px #090909;
}
.ctrl-add .ctrl-icon{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #a1a1a1;
}
/*body-vip*/
.body-vip{
    width: 100%;
    height: 100%;
    top: 22%;
    left: 0;
    position: fixed;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
    display: block;
}
.body-vip .vip-h3{
    line-height: 40px;
    text-align: center;
    background:white;
    margin-bottom: 0;
    margin-top: 0;
    border-top: 1px solid #ccc;
}
.body-vip .vip-canvas{
    background:rgb(51,51,51);
}
.body-vip .process{
    margin:0 auto;
    width:300px;
    height:300px;  
    display:block;  
}
.body-vip .vip-lv{
    height:14.5%;
    background:rgb(51,51,51);
}
.body-vip .vip-lv span{
    color:rgb(255,200,37);
    text-align: center;
    margin-left: 40%;
}
.body-vip .vip-footer{

}
.vip-footer ul{
    width:50%;
    float:left;
}
.vip-footer ul:first-child{
    background:#ccc;
}
.vip-footer  li{
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}
/*body-share*/
.body-share{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    display: none;
}
.share-li{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top:-35px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #000000;
    padding: 15px;
    text-align: center;
}
.share-li .fa{
    font-size: 38px;
}
.share-share{
   z-index: 9;
}
.share-share .fa{
    font-size: 25px;
}
.share-share  .share-name {
    color: #000;
    font-size: 12px;
}





