{% load static %}

{% include "poster/mobile/edit/plugins/color.html" %}
{% include "poster/mobile/edit/plugins/text-editor.html" %}
{% include "poster/mobile/edit/plugins/button-editor.html" %}
{% include "poster/mobile/edit/plugins/system-image.html" %}
{% include "poster/mobile/edit/plugins/change-template.html" %}
{% include "poster/mobile/edit/plugins/dropdown.html" %}
{% include "poster/mobile/edit/plugins/upload-image.html" %}

<script src="{% static 'poster/plugins/button/scale.js' %}"></script>
<script src="{% static 'poster/plugins/button/button-edit.js' %}"></script>
<script src="{% static 'poster/plugins/textEditor/teditor.js' %}"></script>

<link rel="stylesheet" href="{% static 'libs/common/video-js5.0.0.css' %}">

